@()

<script src="/assets/ckeditor/ckeditor.js"></script>
<link href="sample.css" rel="stylesheet">
<style>

/* Style the CKEditor element to look like a textfield */
.cke_textarea_inline
{
padding: 10px;
height: 200px;
overflow: auto;

border: 1px solid gray;
-webkit-appearance: textfield;
}

</style>

<div style="padding: 5%">
    <div style="padding: 2em 4%; background-color: #ffffff; border-radius: 5px;">

        <div class="content">
            <form name="Article" action="/ArticleIn" method="POST" enctype="multipart/form-data">
                <input type="text" value="title" name="title" size="56" >
                <input type="file" name="picture">

                <br>
                Oppsummering: <br>
                <textarea rows="10" cols="50" name="ingress" value="Skriv en kort oppsummering her"></textarea><br>
                Om eventet: <br>
                <div style = "background-color: #ffffff">
                    <textarea rows="10" cols="100" name="text" value="Skriv ditt innlegg her"></textarea>
                </div>
                <input type="submit" value="Submit">
                <input type="checkbox" value="Event" name="event">
            </form>
            <script>
            CKEDITOR.inline( 'text' );
            </script>
        </div>
    </div>
        </div>
