@(title: String, content: Html, notIndex: Boolean)

@layoutWithHead(title) {
    <div class="container-fluid center-container space-above">
        <div class="row space-below">
            <div class="col-xs-12">
                <div class="page-box">
                    <div class="row">
                        <div class="col-xs-12">
                            @if(notIndex) {
                                <div class="buttons">
                                    <a class="pull-right btn btn-primary" href="@admintools.routes.Admin.index">Tilbake</a>
                                </div>
                            }
                            <h5 class="top-text">Admin</h5>
                        </div>
                    </div>
                    @content
                </div>
            </div>
        </div>
    </div>
} {
}
