@import profile.models.User
@import util._
@(user: User, showTitles: Boolean, uid: Long, rootAccess: Boolean)
@if(showTitles){<hr>
<div style="display: table-row">
	<div style="display: table-cell"> Id </div>
	<div style="display: table-cell"> Link </div>
@*	<div style="display: table-cell"> Brukernavn </div> *@
	<div style="display: table-cell"> Arrkom </div>
	<div style="display: table-cell"> Medlem </div>
	<div style="display: table-cell"> Jentekom </div>
	<div style="display: table-cell"> Redaksjon </div>
	<div style="display: table-cell"> Bedkom </div>
	<div style="display: table-cell"> Vevkom </div>
	@if(rootAccess) {
			<div style="display: table-cell"> Admin </div>
	}
	<div style="display: table-cell"> Kjønn </div>
	<div style="display: table-cell"> Avgangsår </div>
	<div style="display: table-cell"> </div>
	@if(rootAccess) {
		<div style="display: table-cell"> </div>
	}
</div>
}
<div style="display: table-row">
	<div style="display: table-cell">
		@uid
	</div>
	<div style="display: table-cell">
		<a href="@profile.routes.Profile.index(user.getUsername)">@user.getUsername</a>
	</div>
@*	<div style="display: table-cell">
		<input class="form-control" type="text" name="username" form="form_@uid" value="@user.getUsername">
	</div> *@
	<div style="display: table-cell">
		<input type="checkbox" name="arrkom" form="form_@uid" @TextUtil.bool2checked(user.isInArrkom)>
	</div>
	<div style="display: table-cell">
		<input type="checkbox" name="member" form="form_@uid" @TextUtil.bool2checked(user.isMember)>
	</div>
	<div style="display: table-cell">
		<input type="checkbox" name="jentekom" form="form_@uid" @TextUtil.bool2checked(user.isInJentekom)>
	</div>
	<div style="display: table-cell">
		<input type="checkbox" name="redaksjonen" form="form_@uid" @TextUtil.bool2checked(user.isInRedaksjonen)>
	</div>
	<div style="display: table-cell">
		<input type="checkbox" name="bedkom" form="form_@uid" @TextUtil.bool2checked(user.isInBedkom)>
	</div>
	<div style="display: table-cell">
		<input type="checkbox" name="vevkom" form="form_@uid" @TextUtil.bool2checked(user.isInVevkom)>
	</div>
    @if(rootAccess){
        <div style="display: table-cell">
            <input type="checkbox" name="admin" form="form_@uid" @TextUtil.bool2checked(user.isAdmin)>
        </div>
    }
	<div style="display: table-cell">
		<select class="form-control" name="gender" form="form_@uid">
			<option value="U" @TextUtil.bool2selected(user.isUnknownGender)>Ikke satt</option>
			<option value="M" @TextUtil.bool2selected(user.isMale)>Mann</option>
			<option value="F" @TextUtil.bool2selected(user.isFemale)>Kvinne</option>
		</select>
	</div>
	<div style="display: table-cell">
		<input class="form-control" type="text" name="graduationYear" form="form_@uid" value="@user.getGraduationYear">
	</div>
	<div style="display: table-cell">
		<input class="btn btn-primary" type="submit" form="form_@uid">
	</div>
    @if(rootAccess) {
        <div style="display: table-cell">
            <button class="btn btn-danger" type="submit" name="delete" form="form_@uid">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
        </div>
    }
</div>
