# Ignore backup and local test data
conf/evolutions/default/backup.sql
conf/evolutions/default/backup/
conf/evolutions/default/3.sql
public/uploads/

# Ignore Eclipse
.classpath
.project
.settings/

# Ignore Intellij
.idea/
*.iws

# Ignore Play! working directory #
bin/
.eclipse
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.iml
*.eml
/dist/
.cache
.*
RUNNING_PID
