# Ignore Eclipse
.classpath
.project
.settings/

# Ignore Intellij
.idea/
*.iml
*.iws

# Ignore Play! working directory #
bin/
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.iml
*.eml
/dist/
.cache
.*
RUNNING_PID
