<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation_menu">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" id="home" href="@application.routes.Application.index()"><img src="/assets/images/Griff, drop shadow.png" id="logo" ></a>
		</div>
		<div class="collapse navbar-collapse" id="navigation_menu">
			<ul class="nav navbar-nav">

				@if(models.LoginState.isValidlyLoggedIn()) {<li><a href="@application.routes.Application.frontPage()">Forside</a></li>}
				@if(models.LoginState.getUser().canCreateNewArticle()) {<li><a href="@article.routes.ArticleIn.index()">Nytt Innlegg</a></li>}
				<li><a href="@bedrift.routes.Bedrift.index()">Bedrift</a></li>
				<li><a href="@calendar.routes.Calendar.display()">Kalender</a></li>
				<li><a href="@abouthybrida.routes.AboutHybrida.index()">Om Hybrida</a></li>
			</ul>
			<form class="navbar-form navbar-right" role="search" action="@controllers.routes.Search.index()" method="GET">
				<div class="form-group">
					<input id="navbar-search" type="text" class="form-control" name="term" placeholder="Søk"/>
				</div>
			</form>
			<ul class="nav navbar-nav navbar-right">
				@if(models.LoginState.isValidlyLoggedIn()) {
					<li class="dropdown">
						<a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">@(models.LoginState.getUser().getName())</a>
						<ul class="dropdown-menu" role="menu">
							<li> <a href="@profile.routes.Profile.index(models.LoginState.getUser().getUsername())">Profil</a></li>
							@if(models.LoginState.getUser.isFirstUser){<li><a href="@admin.routes.Admin.allUsers()">Administrer</a></li>}
							<li><a href="@sso.routes.SSOLogin.logout()">Logg ut</a></li>
						</ul>
					</li>
				}
				<li>
					@if(models.LoginState.isValidlyLoggedIn()) {

					} else {
						<a href="@sso.routes.SSOLogin.login(play.mvc.Http.Context.current().request().path())">Logg inn</a>
					}
				</li>
			</ul>
		</div>
	</div>
</nav>
<form action="@(article.routes.Article.viewArticle("1"))" method="get">
	<button  type="submit" class="btn btn-default btn-lg fixed-bottom-right">
		<span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> Feedback
	</button>
</form>
