

<!------------------------------------------------------------------------------------------>

<div class="helesiden">  <!--style="background-image: url(../assets/images/"bildenavn)"-->
    <div class="container">
        <div class="row blank"></div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1 whitebox topright topleft">
                <div class="text-center" id='article-title'>
                    <h1 style="border-bottom: black solid 1px; display: inline-block; width: 350pt;">
                        Bedkom
                    </h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1 whitebox paragraph bottomleft bottomright hiddentopleft hiddentopright">
                <div>
                    <h2 style="border-bottom: black dotted 1px; display: inline-block">
                        Info
                    </h2>

                    <!--@if(!models.LoginState.isValidlyLoggedIn) {<p>Dette er en test</p>} else{<p>Dette er ikke en test</p>}-->

                    <p>
                        <strong>Hybridas Bedriftskomite (Hybrida BedKom) har ansvaret for kontakten med bedriftene for sivilingeniørstudiet Ingeniørvitenskap og IKT (I &amp; IKT) ved NTNU. Vi ble etablert for å gi bedrifter informasjon om vårt studieprogram og hvilken kompetanse vi kan bidra med.</strong></p>
                    <p>
                        Hovedmålet vårt er at vi vil hjelpe studentene på linja med prosjektoppgaver, hovedoppgaver, sommerjobber og fast ansettelse. I tillegg kan bedriftsbesøk, ekskursjoner og temakvelder gi bedrifter og studenter mulighet til å snakke sammen.</p>
                    <p>
                        Arrangementer av denne typen krever samarbeid fra bedrifter. Hvis du kan bidra, kontakt oss gjerne via linken i menyen venstre. For en komplett liste med Hybrida Bedkoms oppgaver og gjøremål, se våre statutter i samme meny.</p>
                    <h2 style="border-bottom: black dotted 1px; display: inline-block">
                        Lorem ipsum:
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ligula arcu, tristique eget maximus non, elementum quis risus. Sed aliquet velit neque, id aliquam dui consequat ut. In in eros condimentum, scelerisque augue eget, suscipit libero. Etiam pulvinar rhoncus tortor sit amet auctor. Proin vel erat pharetra ipsum blandit facilisis. Suspendisse mollis lorem non congue iaculis. Donec at velit enim. Cras eu nisi congue, rhoncus arcu vel, tempor orci. Morbi convallis, orci nec luctus aliquet, mauris ligula rhoncus eros, non ultricies elit magna quis risus. Donec lacinia vel mi id tincidunt. Nulla tincidunt enim pretium lacus rhoncus sollicitudin. Cras venenatis, magna at laoreet egestas, metus tortor consectetur arcu, dictum laoreet eros tellus non massa. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec et sem hendrerit, pretium nibh ac, malesuada libero.                    <p>
                    <h2 style="border-bottom: black dotted 1px; display: inline-block">
                        More text:
                    </h2>
                    <p>
                        Duis eget bibendum mauris. Donec sed lacus dapibus, semper nibh malesuada, lobortis leo. Suspendisse non tempus ligula, id suscipit sem. Fusce lobortis, quam nec maximus tincidunt, nunc sapien sodales purus, quis fringilla neque tortor in tellus. Pellentesque pharetra ultrices augue nec tempor. Integer pharetra metus nulla, in lacinia mauris dapibus eget. Nam eleifend tristique lectus a auctor. Vestibulum nec sodales dui, scelerisque varius velit. Nam imperdiet dui a sodales elementum. Mauris sit amet dolor id nunc rutrum accumsan in eu nisi. Sed eu odio et ligula dictum dapibus at vitae leo. Vivamus semper imperdiet felis at pellentesque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                    </p>
                    <h2 style="border-bottom: black dotted 1px; display: inline-block">
                        Some more:
                    </h2>
                    <p>
                        Aenean pretium nulla at quam ultricies facilisis. Mauris ultricies lectus in tellus rutrum pellentesque. Ut non convallis est, nec semper diam. Nunc tortor quam, bibendum nec mi eget, viverra porta tortor. Morbi ornare massa ut enim efficitur, vel porttitor nulla facilisis. Aliquam tempus purus ligula, sed sollicitudin ante gravida at. Nunc dapibus metus eget vulputate efficitur. Suspendisse lobortis mauris vitae massa convallis mollis. Fusce eget tellus est. Fusce aliquam volutpat risus eget luctus.
                    </p>
                        <!--
                    <h2 style="border-bottom: black dotted 1px; display: inline-block">
                        Even more:
                    </h2>
                    <p>
                        Dette er tips basert på tilbakemeldinger vi har fått fra studenter over flere år:
                    </p>
                    <ul>
                        <li>
                            Husk at dere snakker for I &amp; IKT-studenter. Ikke vær redd for å bruke fagbegreper de burde kjenne til.
                        </li>
                        <li>
                            Forsøk å skille dere ut fra andre bedrifter hva er det som gjør nettopp dere til den mest attraktive arbeidsgiveren?
                        </li>
                        <li>
                            Fokuser på hvordan det er å arbeide i deres bedrift sosialt, arbeidsoppgaver, arbeidsmiljø, utfordringer. Vis gjerne bilder fra arbeidsplassen.</li>
                        <li>
                            Organisasjonsinndeling, økonomi og administrasjon er ofte mindre interessant når det kommer til å velge jobb. Forsøk å legg mindre vekt på dette enn de overnevnte punkter.</li>
                        <li>
                            Begrens presentasjonen til 45 minutter.</li>
                        <li>
                            Ta med en nyutdannet sivilingeniør fra NTNU, samt en fra HR.</li>
                        <li>
                            Still med flere personer, slik at det er enklere å komme i kontakt med dere under bespisningen.</li>
                    </ul>
                    -->
                    <h2 style="border-bottom: black dotted 1px; display: inline-block">
                        Final paragraph:
                    </h2>
                    <p>
                        Nam ut leo pharetra, venenatis justo non, ultrices nibh. Mauris dolor nisi, venenatis ac interdum nec, ultrices eu velit. Nunc mattis maximus congue. Fusce semper sapien eu enim scelerisque, vel faucibus elit gravida. Vivamus ultrices justo non orci molestie, sed molestie ex placerat. Quisque blandit mauris nec nibh porta placerat. Suspendisse rutrum, augue vitae tincidunt bibendum, tellus ipsum sollicitudin arcu, ac efficitur dui sapien at est. Nam suscipit nulla non lectus aliquam congue eu ac ante. Aenean id lobortis nulla. Aliquam lacinia, orci in maximus blandit, est ligula tincidunt nibh, sit amet ultricies quam ligula ultrices velit. Suspendisse eu ante non quam congue gravida a at erat. Curabitur nec finibus augue, ac luctus tortor.
                    </p>
                </div>
                <div>
            </div>
            </div>
        </div>

    </div>
</div>
