<div class="article-bg" style="background-image: url('@routes.Assets.at("images/bakgrunnsbilde_roser.jpg")')">
    <div class="container">
        <div class="row space-above space-below">
            <!-- <p><img src="/assets/images/jentekom_bilde.jpg"></p> -->
            <div class="col-md-6 col-md-offset-5 transparent-box rounded">
                <div class="text-center">
                    <h1>JenteKom</h1>
                </div>
                <div class="paragraph">
                    <h2>Hybrida Jentekomité</h2>
                    <p>
                        <strong>Hybrida Jentekomité er en av komitéene til linjeforeningen Hybrida, og er ansvarlig for organisering, planlegging og gjennomføring av sosiale og faglige arrangementer for jentene på I&IKT.</strong></p>
                    <p>
                        Jentekomitéen ble opprettet fordi det var et stort mindretall av jenter på linja vår. Formålet var å skape et samhold mellom alle jentene på linja, på tvers av alle trinnene, og for å utveksle erfaringer. Dette har ført til et bra jentemiljø. Etter at jentekom ble opprettet har færre sluttet og det er blitt flere kvinnelige søkere. Dette har resultert i at vi nå er 58 jenter på linja, noe som tilsvarer 26 % totalt (høsten 2015). Vi er fortsatt i mindretall, men ser veldig positivt på andelen og fremgangen.
                    </p>
                    <p>
                        Jentekom består av 8 medlemmer, hvorav leder sitter i hovedstyret til Hybrida. Jentekom arrangerer forskjellige aktiviteter for jentene på I&IKT. Det er noen tradisjonsrike aktiviteter som avholdes hvert år. Blant disse arrangeres reke- og vinkveld i fadderperioden, tapaskveld med ingeniørspillet, cocktailaften og kafékvelder. Målet er å arrangere minst et faglig og et sosialt arrangement per semester.
                    </p>
                    <br>
                    <p>
                        Har du noe på hjertet, ikke nøl med å ta kontakt!
                    </p>
                    <p>
                        <strong>Jentekomitésjef</strong> Tonje Roås Mikalsen, tonjerm@@stud.ntnu.no (2.kl.)</p>
                    <p>
                        <strong>Øvrige medlemmer:</strong> Tora S. Gunstad (1.kl.),<br>
                        Amalia Sambanis (1.kl.), <br>
                        Marianne Kalberg Wiggen (2.kl.), <br> Synne Hinna (2.kl.), <br>
                        Helene Dypbukt (3.kl.), <br> Marit Rakvåg (3.kl.), <br>
                        Karoline Louise Rykkelid (5.kl.)
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
