@import ballot.Candidate
@(candidates: List[Candidate], totalVotes: Int)
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/ballot.css")"
xmlns="http://www.w3.org/1999/html">
<div class="container">
    <div class="row white-box">
        <div class="col-sm-8">
            <h1>Resultat</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Navn</th>
                        <th>Antall</th>
                    </tr>
                </thead>
                <tbody>
                    @for(candidate <- candidates) {
                        <tr>
                            <th>@candidate.name</th>
                            <th>@candidate.votes</th>
                            @if(totalVotes > 0) {
                                <th><div class="progress"><div class="progress-bar progress-bar-striped active" role="progressbar" style="width: @((100 * candidate.votes) / totalVotes) %"></div></div></th>
                            }
                        </tr>
                    }
                    <tr>
                        <th>Totalt</th>
                        <th>@totalVotes</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-4">
            <h2>Ny avstemning</h2>
            <form method="post" action="@ballot.routes.VoteController.newBallot()" id="form">
                <div class="form-group">
                    <span>Tittel</span>
                    <input class="form-control" type="text" name="title"/>
                </div>
                <div id="new-choices">
                    <span>Valg</span>
                </div>
                <div class="btn-group btn-group-justified" role="group">
                    <div class="btn-group" role="group">
                        <button class="btn btn-success" type="button" onclick="addInput()"><span class="glyphicon glyphicon-plus"></span></button>
                    </div>
                    <div class="btn-group" role="group">
                        <button class="btn btn-default" type="reset"><span class="glyphicon glyphicon-trash"></span></button>
                    </div>
                </div>
                <div class="btn-group btn-group-justified" role="group">
                    <div class="btn-group" role="group">
                        <button class="btn btn-primary" type="submit">Start Avstemming</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
        $(document).ready(function() {
            addInput();
            addInput();
        });
        var choices = 0;
        function addInput() {
            $('#new-choices').append(
                    '<div class="input-group" id="choice-' + choices + '">' +
                    '<input class="form-control" type="text" name="choice-' + choices + '"/>' +
                    '<span class="input-group-btn">' +
                    '<button type="button" class="btn btn-danger" onclick="removeChoice(' + choices + ')">' +
                    '<span class="glyphicon glyphicon-remove">' +
                    '</span>' +
                    '</button>' +
                    '</span>' +
                    '</div>'
            );
            choices++;
        }
        function updateInputs() {

        }
        function removeChoice(number) {
            $("#choice-"+number).remove();
        }
</script>