@(options: List[String], title: String)
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/ballot.css")">
<div class="container white-box">
    <h1>@title</h1>
    <br>
    <form id="vote_form">
        <div class="row">
            @for(option <- options) {
                <div class="col-md-6">
                    <input type="radio" name="option" id="@option" class="option" value="@option">
                    <label for="@option" class="">@option</label>
                </div>
            }
            <div class="col-md-12" id="submitContainer">
                <a tabindex="0" class="btn btn-primary" id="submitButton" role="button" data-toggle="popover" data-trigger="focus">
                    Stem</a>
            </div>
        </div>
    </form>
</div>
<script>
        var submitButton = $('#submitButton');
        var timeoutID;

        submitButton.click(function() {
            $.post('avstemning', $('#vote_form').serialize(), function(response) {
                if (response.indexOf('Du stemte') == 0 || response.indexOf('Du har') == 0) {
                    document.getElementById('vote_form').reset();
                }

                submitButton.attr('data-content', response);
                submitButton.attr('data-placement', 'top');
                submitButton.popover('show');
            });
        });
        submitButton.on('shown.bs.popover', function () {
            var $pop = $(this);
            if (timeoutID) window.clearTimeout(timeoutID);
            timeoutID = setTimeout(function () {
                $pop.popover('hide');
            }, 2000);
        });
</script>
