@(options: List[String], title: String, nr: Int)
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/ballot.css")">
<div class="container white-box">
    <h1 id="title">@title</h1>
    <br>
    <form id="vote_form">
        <div id="options" class="row">
        @for(option <- options) {
            <div class="col-md-6">
                <input type="radio" name="option" id="@option" class="option" value="@option">
                <label for="@option" class="">@option</label>
            </div>
        }
        </div>
        <div class="row">
            <div class="col-md-12" id="submitContainer">
                <a class="btn btn-primary" id="submitButton" role="button"
                data-toggle="popover" data-trigger="focus" tabindex="0">Stem</a>
            </div>
        </div>
    </form>
</div>
<script>
        var lastNr = @nr;
        setInterval(function() {
                    $.ajax({
                        url: 'avstemning/valg',
                        type: 'GET',
                        success: function(response) {
                            if (response.nr === lastNr) {
                                return;
                            }
                            lastNr = response.nr;
                            var newChoices = "";
                            for (option of response.choices) {
                                newChoices += '\
            <div class="col-md-6">\
                <input type="radio" name="option" id="'+option+'" class="option" value="'+option+'">\
                <label for="'+option+'">'+option+'</label>\
            </div>';
                            }
                            $('#options').html(newChoices);
                            $('#submitButton').addClass('btn-primary');
                            $('#title').html(response.title);
                        }
                    })},
                5000);

        var submitButton = $('#submitButton');
        var timeoutID;

        submitButton.click(function() {
            $.post('avstemning', $('#vote_form').serialize(), function(response) {
                if (response.indexOf('Du stemte') == 0 || response.indexOf('Du har') == 0) {
                    document.getElementById('vote_form').reset();
                    $('#submitButton').removeClass('btn-primary');
                }

                submitButton.attr('data-content', response);
                submitButton.attr('data-placement', 'top');
                submitButton.popover('show');
            });
        });

        submitButton.on('shown.bs.popover', function () {
            var $pop = $(this);
            window.clearTimeout(timeoutID);
            timeoutID = setTimeout(function () {
                $pop.popover('hide');
            }, 2000);
        });
</script>
