<div class="helesiden">
    <div class="container">
        <div class="row blank"></div>
        <div class="row">
            <div class="col-md-6 col-md-offset-5 whitebox topright topleft GO">
                <img src="/assets/images/GO.png" align="middle">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-5 whitebox line">
                ________________________________________________________
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-5 whitebox paragraph bottomleft bottomright hiddentopleft hiddentopright">
                <p>
                    Navn på hybrid
                </p>
                <p>
                   <input type="text" class="" name="navn">
                </p>
                <p>
                    Begrunnelse for nominasjon
                </p>
                <p>

                    <input type="text" id="begrunnelsein" name="begrunnelse" height="1000px">
                </p>
                <p>
                    <input type="submit" value="Submit" height="1000px">
                </p>
                </div>
            </div>
        </div>

    </div>
</div>
