.content > .center-container > .row {
    overflow: hidden;
}

.wrap {
    height: 100vh;
    padding-top: 50px;
}

.content {
    height: 100%;
}

.section-box {
    background-color: white;
    overflow: hidden;
    padding: 5vh 0;
}

.section-box p {
    padding: 0 5%;

    color:#212121;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
}

.bildelink {
    display: block;
    padding: 1px;
}

.bildetekst {
    margin: 35vh 0 5vh;
    padding: 2vh 10%;
    color:#eee;
    background: rgba(25, 50, 65, 0.9);
    font-size:20px;
    text-align: left;
}

/*.onepage-pagination,
.onepage-pagination:before,
.onepage-pagination:after,
.onepage-pagination *,
.onepage-pagination *:before,
.onepage-pagination *:after{
    box-sizing: content-box;
}
.onepage-pagination {
    background: #fff;
    border-radius: 12px;
    transform: translateY(-50%);
    margin-top: 25px;
    padding: 2px 0;
}
.onepage-pagination li a:before {left: 10px;}
.onepage-pagination li a.active:before {left: 6px;}*/

.onepage-pagination {
    display: none;
}



#styret .section-box {
    background: url(../images/styret2.jpg) center/cover no-repeat;
}

#griffensOrden .section-box {
    background: url(../images/griffens_orden.jpg) center/cover;
}

#student .section-box{
    background: url(../images/ny_student.jpg) center/cover;
}

#grifflogo-container {
    padding-top: 2vh;
    text-align: center;
    background-color: #ffffff;
}

#grifflogo {
    display: inline-block;
    height:28vh;
    width:30vh;
    background-size: 200% 100%;
    background-color: rgb(80, 180, 250);
    background-image: -webkit-linear-gradient(left, rgb(74, 138, 240), rgb(40, 103, 199), rgb(19, 88, 161), rgb(19, 88, 161), rgb(40, 103, 199), rgb(74, 138, 240));
    background-image:    -moz-linear-gradient(left, rgb(74, 138, 240), rgb(40, 103, 199), rgb(19, 88, 161), rgb(19, 88, 161), rgb(40, 103, 199), rgb(74, 138, 240));
    background-image:     -ms-linear-gradient(left, rgb(74, 138, 240), rgb(40, 103, 199), rgb(19, 88, 161), rgb(19, 88, 161), rgb(40, 103, 199), rgb(74, 138, 240));
    background-image:      -o-linear-gradient(left, rgb(74, 138, 240), rgb(40, 103, 199), rgb(19, 88, 161), rgb(19, 88, 161), rgb(40, 103, 199), rgb(74, 138, 240));
    background-image:         linear-gradient(left, rgb(74, 138, 240), rgb(40, 103, 199), rgb(19, 88, 161), rgb(19, 88, 161), rgb(40, 103, 199), rgb(74, 138, 240));
    -moz-transition: all 0.3s ease-out;  /* FF4+ */
    -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.3s ease-out;  /* IE10? */
    transition: all 0.3s ease-out;
}

#grifflogo img {
    width: 45vh;
    max-width: none;
    margin: -1vh -7.5vh;
}

#grifflogo:hover {
    background-position: -100% 100%;
}

#sidebar  {
    display: none;
    z-index:2;
    position: fixed;
    top: 50px;
    right: -10px;
    max-width: 170px;
    padding: 8px 5px;
    box-shadow: rgba(0, 0, 0, 1) 0 0 8px 0;
}

#sidebar li a {
    outline: 0;
    padding-right: 20px;
}

#sidebar .sub-nav {
    overflow: hidden;
}

#sidebar .sub-nav li a {
    padding: 5px 30px;
    font-size: 0.9em;
}

@media (min-width: 768px) {
    .onepage-pagination{display: none;}
    #sidebar{display: block;}
    .section-box {height: 80vh; margin-bottom: 20vh;}
    .section-box p {padding: 30px 25%; font-size: 18px;}
    .pages {position: relative; height: 100vh;}
    .pages > section {min-height: 100vh; padding-bottom: 50px;}
    .bildetekst {margin-top: 50vh;}
    #grifflogo-container {margin-bottom: 5vh;}
}

@media (min-width: 992px) {
    #sidebar{top: 90px; right: 15px; max-width: 180px; padding: 10px; box-shadow:rgba(0,0,0,0.4) -5px 5px 25px 0;}
    .section-box p {padding: 0 15%; font-size: 20px;}
    #grifflogo-container {margin-bottom: 10vh;}
}

@media (min-width: 1200px) {
    #sidebar{max-width: 16%; padding: 15px;}
    #grifflogo-container {margin-bottom: 15vh;}
}

