.bildetekst {
    color:#212121;
    padding-top: 6em;
    vertical-align: bottom;
    margin: 0 auto;
    height: 100%;
    font-size:60px;
    text-align:center;
    opacity: 1;


}.bildetekst:link {
     text-decoration: none;
 }

.bildetekst:visited {
    color:#212121;
    background-color:transparent;
    text-decoration: none;

}

.column2 {
    z-index:1;
    overflow: auto;
    width: 100%;
    float: left;
    height:100%;
    right: 80%;
    background-color: #ffffff;
}

#styret {
    overflow: auto;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background-image: url(../images/styret2.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}
#update {
    width:100%;
    height:100vh;
}

#kontakinfo {
    width: 100%;
    height: 100vh;
}

#hybb {
    width:100%;
    height:100vh;
    background-color: transparent;
}

#hybrida {
    color:#212121;
    padding: 3em 2.5em 1em 2.5em;
    text-align: center;
    font-size: 22px;
    line-height: 1.5;
    width: 85%;
}

#griff {
    height:100vh;
    width:100%;
    background-image:url(../images/griffens_orden.jpg);
    background-size: cover;
    background-position: center;
}

#student {
    height:100vh;
    width:100%;
    background-image:url(../images/ny_student.jpg);
    background-size: cover;
    background-position: center;
}

#grifflogo {
    padding-top: 5em;
    width: 85%;
    text-align: center;
    background-color: #ffffff;
}

#transition img {
    height:300px;
    width:auto;
    background-size: 200% 100%;
    background-color: rgb(80, 180, 250);
    background-image: -webkit-linear-gradient(left, rgb(50, 120, 240), rgb(19,90,200), rgb(3, 79, 163), rgb(3, 79, 163), rgb(19,90,200), rgb(50, 120, 240));
    background-image:    -moz-linear-gradient(left, rgb(50, 120, 240), rgb(19,90,200), rgb(3, 79, 163), rgb(3, 79, 163), rgb(19,90,200), rgb(50, 120, 240));
    background-image:     -ms-linear-gradient(left, rgb(50, 120, 240), rgb(19,90,200), rgb(3, 79, 163), rgb(3, 79, 163), rgb(19,90,200), rgb(50, 120, 240));
    background-image:      -o-linear-gradient(left, rgb(50, 120, 240), rgb(19,90,200), rgb(3, 79, 163), rgb(3, 79, 163), rgb(19,90,200), rgb(50, 120, 240));
    background-image:         linear-gradient(left, rgb(50, 120, 240), rgb(19,90,200), rgb(3, 79, 163), rgb(3, 79, 163), rgb(19,90,200), rgb(50, 120, 240));
    -moz-transition: all 0.3s ease-out;  /* FF4+ */
    -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.3s ease-out;  /* IE10? */
    transition: all 0.3s ease-out;
}

#transition img:hover {
    background-position: -100% 100%;
}

.onepage-pagination,
.onepage-pagination:before,
.onepage-pagination:after,
.onepage-pagination *,
.onepage-pagination *:before,
.onepage-pagination *:after{
    box-sizing: content-box;
}
.onepage-pagination {
    background: #fff;
    border-radius: 12px;
    transform: translateY(-50%);
    margin-top: 25px;
    padding: 2px 0;
}
.onepage-pagination li a:before {left: 10px;}
.onepage-pagination li a.active:before {left: 6px;}


.wrap {
    height: 100vh;
    padding-top: 50px;
}

.content {
    height: 100%;
}

.pages > section {
    min-height: 100vh;
    background: #fff;
}

#sidebar  {
    display: none;
    z-index:2;
    position: fixed;
    top: 50px;
    right: -10px;
    max-width: 170px;
    padding: 8px 5px;
    box-shadow: rgba(0, 0, 0, 1) 0 0 8px 0;
}

#sidebar li a {
    outline: 0;
    padding-right: 20px;
}

#sidebar .sub-nav {
    overflow: hidden;
}

#sidebar .sub-nav li a {
    padding: 5px 30px;
    font-size: 0.9em;
}

@media (min-width: 768px) {
    .onepage-pagination{display: none;}
    #sidebar{display: block;}
}

@media (min-width: 992px) {
    #sidebar{top: 80px; right: 15px; max-width: 180px; padding: 10px; box-shadow:rgba(0,0,0,0.4) -5px 5px 25px 0;}
}

@media (min-width: 1200px) {
    #sidebar{max-width: 16%; padding: 15px;}
}

