.btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.option {
    display: none;
}

.option + .btn {
    padding: .5em;
    width: 100%;
    font-size: 200%;
    margin-bottom: .25em;
}

.option:checked + .btn {
}

.option:checked + .btn:before {
    content: '✔ ';
}

.option:checked + .btn:after {
    content: ' ✔';
}

#submitButton {
    margin-top: .25em;
    padding: .5em;
    width: 100%;
    font-size: 300%;
    border-top: grey solid thin;
}

h1 {
    font-size: 3em;
}

.container {
    margin-bottom: 5em;
}