@font-face {
  font-family: 'Din';
  src: 
    url('../fonts/din_medium-webfont.ttf') format('truetype'), 
    url('../fonts/din_medium-webfont.eot') format('embedded-opentype'),
    url('../fonts/din_medium-webfont.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/din_medium-webfont.woff') format('woff'), 
    url('../fonts/din_medium-webfont.svg#DINMediumRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gill';
  src: 
    url('../fonts/gillsansstd-light-webfont.ttf') format('truetype'),
    url('../fonts/gillsansstd-light-webfont.eot') format('embedded-opentype'),
    url('../fonts/gillsansstd-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gillsansstd-light-webfont.woff') format('woff'),
    url('../fonts/gillsansstd-light-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
