.helesiden{
	background: url("../images/VAGOresize2.jpg") repeat;
	background-size: 100%;
	width: 100%;
	height: 100%;
}
.line{
    text-align: center;
}
.GO{
    padding-left: 80px;
}

.blank {
    height: 180px;
    width: 1170px;
}
.superblankandwhite{
    background-color: white;
    opacity: 0.7;
    height:0px;
}

.whitebox{
    background-color: #ffffff;
    opacity: 0.7;
}
.paragraph{
	font-family: 'Raleway', sans-serif;
    font-size: 20px;
    padding: 70px;
    padding-top: 40px;
}

.topright{
	border-top-right-radius: 10px;
}
.topleft{
	border-top-left-radius: 10px;
}
.bottomright{
	border-bottom-right-radius: 10px;
}
.bottomleft {
    border-bottom-left-radius: 10px;
}

@media screen and (max-width: 1199px) and (min-width: 992px){
    .GO{
        padding-left: 50px;
    }
}

@media screen and (max-width: 991px) {
    .GO{
        display: none;
    }
    .line{
        display: none;
    }
    .hiddentopleft{
        border-top-left-radius: 10px;
    }
    .hiddentopright{
        border-top-right-radius: 10px;
    }
    .helesiden{
        background: url("../images/VAGO.jpg") repeat;
        background-size: 100%;
        width: 100%;
        height: 100%;
    }
    .hide{
        display: none;
    }
}