/* all links */
.bs-docs-sidebar .nav>li>a {
    /*add transparent border */
    border-left: 2px solid transparent;
    color: #555;
}
/* active & hover links */
.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>li>a:hover,
.bs-docs-sidebar .nav>li>a:focus {
    color: #563d7c;
    text-decoration: none;
    background-color: transparent;
    border-left: 2px solid #563d7c;
}
/* all active links */
.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
    font-weight: 700;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a,
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
}
/* hide all (inactive) nested list */
.bs-docs-sidebar .nav ul.nav {
    display: none;
}
/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav {
    display: block;
}

.bs-docs-sidebar .nav>.active>a {
    color: #563d7c;
}
.link {
    height: 100%;
}

.link:link {
    background-color:transparent;
    text-decoration:none;
}
.link:visited {
    background-color:transparent;
}
.bildetekst {
    color:#212121;
    padding-top: 6em;
    vertical-align: bottom;
    margin: 0 auto;
    height: 100%;
    font-size:60px;
    text-align:center;
    opacity: 1;


}.bildetekst:link {
     text-decoration: none;
 }

.bildetekst:visited {
    color:#212121;
    background-color:transparent;
    text-decoration: none;

}
.column1  {
    display: none;
    z-index:2;
    width: 15%;
    height:100%;
    position: fixed;
    color: black;
    background-color: rgba(75,125,185,0.6);
    border-radius: 15px;
}
.column2 {
    z-index:1;
    overflow: auto;
    width: 100%;
    float: left;
    height:100%;
    right: 80%;
    background-color: #ffffff;
}

#omIKTRingen {
    overflow: auto;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background-image: url(../images/rosa_bakgrunn.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}
#update {
    width:100%;
    height:100vh;
}

#kontakinfo {
    width: 100%;
    height: 100vh;
}

#hybb {
    width:100%;
    height:100vh;
}

#IKT_Ringens_visjon {
    color:#212121;
    padding: 5em 2.5em 1em 2.5em;
    text-align: center;
    font-size: 22px;
    line-height: 1.5;
    width: 85%;
}

#griff {
    height:100vh;
    width:100%;
    background-image:url(../images/griffens_orden.jpg);
    background-size: cover;
    background-position: center;
}

#student {
    height:100vh;
    width:100%;
    background-image:url(../images/ny_student.jpg);
    background-size: cover;
    background-position: center;
}

#grifflogo {
    padding-top: 4m;
    height: 85%;
    width: 100%;
    text-align: center;
    background-color: #ffffff;
    background-attachment: fixed;
}

#ringenlogo img {
    height:175px;
    width:1500px;


}

#transition img:hover {
    background-position: -100% 100%;
}


#sidebar.affix {
    top: 20px;
}
/* sidebar */
.bs-docs-sidebar {
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
    color: #555;
    border-left: 2px solid transparent;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 400;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
}

/* active & hover links */
.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>li>a:hover,
.bs-docs-sidebar .nav>li>a:focus {
    color: darkblue;
    text-decoration: none;
    background-color: transparent;
    border-left-color: darkblue;
}
/* all active links */
.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
    font-weight: 700;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a,
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
}

/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
    display: none;
}
/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav {
    display: block;
}

.onepage-pagination,
.onepage-pagination:before,
.onepage-pagination:after,
.onepage-pagination *,
.onepage-pagination *:before,
.onepage-pagination *:after{
    box-sizing: content-box;
}
.onepage-pagination {
    background: #fff;
    border-radius: 12px;
    transform: translateY(-50%);
    margin-top: 25px;
    padding: 2px 0;
}
.onepage-pagination li a:before {left: 10px;}
.onepage-pagination li a.active:before {left: 6px;}


@media (min-width: 768px) {
    .onepage-pagination{display: none;}
    .column1{display: block;}
}