.bildetekst {
    color:#212121;
    padding-top: 6em;
    vertical-align: bottom;
    margin: 0 auto;
    height: 100%;
    font-size:60px;
    text-align:center;
    opacity: 1;


}.bildetekst:link {
     text-decoration: none;
 }

.bildetekst:visited {
    color:#212121;
    background-color:transparent;
    text-decoration: none;

}

.column2 {
    z-index:1;
    overflow: auto;
    width: 100%;
    float: left;
    height:100%;
    right: 80%;
    background-color: #ffffff;
}

#omikt {
    overflow: auto;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background-image: url(../images/tempbackground.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}
#promotering {
    width:100%;
    height:100vh;
}

#medlemmer {
    overflow: auto;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background-image: url(../images/medlemmer_ringen.png);
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    }

#kontakinfo {
    width: 100%;
    height: 100vh;
}

#infofoiler {
    width:100%;
    height:100vh;
    background-color: transparent;
}
#IKT-Banner {
    padding-top: 3em;
    width: 85%;
    text-align: center;
    background-color: #ffffff;
}

#overskrift {
    color:#212121;
    padding: 1em 2.5em 0em 2.5em;
    text-align: center;
    font-size: 35px;
    line-height: 1.5;
    width: 100%;
}

#ringeninfo {
    color:#212121;
    padding: 1em 2.5em 1em 2.5em;
    text-align: center;
    font-size: 22px;
    line-height: 1.5;
    width: 100%;
}

#bedbidragoverskrift {
    color:#212121;
    padding: 1em 2.5em 0em 2.5em;
    text-align: center;
    font-size: 45px;
    line-height: 1.5;
    width: 85%;
}

#bedbidraginfo {
    color:#212121;
    padding: 1em 2.5em 1em 2.5em;
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
    width: 85%;
}

#medlemsprisbilde {
    padding-top: 1em;
    width: 100vw;
    text-align: center;
    background-color: #ffffff;
}

#studentene {
    height:100vh;
    width:100%;
    background-image:url(../images/nys.png);
    background-size: cover;
    background-position: center;
}

#studentenetext {
    color:#212121;
    padding: 1em 2.5em 1em 2.5em;
    text-align: center;
    font-size: 22px;
    line-height: 1.5;
    width: 100%;
}



#transition img:hover {
    background-position: -100% 100%;
}

.onepage-pagination,
.onepage-pagination:before,
.onepage-pagination:after,
.onepage-pagination *,
.onepage-pagination *:before,
.onepage-pagination *:after{
    box-sizing: content-box;
}
.onepage-pagination {
    background: #fff;
    border-radius: 12px;
    transform: translateY(-50%);
    margin-top: 25px;
    padding: 2px 0;
}
.onepage-pagination li a:before {left: 10px;}
.onepage-pagination li a.active:before {left: 6px;}


.wrap {
    height: 100vh;
    padding-top: 50px;
}

.content {
    height: 100%;
}

.pages > section {
    min-height: 100vh;
    background: #fff;
}

.row {
    width: 85%;
    font-size: 16px;
    padding: 1em 2.5em 1em 2.5em;
    position: fixed;
}

.rowProm {
    width: 85%;
    font-size: 16px;
    margin-left: 50%;
    transform: translate(-50%,0);
    background-color: green;
}

#sidebar  {
    display: none;
    z-index:2;
    position: fixed;
    top: 50px;
    right: -10px;
    max-width: 170px;
    padding: 8px 5px;
    box-shadow: rgba(0, 0, 0, 1) 0 0 8px 0;
}

#sidebar li a {
    outline: 0;
    padding-right: 20px;
}

#sidebar .sub-nav {
    overflow: hidden;
}

#sidebar .sub-nav li a {
    padding: 5px 30px;s
    font-size: 0.9em;
}

.kontaktinfo-rader {
    padding: 1em 2.5em 1em 2.5em;
    width: 85%;
    font-size: 22px;
}




@media (min-width: 768px) {
    .onepage-pagination{display: none;}
    #sidebar{display: block;}
}

@media (min-width: 992px) {
    #sidebar{top: 80px; right: 15px; max-width: 180px; padding: 10px; box-shadow:rgba(0,0,0,0.4) -5px 5px 25px 0;}
}

@media (min-width: 1200px) {
    #sidebar{max-width: 16%; padding: 15px;}
}


