@import url(http://fonts.googleapis.com/css?family=Playfair+Display);
@import url(http://fonts.googleapis.com/css?family=Raleway);

body {
    font-family: 'Raleway', sans-serif;
    padding-top: 50px;
    background: lightgrey;
    /*background: url("../images/kilt3.PNG") repeat;*/
}

#logo {
    height: 5em;
    z-index: 99999;
}

#home {
    padding: 0;
    margin: 0 32px 0 32px;
    z-index: 99999;
}


h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

h1 {
    text-align: center;
    font-size: 5em;
}

a {
    font-family: Raleway;
    text-decoration: none;
    color: #777;
}

a:hover {

    text-decoration: none;
    text-underline: none!important;
    color: #000000;
}


.navbar {
    background-color: #ffffff;
    box-shadow: 0 0 8px #000000;
    border: none;
    text-align: center;
    vertical-align: bottom;
}

.form-control:focus {
    border-color: #000000;
    box-shadow: none;
}

.form-control {
    border-radius: 0;
}

.container-with-set-aspect-ratio {
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    overflow: hidden;
    }

#carousel-frontpage > div > .item > img{
    width:100%
}

.progress {
    position: relative;
}

.progress-bar {
    position: absolute;
}

.progress span {
    position: absolute; width:100%; text-align:center;
}

.fixed-bottom-right {
    position: fixed;
    z-index: 9999;
    bottom: 16px;
    right: 16px;
}

.transparent-box,
.white-box{
    background-color: rgba(245,245,245,1);
    _border-radius: 4px;
    padding: 20px;
    overflow: auto;
}

.transparent-box {
    background-color: rgba(245,245,245,0.9);
}

.sleek-box{
    background-color: rgba(255,255,255,0.9);
    padding: 1px;
    margin: 1px;
}

.art-img{
    overflow: hidden;
    max-width: 100%;
    height:auto;
}
.article-bg{
    background-image: url(/assets/images/kilt3.PNG);
    background-repeat: repeat;
    min-height: 100vh;
    height: auto;
}
.row.container-height {
    overflow: hidden;
    background-color: #fff;
}

.row.container-height > [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.fixscroll{
    position:fixed;
}
.subtitle_styled{
    font-size: 25px;
    color:lightslategray;
    /*border-bottom: solid 2px #d3d3d3;*/
    padding :1%;

}
.fp_white{
    background-color: #ffffff;
    padding: 1%;
}
.fp_beige{
    background-color: #f7eee7;
    padding: .5%;
}

.div_pointer{
    cursor: pointer;
}

.clearfix {
    display: block;
    width: 100%;
    height: 0;
    clear: both;
}

.center-container {
    width: 80%;
    margin-left: 50%;
    margin-right: 50%;
    transform: translateX(-50%);
}

.box-page {
    padding: 40px 50px 80px;
    background: #fff;
}
.box-page .buttons {
    position: absolute;
    display: block;
    top: 32px;
    right: 50px;
}

.box-page .buttons .button {
    margin-left: 1px;
}

.box-page,
.sleek-box,
.white-box,
.transparent-box,
.transparent-box-addition,
.drop-shadow {
    box-shadow: -5px 5px 25px rgba(0,0,0,0.4);
}

.no-shadow{
    box-shadow: none !important;
}
.smallTitle {
    margin: 0 0 10px;
    padding: 0 0 5px;
    border-bottom: 2px solid #999;
    font: normal 16px "Playfair Display", serif;
    text-transform: uppercase;
    color: #777;
}

.bigTitle,
.bigSubTitle {
    margin-top: 40px;
    margin-bottom: 10px;

    text-align: center;
    text-transform: uppercase;
    font-family: "Playfair Display";
}

.bigTitle {
    font-size: 60px;
    color: #046;
}

.bigSubTitle {
    margin-top: 0.2em;
    margin-bottom: 0.8em;
    font-size: 30px;
    color: #bbb;
}

.fc-state-highlight {
    background-color: rgb(184, 201, 216) !important;
}

.space-above{
    margin-top: 30px;
}

.inverted {
    background-color: #496873;
    color: #f7eee7;
}
.inverted a,
a.inverted{
    color: #fff;
}

@media only screen and (max-width: 888px) {

    #home {
        padding: 0;
        margin: 0 0px 0 0px;
    }

}

@media only screen and (max-width: 888px) and (min-width: 768px){

    #navbar-search {
        width: 64px;
    }


}