html {
	background: url("../images/office_background.png") fixed;
	font-family: "Gill", Georgia;
}

body {
	height: 100%;
	padding: 0;
	margin: 0;
}

a img {
  border: 0;
}

.wrap {
  width: 100%;
  margin: 0 auto;
}

.head img {
  float: left;
  border: 0;
}

.banner {
  margin-bottom: 0.5%;
  margin-left: 0.5%;
}

.search {
  float: right;
  padding-top: 3em;
  padding-right: 1em;
}

.navigation_pane li {
  margin-top: 10px;
  display: inline-block;
  list-style-type: none;
  padding-right: 0px;
  color: white;
}

#footer {
	clear: both;
}

.g-button a {
  color: white;
  text-decoration: none;
  font-weight: 550;
  padding: 5px 15px;
  border: 0;
  border-radius: 2px;
  margin-right: 2px;
  background-color: #185c9b;
  background-image: -webkit-linear-gradient(top,#185c9b,#003b8e);
  background-image: -moz-linear-gradient(top,#185c9b,#003b8e);
  background-image: -o-linear-gradient(top,#185c9b,#003b8e);
  background-image: -ms-linear-gradient(top,#185c9b,#003b8e);
  background-image: linear-gradient(top,#185c9b,#003b8e);
}

#logx-button {
	float: right;
	padding-right: 1em;
}

.g-button:hover a {
  background-color: #154e87;
  background-image: -webkit-linear-gradient(top,#154e87,#003a75);
  background-image: -moz-linear-gradient(top,#154e87,#003a75);
  background-image: -o-linear-gradient(top,#154e87,#003a75);
  background-image: -ms-linear-gradient(top,#154e87,#003a75);
  background-image: linear-gradient(top,#154e87,#003a75);
  cursor: pointer;
}

.g-button:active a {
  background-color: #14427f;
  background-image: -webkit-linear-gradient(top,#14427f,#004063);
  background-image: -moz-linear-gradient(top,#14427f,#004063);
  background-image: -o-linear-gradient(top,#14427f,#004063);
  background-image: -ms-linear-gradient(top,#14427f,#004063);
  background-image: linear-gradient(top,#14427f,#004063);
}

.content {
	font-family: "Gill";
	background-color: rgba(255, 255, 255, 0.1);
	margin: 1em;
	padding: 1em;
}

.search input[type="text"] {
  background: url(../images/search-white.png) no-repeat 10px 6px #444;
  border: 0 none;
  font: bold 12px Arial, Helvetica, Sans-serif;
  color: #d7d7d7;
  width: 150px;
  padding: 6px 15px 6px 35px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 2px;
  text-shadow: 0 2px 2px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.1), 0 1px 3px rgba(0,0,0,0.2) inset;
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1), 0 1px 3px rgba(0,0,0,0.2) inset;
  box-shadow: 0 1px 0 rgba(255,255,255,0.1), 0 1px 3px rgba(0,0,0,0.2) inset;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}
.search input[type="text"]:focus {
  background: url(../images/search-white.png) no-repeat 10px 6px #fcfcfc;
  color: #6a6f75;
  width: 200px;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.1), 0 1px 0 rgba(0,0,0,0.9) inset;
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1), 0 1px 0 rgba(0,0,0,0.9) inset;
  box-shadow: 0 1px 0 rgba(255,255,255,0.1), 0 1px 0 rgba(0,0,0,0.9) inset;
  text-shadow: 0 2px 3px rgba(0,0,0,0.1);
  outline: none;
}

#notFound
{
  padding-top: 5%;
  position: relative;
  text-align: center;
  height: 100%;
}

#notFound img
{
  max-width: 50%;
}