/*shared containers*/
html {
	background: url("/assets/images/kilt3.png") fixed;
    background-color: #255f76;
	font-family: sans-serif;
    overflow-y: scroll;
}

body {
	height: 100%;
	padding: 0;
	margin: 0;

    color: #222;
}

a {
    color: inherit;
    text-decoration: inherit;
    font-weight: bold;
}

a img {
    border: none;
}

.clearfix, .clear, .clearer {
    clear: both;
}

.wrap {
  width: 100%;
  margin: 0;
}

.content {
}

/*proto*/

.split_div {
    width: 50%;
    float: left;

}



/*navmenu_proto*/

#navigation_menu {
    z-index: 9999;
    background-color: #105C75;
    height: 64px;
    right: 0;
    left: 0;
    position: fixed;
    transition: all 400ms ease;
}

#navigation_ghost {
    height: 64px;
    right: 0;
    left: 0;
}

.scroll_change {
    margin-top: -64px;
}

#navigation_menu ul {
    padding: 0;
    margin: 0;
}

#navigation_menu ul li {
    z-index: 9999;
    display: block;

}

.navigation_element {
    height: 64px;
    top: 0;
    float: left;
    background-color: #105C75;
    transition: all 400ms ease;
}

.navigation_menu_link {
    padding: 22px;
    display: block;
    text-decoration: none;
    color: #F2FAFF;
    transition: background-color 200ms;

}

.navigation_menu_link:hover {
    background-color: #13515C;
}

#logo_image {
    float: left;
    margin-right: 12px;
    height: 64px;
}

#search_bar {
    padding: 22px;
}

#search_field {

}

#burger {
    display: none;
}

#burger_label {
    float: right;
    height: 32px;
    width: 32px;
    margin: 0;
    display: none;
    padding: 16px;
}

#burger_image {
    background: url("../images/burger.png");
    background-size: 32px;
    image-rendering:-moz-crisp-edges;
    -ms-interpolation-mode:nearest-neighbor;
    height: 32px;
    width: 32px;
}

/*navmenu*/

#logo{
    height: 5em;
    padding-top: 0;
    float: left;
}

#logo img{
    height: 7em;
}

#logotext {
    padding-top: 0.25em;
    font-size: 2em;
    float: left;
}

#navghost {/*en tom div som fyller plassen navmenu ville hvis navmenu ikke var fixed*/
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    height: 4em;
    min-width: 504px;
    z-index: -9999;
}

#navmenu {
    z-index: 9999;
    background-color: #ffffff;
    left: 0;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    box-shadow: 0 2px 10px black;
    text-align: center;
    height: 4em;
    min-width: 504px;
    position: fixed;
}

#navmenu ul {
    padding: 0 4%;
    margin: 0;
    height: 2em;
}

#navmenu ul li {
    display: inline-block;
    margin: 0;
}

.navmenutext {
    color: #9e9d98;
    font-size: 0.8em;
    text-decoration: none;
    display: block;
    padding: 0.5em 1em;
    position: relative;
}

#navmenu ul li a:hover {
    color: #000000;
}

.navelement {
    padding: 1em 0;
}

.search {
    float: right;
    padding-right: 1em;
}

.search input[type="text"] {
    color: #9e9d98;
    width: 4em;
    padding: 0.5em 1em 0.5em 1em;
    box-shadow: 0 0 1px #9e9d98;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    font-size: 0.8em;
}

.search input[type="text"]:focus {
    width: 8em;
    outline: none;
}

/*mobile*/
@media only screen and (max-width: 929px) {
    #logo img {
        height: 4em;
    }
    #logo {
        padding: 0;
        height: 3em;
    }
    #logotext{
        visibility: hidden;
        position: absolute;
    }
    #navmenu ul {
        padding: 0 0;
        margin: 0;
    }
    .navelement {
        padding: 0.5em 0;
    }
    #navmenu{
        height: 3em;
    }
    #navghost {
        height: 3em;
    }
    .search {
        padding-right: 0.5em;
     }
    .search input[type="text"]:focus {
        width: 4em;
    }
    #navmenu ul li a {
        font-size: 0.8em;
        color: #9e9d98;
    }
}



/*misc*/

.content2 {
    font-family: "sans-serif"; color: #9e9d98;
    background-color: rgba(255, 255, 255, 1);
    margin: 1em;
    padding: 1em;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    border-style: solid;
    border-color: #9e9d98;
}

.article_writer {
    font-family: "sans-serif"; color: #000000;
    background-color: #d3d3d3;
    border-radius: 2%;
    border-style: solid;
    border-color: #d3d3d3;
    width: auto;
    padding: 2%;
    display: inline-block;

}
.center_block {
    display: block;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
.center_inline_block {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
.center_text_no_resize {
    text-align: center;
    resize: none;
}
.pad_1percent_top
{
    margin-top: 1%;
}
.absolute_center
{
    width: auto;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}


#notFound{
  padding-top: 5%;
  position: relative;
  text-align: center;
  height: 100%;
}

#notFound img
{
  max-width: 50%;
}

.button {
    background: #046;
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 1px;
}

.messages {
    position: absolute;
    top: 200px;
    right: 50px;
    z-index: 1010;
}
.message {
    float: right;
    clear: both;
    margin-bottom: 2px;
    padding: 5px;
    padding-left: 10px;
    line-height: 14px;
    border: 1px solid #999;
    border-radius: 2px;
    background: #fff;
    opacity: 0.3;

    animation: message-fade 1s, message-hide 1s;
    animation-delay: 0s, 2s;
    animation-fill-mode: none, forwards;
    -webkit-animation: message-fade 1s, message-hide 1s;
    -webkit-animation-delay: 0s, 2s;
    -webkit-animation-fill-mode: none, forwards;

    font-size: 12px;
    color: #046;
}

.message.error {
    animation: message-fade 1s;
    animation-fill-mode: forwards;
    -webkit-animation: message-fade 1s;
    -webkit-animation-fill-mode: forwards;
    color: #820;
}
.message:hover {
    opacity: 1;
    animation: 0;
    -webkit-animation: 0;
}

.message .close { display: inline-block; margin-left: 5px;}
.message .close:hover { color: #000; cursor: pointer;}

@keyframes message-fade {
    from {opacity: 1;}
    to {opacity: 0.3;}
}
@-webkit-keyframes message-fade {
    from {opacity: 1;}
    to {opacity: 0.3;}
}

@keyframes message-hide {
    99% {opacity: 0; margin-top: -28px;}
    to {opacity: 0; margin-top: -28px; visibility: hidden;}
}
@-webkit-keyframes message-hide {
    99% {opacity: 0; margin-top: -28px;}
    to {opacity: 0; margin-top: -28px; visibility: hidden;}
}







@media only screen and (max-width: 1440px) {
    .split_div {
        width: 100%;
    }
}


@media only screen and (max-width: 800px) {

    .navigation_element {
        clear: both;
        float: right;
        width: 200px;
    }

    #navigation_menu ul {


    }

    #burger {
    }

    #burger_label {
        display: block;
    }

    #burger:checked ~ li {
        margin-right: -200px;
    }
}