body {
    font-family: 'Raleway', sans-serif;
    padding-top: 50px;
    font-family: 'Raleway', sans-serif;
}

#logo {
    height: 5em;
    z-index: 99999;
}

#home {
    padding: 0;
    margin: 0 32px 0 32px;
    z-index: 99999;
}

a {
    text-decoration: none;
    color: #777;
}

a :hover {
    text-decoration: none;
    text-underline: none!important;
    color: #000000;
}

.navbar {
    background-color: #ffffff;
    box-shadow: 0 0 8px #000000;
    border: none;
    text-align: center;
    vertical-align: bottom;
}

.form-control:focus {
    border-color: #000000;
    box-shadow: none;
}

.form-control {
    border-radius: 0;
}

.container-with-set-aspect-ratio {
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    overflow: hidden;
}

#carousel-frontpage > div > .item > img{
    width:100%
}

.progress {
    position: relative;
}

.progress-bar {
    position: absolute;
}

.progress span {
    position: absolute; width:100%; text-align:center;
}

.transparent-box {
    background-color: rgba(245,245,245,0.9);
    border-radius: 4px;
    padding: 20px;
    margin-top: 1%;
    box-shadow: -5px 5px 25px rgba(0,0,0,0.4);
}
.transparent-box-addition {
    background-color: rgba(245,245,245,0.9);
    border-radius: 4px;
    padding: 20px;
    box-shadow: -5px 5px 25px rgba(0,0,0,0.4);
    margin-left: 1%;
}
.white-boxer{
    background-color: rgba(245,245,245,1);
    border-radius: 4px;
    padding: 20px;
    margin-top: 1%;
    box-shadow: -5px 5px 25px rgba(0,0,0,0.4);
}
.art-img{
    overflow: hidden;
    max-width: 100%;
    height:auto;
}
.article-bg{
    background-image: url(/assets/images/kilt3.PNG);
    background-repeat: repeat;
    min-height: 100vh;
    height: auto;
}
.row.container-height {
    overflow: hidden;
}

.row.container-height > [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.fixscroll{
    position:fixed;
}
