body {

}

#logo {
    height: 5em;
    z-index: 99999;
}

#home {
    padding: 0;
    margin: 0 32px 0 32px;
    z-index: 99999;
}

a {
    text-decoration: none;
    color: #777;
}

a :hover {
    text-decoration: none;
    text-underline: none!important;
    color: #000000;
}

.navbar {
    background-color: #ffffff;
    box-shadow: 0 0 8px #000000;
    border: none;
    text-align: center;
    vertical-align: bottom;
}

.form-control:focus {
    border-color: #000000;
    box-shadow: none;
}

.form-control {
    border-radius: 0;
}

.container-with-set-aspect-ratio {
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    overflow: hidden;
}

#carousel-frontpage > div > .item > img{
    width:100%
}

.transparent-box {
    background-color: rgba(245,245,245,225);
    border-radius: 4px;
    padding: 50px;
}

.wrap {
    margin-top: 50px;
}