/* {
	outline: 1px solid red !important ;
}  */

.kropp{
	background-image: url("../images/nys.png");
	background-size: 100%;
	background-repeat: repeat;
	background-attachment: fixed;
	background-position: center;
	width: 100%;
	color: #000000;
	position: absolute;
}
.tittel{
	font-family: 'Playfair Display', serif;
	position: relative;
}
.undershit{
}
.topright{
	border-top-right-radius: 10px;
}
.topleft{
	border-top-left-radius: 10px;
}
.bottomright{
	border-bottom-right-radius: 10px;
}
.bottomleft{
	border-bottom-left-radius: 10px;
}
.undershiit{
}
.whitebox{
	background-color: #ffffff;
	opacity: 0.7;
}
.blank{
	height:70px;
	width: 1170px;
}
.blankcol{
	height: 30px;
}
}
.paragraph {
    font-family: 'Raleway', sans-serif;
    position: absolute;
}
@media screen and (max-width: 1199px) and (min-width: 993px) {
    .bottomlefthidden{
        padding-bottom: 40px;
    }
}
@media screen and (max-width: 991px) {
    body {
 		background-image: url("../images/nys.png");

        background-repeat: repeat;
    }
    .blankcol{
    	display: none;
    }
    .undershiit{   
     	margin-bottom: -1px;
    }
    .undershit{
    	margin-bottom: -10px;
    }
   	.bottomlefthidden{
   		border-bottom-left-radius: 10px;
   	}
	.bottomleft{
		border-bottom-left-radius: 0px;
	}
}
