.profile {
    width: 70%;
    margin: 60px auto 100px;
    text-align: center;
}

.profile .pic {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) -10px 12px 25px;
}

.profile .name,
.profile .name-with-mName {
    margin: 0.8em 0 0.2em;

    text-align: center;
    text-transform: uppercase;
    font-family: "Gill", serif;
}

.profile .name {
    font-size: 60px;
    color: #046;
}

.profile .name-with-mName {
    margin: 0.2em 0 0.8em;
    font-size: 30px;
    color: #bbb;
}

.profile .info-block  ul {
    margin: 0 auto;
    padding: 10px 0;
    width: 0;
}

.profile .info-block li {
    position: relative;
    height: 25px;
    overflow: visible;
    list-style: none;

    text-align: left;
}

.profile .info-block .label,
.profile .info-block .info {
    position: absolute;
    top: 0; left: 0;
    margin: 0;
    padding: 40px 20px;
    width: 300px;

    line-height: 0;
}

.profile .info-block .label {
    left: auto; right: 0;

    text-align: right;
    border-right: 3px solid #bbb;
    font-size: 16px;
    color: #046;
}