.pageInner {
    width: auto;
}

.pageItem {
    display: block;
    width: 90%;
    min-width: 300px;
    margin-top: 45px;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 0;
    padding-right: 0;
    float: none;

}

.picFrame {
    position: relative;
    margin-top: 25px;
    width: auto;
    height: auto;
    max-height: 400px;

    box-shadow: rgba(0, 0, 0, 0.4) -5px 6px 25px;
    border-radius: 5px;
    background: #ccc;
    overflow: hidden;
}

.edit .picFrame {
    height: 300px;
    text-align: center;
}


.edit .picFrame .pic-inner,
.edit .picFrame .loader {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.edit .picFrame .pic-inner {
    width: 0;
    height: 0;
    padding: 50%;

    font-size: large;
    font-weight: bold;
    color: white;
}

.edit .picFrame .loader {
    position: relative;
    display: block;
    width: 43px;
    margin: 0 auto;
}

.edit .picFrame .link-container,
.edit .picFrame .drop {
    line-height: 45px;
    width:150px;
    transform: translate(-50%, -50%);
    cursor:pointer;
    text-shadow: rgba(0,0,0,1) 0 0 7px;
    z-index: 3;
}

.edit .picFrame .link:hover,
.edit .picFrame .drop {
    color: #eee;
    text-shadow: rgba(0,0,0,1) 0 0 10px;
}

.edit .picFrame .glyphicon {
    position: relative;
    top: 3px;
}

.pic {
    position: relative;
    display: block;
    transform: translateY(-50%);

    top: 50%;
    margin: 0 auto;
    padding: 0;

    min-width: 80%;
    width: auto;
    max-width: 500px;

    min-height: 200px;
    height: auto;
    max-height: none;
}

.edit .pic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 0;
    max-width: 100%;
    min-height: 0;
    max-height: 100%;
}

.edit .poof .pic-inner {
    visibility: hidden;
}

.edit .poof:hover .pic-inner {
    visibility: visible;
}

.edit .poof:hover .loader {
    visibility: hidden;
}

.edit .poof:hover .pic {
    opacity: 0.5;
}

.info-block {
    margin-top: 30px;
    padding: 30px 0;
    background: url('/assets/images/profile_bg.gif') center repeat-y;
}

.info-block + .info-block {
    margin-top: 0;
    padding-top: 0;
}

.info-block ul {
    margin: 0;
    padding: 0;
}

.info-block li {
    list-style: none;
}

.info-block .label,
.info-block .info {
    padding: 0;
    display: block;
    width: 50%;
    float: left;
    clear: right;
    transform: translate(10%, 0);

    text-align: left;
    line-height: 1.5em;
}

.info-block .label {
    clear: left;
    transform: translate(-10%, 0);

    text-align: right;
    font-size: 16px;
    color: #046;
}

.info-block .input-container {

}

.info-block input,
.info-block select {
    width: 80%;
}

.info-block input {
    padding-left: 4px;
    padding-right: 4px;
    border: 1px solid #a9a9a9;
    border-radius: 2px;
}

.info-block .select-container {
}

.info-block select {
    padding-top: 3px;
    padding-bottom: 2px;
}

.page {
    width: 80%;
    min-width: 678px;
    max-width: 1600px;
    margin: 30px 50%;
    padding: 25px 0 80px;
    transform: translate(-50%, 0);

    background: #fff;
    box-shadow: -5px 5px 25px rgba(0,0,0,0.4);
}
.buttons {
    position: absolute;
    display: block;
    right: 50px;
}

.buttons .btn {
    margin-left: 1px;
}

.smallTitle {
    margin: 14px 50px 10px;
    padding: 0 0 10px;
    border-bottom: 2px solid #999;
    font: normal 18px "Playfair Display", serif;
    text-transform: uppercase;
    color: #777;
}

.bigTitle,
.bigSubTitle {
    margin-top: 40px;
    margin-bottom: 10px;

    text-align: center;
    text-transform: uppercase;
    font-family: "Playfair Display";
}

.bigTitle {
    font-size: 60px;
    color: #046;
}

.bigSubTitle {
    margin-top: 0.2em;
    margin-bottom: 0.8em;
    font-size: 30px;
    color: #bbb;
}

@media (min-width : 1300px) {
    .pageInner { width: 80%; margin: 0 auto;}
    .pageItem { width: 40%; float: right;}
    .picFrame { max-height: unset;}
    .edit .picFrame { height: 500px;}
    .pic {
        min-width: 200px;
        max-height: 500px;
        top: 0;
    }
    .nedit .pic {
        transform: translateX(0) !important;
    }
    .nedit .info-block-container { margin-top: 0;}
    .info-block input,
    .info-block select { width: 100%;}
}
