.pageInner {
    width: auto;
}

.pageItem {
    display: block;
    width: 90%;
    min-width: 300px;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 0;
    padding-right: 0;
    float: none;

}

.picFrame {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.4) -5px 6px 25px;
    border-radius: 5px;
    max-height: 400px;
}

.edit .picFrame {
    cursor:pointer;
    height: 500px;
}

.edit .picFrame span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    visibility:hidden;
    z-index: 2;

    font-size: large;
    font-weight: bold;
    color: white;
}

.edit .picFrame:hover .pic {
    opacity: 0.5;
}

.edit .picFrame:hover span {
    visibility: visible;
}

.pic {
    position: relative;
    top: 200px;
    transform: translateY(-50%);

    margin: 0 auto;
    padding: 0;

    min-width: 80%;
    width: auto;
    max-width: 500px;

    min-height: 200px;
    height: auto;
    max-height: none;
}

.edit .pic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 0;
    max-width: 100%;
    min-height: 0;
    max-height: 100%;
}

.info-block {
    margin-top: 30px;
    padding: 30px 0;
    background: url('/assets/images/profile_bg.gif') center repeat-y;
}

.info-block + .info-block {
    margin-top: 0;
    padding-top: 0;
}

.info-block ul {
    margin: 0;
    padding: 0;
}

.info-block li {
    height: 27px;

    list-style: none;
}

.info-block .label,
.info-block .info {
    padding: 0;
    display: block;
    width: 50%;
    float: left;
    clear: right;
    transform: translate(30px, 0);

    text-align: left;
    line-height: 1.5em;
}

.info-block .label {
    clear: left;
    transform: translate(-30px, 0);

    text-align: right;
    font-size: 16px;
    color: #046;
}

.page {
    width: 80%;
    min-width: 678px;
    max-width: 1600px;
    margin: 30px 50%;
    padding: 40px 0 80px;
    transform: translate(-50%, 0);

    background: #fff;
    box-shadow: -5px 5px 25px rgba(0,0,0,0.4);
}
.buttons {
    position: absolute;
    display: block;
    top: 32px;
    right: 50px;
}

.buttons .button {
    margin-left: 1px;
}

.picFrame {
    background: #ccc;
    margin-top: 45px;
    height: auto;
    width: auto;
    overflow: hidden;
}

.pic {
    display: block;
    margin: 0 auto 0;
    min-height: 200px;
    width: auto;
    max-width: 100%;
}

.smallTitle {
    margin: 0 50px 10px;
    padding: 0 0 10px;
    border-bottom: 2px solid #999;
    font: normal 18px "Playfair Display", serif;
    text-transform: uppercase;
    color: #777;
}

.bigTitle,
.bigSubTitle {
    margin: 40px 0 10px;

    text-align: center;
    text-transform: uppercase;
    font-family: "Playfair Display";
}

.bigTitle {
    font-size: 60px;
    color: #046;
}

.bigSubTitle {
    margin: 0.2em 0 0.8em;
    font-size: 30px;
    color: #bbb;
}


@media (min-width : 1200px) {
    .pageInner { width: 80%; margin: 0 auto;}
    .pageItem { width: 40%; float: right;}
    .picFrame { max-height: unset;}
    .pic {
        min-width: 200px;
        max-height: 500px;
        top: 0;
        transform: none;
    }
}
