.pageItem {
    display: block;
    min-width: 300px;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 0;
    padding-right: 0;

}

.pageInner { width: auto; margin: 0 50px;}
.pageItem { width: 90%; float: none;}

.quiz-container  .nav {
    margin-bottom: 1em;
}

.quiz-team-table .quiz-table-action {
    text-align: center;
}

/* Bootstrap uses border radius on all buttons, looks like we're not. */
button.btn{
    border-radius: 0;
}

.season-edit .row {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1em;
}
