#updatebilde {
    box-shadow: 0px 0px 50px rgba(0,0, 0, 0.9);
    float:left;
    margin-right: 2em;
}

.articletext{
    font-family: "Sans-serif";
    color: #696969;
    font-size: 20px;
    text-shadow: 3px, 3px   , #333;
}
#headline{


}
.images{
    style: inline;
    height: 120px;
    width: 100px;

}

.whitebox{
    padding: 2em 4%;
    background-color: #ffffff;
    border-radius: 5px;
}