<html>
    <head>
        <style type="text/css">
         h1{
                    font-family: "Courier New", Courier, monospace;
                    font-size: 40pt;
                    color: #2b542c;
                    border: dashed;
                    text-align: center;
             }
         p{
                    font-family: "Times New Roman";
                    font-size: 20pt;
                    color: #2C2C2C;
                    padding: 1%;
                    text-align: center;
                }

        </style>
    </head>
    <body>
        <div>
            <h1>Hello World!</h1>
            <p>Denne siden komer til å bli fylt med drit</p>
        </div>
    </body>
</html>

