@()
<div class="article-bg" style="background-image: url(@routes.Assets.at("images/nys.png")">
    <div class="container-fluid center-container">
        <div class="row space-below">
            <div class="col-md-8 col-md-offset-2 space-above">
                <div class="transparent-box rounded">
                    <h1>Redaksjonen</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus purus lectus, non iaculis massa iaculis eu. Pellentesque turpis enim, vestibulum non nibh vitae, vestibulum pretium ante. Aliquam laoreet fermentum consequat. Aliquam lectus nibh, mollis quis pellentesque at, semper ut sem. Fusce in eros maximus, ultrices urna ut, sodales justo. Praesent sagittis elementum neque vel sagittis. Nullam orci lorem, pulvinar mollis molestie quis, maximus vitae ante. Aliquam ultrices, turpis quis auctor hendrerit, justo nulla pharetra purus, ac consequat leo odio sed orci. Donec felis velit, pulvinar nec porta non, placerat vitae augue. Etiam id nisi ullamcorper, laoreet justo ut, vestibulum nisi. Sed vel fermentum turpis. Integer auctor ut quam scelerisque ullamcorper. Nam tincidunt tempor erat malesuada accumsan.
                    </p>
                    <p>
                        Pellentesque euismod iaculis eros eu consectetur. Cras dignissim malesuada suscipit. Sed eget imperdiet felis, vel pulvinar urna. In pretium nunc a quam mollis efficitur. Duis iaculis tincidunt mauris, eget suscipit ipsum venenatis in. Nunc et elit id mi ultrices mollis. Ut vulputate nisi in enim gravida rutrum. Praesent euismod nunc eget est luctus, sit amet luctus sem sodales. Aliquam suscipit porta erat at tempor. Mauris ante urna, feugiat in consectetur vitae, ullamcorper et sapien.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>