<div style="display: table-row">
	<div style="display: table-cell">
	</div>
	<div style="display: table-cell">
		<input type="text" name="username" form="form_new" placeholder="Ny Bruker">
	</div>
	<div style="display: table-cell">
		<input type="checkbox" name="arrkom" form="form_new">
	</div>
	<div style="display: table-cell">
		<input type="checkbox" name="jentekom" form="form_new">
	</div>
	<div style="display: table-cell">
		<input type="checkbox" name="redaksjonen" form="form_new">
	</div>
	<div style="display: table-cell">
		<input type="checkbox" name="bedkom" form="form_new">
	</div>
	<div style="display: table-cell">
		<input type="checkbox" name="root" form="form_new">
	</div>
	<div style="display: table-cell">
		<input type="checkbox" name="vevkom" form="form_new">
	</div>
	<div style="display: table-cell">
		<input type="checkbox" name="admin" form="form_new">
	</div>
	<div style="display: table-cell">
		<select name="gender" form="form_new">
			<option value="">Ikke satt</option>
			<option value="M" selected>Mann</option>
			<option value="F">Kvinne</option>
		</select>
	</div>
	<div style="display: table-cell">
		<input type="text" name="graduationYear" form="form_new" value="@(Calendar.getInstance.get(Calendar.YEAR) + 5)">
	</div>
	<div style="display: table-cell">
		<input type="submit" form="form_new">
	</div>
	<div style="display: table-cell">
	</div>
</div>
