@(user: models.User, showTitles: Boolean, uid: Long)
@import util._
@if(showTitles){<hr>
<div style="display: table-row">
	<div style="display: table-cell"> Link </div>
	<div style="display: table-cell"> Brukernavn </div>
	<div style="display: table-cell"> Arrkom </div>
	<div style="display: table-cell"> Bedkom </div>
	<div style="display: table-cell"> Root </div>
	<div style="display: table-cell"> Vevkom </div>
	<div style="display: table-cell"> Admin </div>
	<div style="display: table-cell"> Kjønn </div>
	<div style="display: table-cell"> Avgangsår </div>
	<div style="display: table-cell"> </div>
	<div style="display: table-cell"> </div>
</div>
}
<div style="display: table-row">
	<div style="display: table-cell">
		<a href="@profile.routes.Profile.index(user.getUsername)">@uid</a>
	</div>
	<div style="display: table-cell">
		<input type="text" name="username" form="form_@uid" value="@user.getUsername">
	</div>
	<div style="display: table-cell">
		<input type="checkbox" name="arrkom" form="form_@uid" @TextUtil.bool2checked(user.isInArrkom)>
	</div>
	<div style="display: table-cell">
		<input type="checkbox" name="bedkom" form="form_@uid" @TextUtil.bool2checked(user.isInBedkom)>
	</div>
	<div style="display: table-cell">
		<input type="checkbox" name="root" form="form_@uid" @TextUtil.bool2checked(user.isRoot)>
	</div>
	<div style="display: table-cell">
		<input type="checkbox" name="vevkom" form="form_@uid" @TextUtil.bool2checked(user.isInWebkom)>
	</div>
	<div style="display: table-cell">
		<input type="checkbox" name="admin" form="form_@uid" @TextUtil.bool2checked(user.isInAdmin)>
	</div>
	<div style="display: table-cell">
		<select name="gender" form="form_@uid">
			<option value="" @TextUtil.bool2selected(user.isUnknownGender)>Ikke satt</option>
			<option value="M" @TextUtil.bool2selected(user.isMale)>Mann</option>
			<option value="F" @TextUtil.bool2selected(user.isFemale)>Kvinne</option>
		</select>
	</div>
	<div style="display: table-cell">
		<input type="text" name="graduationYear" form="form_@uid" value="@user.getGraduationYear">
	</div>
	<div style="display: table-cell">
		<input type="submit" form="form_@uid">
	</div>
	<div style="display: table-cell">
		<input type="submit" name="delete" value="delet" form="form_@uid">
	</div>
</div>
