@import util.DateUtil
@import util.TextUtil
@import models.Event
@(event: Event)
<div class="form-group">
    <label for="oD">Påmelding Åpnes:</label>
    <input class="form-control" id="oD" type="datetime-local" name="signUpStart" value="@(DateUtil.calendarToString(event.getSignUpStart))">
</div>
<div class="form-group">
    <label for="aOD">Påmelding åpnes for andre:</label>
    <input class="form-control" id="aOD" type="datetime-local" name="secondSignUp" value="@(DateUtil.calendarToString(event.getSecondSignUp))">
</div>
<div class="form-group">
    <label for="oD">Påmelding Stenges:</label>
    <input class="form-control" id="oD" type="datetime-local" name="signUpDeadline" value="@(DateUtil.calendarToString(event.getSignUpDeadline))">
</div>
<div class="form-group">
    <label for="nDS">Starttid:</label>
    <input class="form-control" id="nDS" type="datetime-local" name="eventHappens" value="@(DateUtil.calendarToString(event.getEventHappens))">
</div>
<div class="form-group">
    <label for="tF">Sluttid:</label>
    <input class="form-control" id="tF" type="datetime-local" name="timeFrame" placeholder="Varighet" value="@(DateUtil.calendarToString(event.getEventStops))">
</div>
<div class="form-group">
    <label for="loc">Sted:</label>
    <input type="text" id="loc" class="form-control" name="location" placeholder="Skriv sted her" value="@event.getLocation">
</div>
<label for="FSU">Klasser tillatt ved første påmelding</label>
<div id="FSU" class="form-group">
    <label class="checkbox-inline">
        <input type="checkbox" id="first_signup" name="firstYearAllowed" @TextUtil.bool2checked(event.firstYearAllowed)>1
    </label>
    <label class="checkbox-inline">
        <input type="checkbox" id="first_signup" name="secondYearAllowed" @TextUtil.bool2checked(event.secondYearAllowed)>2
    </label>
    <label class="checkbox-inline">
        <input type="checkbox" id="first_signup" name="thirdYearAllowed" @TextUtil.bool2checked(event.thirdYearAllowed)>3
    </label>
    <label class="checkbox-inline">
        <input type="checkbox" id="first_signup" name="fourthYearAllowed" @TextUtil.bool2checked(event.fourthYearAllowed)>4
    </label>
    <label class="checkbox-inline">
        <input type="checkbox" id="first_signup" name="fifthYearAllowed" @TextUtil.bool2checked(event.fifthYearAllowed)>5
    </label>
</div>


<label for="SSU">Klasser tillatt ved andre påmelding</label>
<div id="SSU" class="form-group">
    <label class="checkbox-inline">
        <input type="checkbox" id="secound_signup" name="firstYearAllowedAfterSecondSignup" @TextUtil.bool2checked(event.firstYearAllowedAfterSecondSignup)>1
    </label>
    <label class="checkbox-inline">
        <input type="checkbox" id="secound_signup" name="secondYearAllowedAfterSecondSignup" @TextUtil.bool2checked(event.secondYearAllowedAfterSecondSignup)>2
    </label>
    <label class="checkbox-inline">
        <input type="checkbox" id="secound_signup" name="thirdYearAllowedAfterSecondSignup" @TextUtil.bool2checked(event.thirdYearAllowedAfterSecondSignup)>3
    </label>
    <label class="checkbox-inline">
        <input type="checkbox" id="secound_signup" name="fourthYearAllowedAfterSecondSignup" @TextUtil.bool2checked(event.fourthYearAllowedAfterSecondSignup)>4
    </label>
    <label class="checkbox-inline">
        <input type="checkbox" id="secound_signup" name="fifthYearAllowedAfterSecondSignup" @TextUtil.bool2checked(event.fifthYearAllowedAfterSecondSignup)>5
    </label>
</div>

<div class="form-group">
    <label for="sA">Tillatt kjønn:</label>
    <div id="sA">
        <label class="radio-inline">
            <input type="radio" name="genderAllowed" id="sA1" value="A" @event.areAllGendersAllowed> Alle
        </label>
        <label class="radio-inline">
            <input type="radio" name="genderAllowed" id="sA2" value="M" @event.areOnlyMalesAllowed> Menn
        </label>
        <label class="radio-inline">
            <input type="radio" name="genderAllowed" id="sA3" value="F" @event.areOnlyFemalesAllowed> Kvinner
        </label>
    </div>
</div>
<div class="form-group">
    <label for="mO">Maksimalt antall deltagere:</label>
    <input class="form-control" id="mO" type="number" name="maxParticipants" value="@event.getMaxParticipants">
</div>
<div class="form-group">
    <label for="mV">Maksimalt antall deltagere på venteliste:</label>
    <input class="form-control" id="mV" type="number" name="maxParticipantsWaiting" value="@event.getMaxParticipantsWaiting">
</div>
<div class="form-group">
    <label for="mX"> Spesifiser om dette er en bedpres
        <label class="checkbox-inline">
            <input type="checkbox" id="mX" name="bedpres" @TextUtil.bool2checked(event.bedpres)>Bedpres
        </label>
    </label>
</div>
<div class="form-group">
    <label for="mW">Er påmelding bindende? (Det er ikke mulig å melde seg av etter påmeldingen stenges)
        <label class="checkbox-inline">
            <input type="checkbox" id="mW" name="binding" @TextUtil.bool2checked(event.binding)>Bindende
        </label>
    </label>
</div>
