<div ng-app="quiz" class="quiz-container">
    <ul class="nav nav-tabs">
        <li role="presentation"><a href>Sesong</a></li>
        <li role="presentation"><a href>Quiz</a></li>
        <li role="presentation" class="active"><a href>Quizlag</a></li>
    </ul>

    <div ng-controller="ScoreboardController as score" ng-hide="true">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="(team, score) in score.teamScores | orderBy:'-score'">
                <span class="badge">{{score}}</span>
                {{team}}
            </li>
        </ul>
    </div>

    <div ng-controller="QuizTeamController as teams">
        <table class="quiz-team-table table table-hover">
            <tr>
                <th>Lag</th>
                <th>Beskrivelse</th>
                <th></th>
            </tr>
            <tr ng-repeat="team in teams.saved | orderBy : team.id ">
                <td>{{team.name}}</td>
                <td>{{team.description}}</td>
                <td class="quiz-team-table-action">
                    <button type="button" class="btn btn-default btn-sm" ng-click="teams.modifyTeam(team)">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-sm" ng-click="teams.deleteTeamById(team)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
            <tr ng-repeat="team in teams.temporary">
                <td><input type="text" class="form-control" placeholder="Name" ng-model="team.name"></td>
                <td><input type="text" class="form-control" placeholder="Name" ng-model="team.description"></td>
                <td class="quiz-team-table-action">
                    <button type="button" class="btn btn-default btn-sm" ng-click="teams.saveTeam(team)">
                        <span class="glyphicon glyphicon-save"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-sm" ng-click="teams.deleteNewTeam(team)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="button" class="btn btn-default btn-sm" ng-click="teams.createNewTeam()">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-sm" ng-click="teams.debug()">
                        Debug
                    </button>
                </td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="@routes.Assets.at("javascripts/quiz.js")"></script>
