<link href='assets/stylesheets/fullcalendar.css' rel='stylesheet' />
<link href='assets/stylesheets/fullcalendar.print.css' rel='stylesheet' media='print' />
<script src='assets/javascripts/moment.min.js'></script>
<script src='assets/javascripts/jquery-1.11.2.min.js'></script>
<script src='assets/javascripts/fullcalendar.js'></script>
<script src='assets/javascripts/fullcalendar.nb.js'></script>
<script>
    $(document).ready(function() {
        $('#calendar').fullCalendar({
            lang: "nb",
            @defining(models.LoginState.getUser.canCreateNewArticle) { admin =>
                @if(admin) {
                    customButtons: {
                        gcal: {
                            text: 'Google calendar',
                            click: function() {
                                window.location.href = '?gcal=true';
                            }
                        }
                    },
                    editable: true,
                }
                header: {
                    left: "prev,next today",
                    center: "title",
                    right: @if(admin){"gcal "}else{""} + "month,agendaWeek,agendaDay"
                },
            }
            eventDrop: function(event, delta, revertFunc, jsEvent, ui, view) {changeEvent(event, revertFunc);},
            eventResize: function(event, delta, revertFunc, jsEvent, ui, view) {changeEvent(event, revertFunc);},
            eventLimit: true, // allow "more" link when too many events
            events: {
                url: "/api/kalender/hent", //Kan ikke reverse route
                error: function() {
                    $("#script-warning").show();
                }
            },
            loading: function(bool) {
                $("#loading").toggle(bool);
            }
        });

    });

    function changeEvent(event, revertFunc) {
        if(event.id == null || event.id == "") {
            revertFunc();
        } else if(!confirm("Er du sikker på denne endringen?")) {
            revertFunc();
        } else {
            $.ajax({
                url: "api/kalender/endre",
                type: "POST",
                dataType: "json",
                data: ({
                    id: event.id,
                    start: event.start.format(),
                    end: event.end.format()
                }),
                success: function(data) {
                    if(!data) {
                        revertFunc();
                        return;
                    }
                    $("#calendar").fullCalendar("updateEvent", event);
                },
                error: function() {
                    revertFunc();
                }
            });
        }
    }

</script>
