@(folders: Array[String], contents: Map[String, Array[String]])
<style>
.thumbnail {
height : 326px ;
width : 253px ;
display: inline-block;
overflow: hidden;
}
</style>

<div class="container-fluid center-container">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-box space-above space-below">
                <div>
                    <p><h1>Update<sup>k</sup></h1>
                </div>
                <br>
                <p> <b>Update<sup>k</sup></b> (’/øpdeit ikå:té’/, red.anm.) er linjeforeningsavisen til Hybrida - en avis av og for Hybrider.<br>
                    <a href="@update.routes.Update.redaksjon()">Redaksjonen</a> har som mål å gi ut tre aviser på høstsemesteret og fire,
                    med en sommeravis i posten til de nye studentene, på
                    vårsemesteret. Avisen printes og distribueres (i all hovedsak
                    på lesesalen), og er tilgjengelig på nett for hybrider."</p>

                <p>Dersom du er alumni og ønsker å abonnere på avisen,
                    kan du sende en mail til redaktøren.</p>
                @if(models.LoginState.isValidlyLoggedIn()) {
                    @*TODO: begrense tilgang for nye hybrider før opptak *@
                    @for(folder <- folders) {
                        <h3>@folder</h3>
                        <div class="well">
                        @if(contents.get(folder) != null) {
                            @for(thumbnail <- contents.get(folder)) {
                                <a href="@routes.Restricted.at("innlogget", "update/" + folder + "/" + thumbnail.substring(0, thumbnail.length() - 2) + "df")" class="thumbnail">
                                    <img src="@routes.Restricted.at("innlogget", "update/" + folder + "/" + thumbnail)" alt = "thumbnail"/>
                                </a>
                            }
                        }
                        </div>
                    }
                } else {
                    <a href="@sso.routes.SSOLogin.login(play.mvc.Http.Context.current().request().path())">Logg inn</a>
                }
                <div style="clear:both"></div>
            </div>
        </div>
    </div>
</div>