@(article : models.Article, event : models.Event)
@(/*This is for rendering a single event preview. It returns the bare html needed for the article to be correctly displayed. CSS should be added as well...*/)

<a href="@(controllers.routes.Event.viewEvent(String.valueOf(event.getEventId())))">
    <div class="content2">
        <div style="border-bottom: 2px solid #9e9d98 \">
            <img src="@article.getImagePath" alt="No image available" width=50% height=50%/><br>
        @article.getTitle
        </div>
        <br>
        @article.getIngress
        <br>
        Tidspunkt for eventet:
        @timestamp.render(event.getEventHappens, event)

        Eventet har frist:
        @timestamp.render(event.getSignUpDeadline, event)


        Andre frist:
        @timestamp.render(event.getSecondSignUp, event)

        Grenser: <br>
        @Integer.valueOf(event.getFirstLowerGraduationLimit) - @Integer.valueOf(event.getFirstUpperGraduationLimit) klasse
        <br>
        @Integer.valueOf(event.getSecondLowerGraduationLimit) - @Integer.valueOf(event.getSecondUpperGraduationLimit) klasse

    </div>
</a>