@(article : models.Article, event : models.Event)
@(/*This is for rendering a single event preview. It returns the bare html needed for the article to be correctly displayed. CSS should be added as well...*/)
<div style="position: relative;">
    <div style="padding-top: 100%;"></div>
    <div class="container-with-set-aspect-ratio">
        <a href="@(controllers.routes.Event.viewEvent(String.valueOf(event.getEventId())))">
            <div style="position: relative">
                <div style="padding-top: 61.8%"></div>
                <div class="container-with-set-aspect-ratio">
                    <img src="@article.getImagePath" alt="No image available" width=100%/>
                </div>
            </div>
            <h3>
            @article.getTitle
            </h3>
        </a>
        <p>@article.getIngress</p>
        <div style="position: absolute; bottom: 0; background: #ffffff; width: 100%">
		    <div style="width: 50%; margin:0;float: left;">
                <p>@timestamp.render(event.getEventHappens, event)</p>
            </div>
            <div style="width: 50%; margin:0; float: right;">
                <div class="progress">
					<div class="progress-bar" style="width: @((models.UserEventJoined.getNumberOfSignedUp(event.getEventId))*100/event.getMaxParticipants)%"></div>
					<span>@(models.UserEventJoined.getNumberOfSignedUp(event.getEventId)) / @event.getMaxParticipants</span>
				</div>
			</div>
        </div>
    </div>
</div>