@(content: java.util.List[String])
<div style="padding: 10%">
    <div style="padding: 2em 4%; background-color: #ffffff; border-radius: 5px;">
        <div style="background-color: #ffffff">
          @Html(content.get(0))
            <br>
            <img src="/assets/Upload/@Html(content.get(3))" height="50%" width="50%">
            <br>
            @Html(content.get(1))
            @Html(content.get(2))

            @if(content.get(6) == "false") {
            <form name="UpdateEvent" action="@controllers.routes.Event.updateUser()" method="POST">
                <input type="submit" name="SignUp" value="Meld På">
            </form>
            }
            @if(content.get(6) == "true") {
            <form name="UpdateEventR" action="@controllers.routes.Event.removeUser()" method="POST">
                <input type="submit" name="SignOf" value="Meld av">
            </form>
            }
            <br>
            @Html(content.get(5))
        </div>
    </div>
</div>
