@(article: models.Article, event: models.Event)
@( /*This is for rendering a single event.*/ )

<div class="article-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-9" style="padding-top : 0.3 %">
                <div class="row white-boxer">
                    @if(article.getImagePath != null) {
                        <img src="@article.getImagePath" alt="No image available" class="center-block img-responsive art-img"> <br>
                    }
                    <h1>@article.getTitle</h1>
                    <br>
                    <h3><p class="text-center">@article.getIngress</p></h3>
                    <br>
                    <p style="color:lightslategray; border-bottom: solid 2px #d3d3d3;">Av: @User.find.byId(article.getAuthor).getName

                        @if(models.LoginState.getUser().getId == article.getAuthor) {
                            <a href="@controllers.routes.ArticleIn.editArticle(String.valueOf(article.getId))">
                                <button class="btn-xs btn-primary"> Rediger </button> </a>
                        } </p>
                    @Html(article.getText)
                    <hr>
                    <p style="color:lightslategray; border-bottom: solid 2px #d3d3d3;">Påmeldte</p>
                    @if(models.LoginState.isValidlyLoggedIn){
                        <div class="col-md-12">
                        @for(i <- 1 to 5){
                            <div class="row">
                                <div class="col-md-1">@UserEventJoined.getSignedUpUsersByClass(i, event.getEventId).size()</div>
                                <div class="col-md-11">
                               <p onclick="$ ( '.showhide@i' ).toggle ( ) ;" style="cursor: pointer;"> Klasse @i.toString </p></div>
                                <div style="display: none" class="showhide@i" id="showhide@i" name="showhide@i">
                                @for(j <- UserEventJoined.getSignedUpUsersByClass(i, event.getEventId)){
                                    <div class="row" style="margin-left: 1%">
                                        <div class="col-md-1">
                                            <a href="/profil/@j.getUsername" class="thumbnail">
                                                <img src="@if(j.getProfileImageFileName != null){ /assets/upload/@j.getUsername/@j.getProfileImageFileName} @if(j.getProfileImageFileName == null){/assets/images/logo_big.png}" alt="profilepic for @j.getName" width="30px">
                                            </a>
                                        </div>
                                        <div class="col-md-11">
                                            <strong>@j.getName</strong>
                                        </div>
                                    </div>
                                }</div>
                            </div>
                        }
                            </div>
                    }
                    @if(!models.LoginState.isValidlyLoggedIn){<p>Logg inn for å se hvem som er påmeldt</p>}
                </div>
                @if(models.LoginState.isValidlyLoggedIn){
                <div class="row">
                    <div class="col-md-12 transparent-box" style="margin-top : 1 %">
                        <p style="color:lightslategray; border-bottom: solid 2px #d3d3d3;">Kommentarer</p>
                        @for(i <- article.getCommentList()) {
                            <div class="row">
                                <div class="col-md-1">
                                    <a href="/profil/@i.getAuthor.getUsername" class="thumbnail">
                                        <img src="@if(i.getAuthor.getProfileImageFileName != null){ /assets/upload/@i.getAuthor.getUsername/@i.getAuthor.getProfileImageFileName} @if(i.getAuthor.getProfileImageFileName == null){/assets/images/logo_big.png}" alt="profilepic for @i.getAuthor.getName" width="30px">
                                    </a>
                                </div>
                                <div class="col-md-11">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <strong>@(i.getAuthor().getName() + ":")</strong>
                                        </div>
                                        <div class="col-md-2">
                                        @if(i.getAuthor() == models.LoginState.getUser() || i.getAuthor().admin) {
                                                <!-- Extra small button group -->
                                            <div class="btn-group">
                                                <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <form method="POST" action="/comment/delete/@i.getCommentID">
                                                        <input type="hidden" name="isEvent" value="@event.getEventId">
                                                        <button type="submit" class="form-control"> Slett </button>
                                                    </form>
                                                </ul>
                                            </div>
                                        }
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                        @(i.getComment())
                                        </div></div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <small> @i.getTimestamp() </small>
                                        </div></div>
                                </div>
                            </div>
                        }
                        <div style="margin-top:1em">
                        <form action="/comment/@article.getId" method="POST">
                            <input type="hidden" name="isEvent" value="@event.getEventId">
                            <label for="comment" class="sr-only">Kommenter:</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="comment" name="comment" autocomplete="off" maxlength="250">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-primary">Kommenter</button>
                                </span>
                            </div>
                        </form></div>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="transparent-box-addition" style="margin-top:3%">
                    <div class="row">
                        <div class="col-md-6" style="border-right: solid lightslategray">
                            Start<br>
                            Slutt<br>
                            Sted<br>
                                @(//TODO LAGE logikk for visning av oppmeldingsinformasjon
                            //@event.getFirstLowerGraduationLimit
                            //@event.getFirstUpperGraduationLimit
                                        )

                        </div>
                        <div class="col-md-6">
                           @event.getEventHappens.getTime
                            @event.getEventStops.getTime
                            @event.getLocation
                        </div>
                    </div>}
                    <br>
                    @if(models.LoginState.isValidlyLoggedIn){
                   <div class="row">
                       <div class="col-md-12">
                           @if(!UserEventJoined.isSignedUp(models.LoginState.getUser().getId(), event.getEventId)){
                               <form method="POST" action="/event/meldpaa">
                                   <input type="hidden" name="eventId" value="@event.getEventId">
                               <button type="submit" class="btn btn-primary btn-sm btn-block"> Meld meg på</button>
                               </form>
                           }
                           @if(UserEventJoined.isSignedUp(models.LoginState.getUser().getId(), event.getEventId)){
                               <form method="POST" action="/event/meldav">
                                   <input type="hidden" name="eventId" value="@event.getEventId">
                                   <button type="submit" class="btn btn-primary btn-sm btn-block"> Meld meg av</button>
                               </form>
                           }
                       </div>
                   </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>