@(article : models.Article, event : models.Event)
@(/*This is for rendering a single event.*/)
<div class="article-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-9 white-boxer">

                    <img src="@article.getImagePath" alt="No image available" width=50% height=50%/><br>
                <h1><p class="text-center">@article.getTitle </p></h1>
                <br>
                <h3><p class="text-center">@article.getIngress</p></h3>
                <br>
                <p class="text-center">@Html(article.getText)</p>
                <br>
                Av: @User.find.byId(article.getAuthor).getName
                <br>
                Meldt på: @models.UserEventJoined.getNumberOfSignedUp(event.getEventId) / @event.getMaxParticipants
                <br>
                Første oppmeldingsfrist: @event.getSignUpDeadline.getTime()
                <br>
                Andre oppmeldingsfrist: @event.getSecondSignUp.getTime()
                <br>
                Det skjer: @event.getEventHappens.getTime()
                <br>
                Første grense for år: @event.getFirstUpperGraduationLimit og @event.getFirstLowerGraduationLimit
                <br>
                Første grense for år: @event.getSecondUpperGraduationLimit og @event.getSecondLowerGraduationLimit



                @if(models.LoginState.getUser().getId == article.getAuthor) {
                    <a href="@controllers.routes.Event.editEvent(String.valueOf(event.getEventId))"> Rediger </a>
                }
            </div> </div> </div> </div>
