@(article : models.Article)
@(/*This is for rendering a single article.*/)

<div class="content2">
    <div style="border-bottom: 2px solid #9e9d98 \">
        <img src="@article.getImagePath" alt="No image available" width=50% height=50%/><br>
        @article.getTitle
    </div>
    <br>
    @article.getIngress
    <br>
    @Html(article.getText)
    <br>
    Av: @User.find.byId(article.getAuthor).getName

    @if(models.LoginState.getUser().getId == article.getAuthor){
        <a href="@controllers.routes.ArticleIn.editArticle(String.valueOf(article.getId))"> Rediger </a>
    }
</div>