@(images: List[GalleryImage])

<div class="gallery">
    @for(image <- images) {
        <div
            class="imageWrapper"
            data-title="@image.getTitle()"
            data-desc="@image.getDescription()"
            data-score="@image.getScore()"
            data-id="@image.getImageId()"
            data-uploader="@image.getUploadedBy().getFullName()"
            data-date="@image.getDateUploaded().getTime()"
            data-orgwidth="@image.getWidth()"
            data-orgheight="@image.getHeight()"
            data-orgurl="@image.getImageURL()"
            data-thumburl="@image.getThumbURL()"
            data-thumbsize="@image.getThumbSize()"
        >
        </div>
    }
</div>