@(user: User, messages: java.util.List[Html], edit: Boolean)

@if(!messages.isEmpty()) {
    <div class="messages">@(for (message <- messages) message)</div>
}
<div class="pageItem">
    <div class="info-block">
        <ul>
            <li>
                <div class="label">NTNU-E-POST</div>
                <div class="info">@(user.getUsername())@@stud.ntnu.no</div>
                <div class="clearfix"></div>
            </li>
            @if(edit || user.hasAltEmail()) {
                <li>
                <div class="label">ALTERNATIV E-POST</div>
                <div class="info">
                    @if(edit) {
                        <input type="email" name="email" value="@user.getAltEmail()">
                    }else {
                        @user.getAltEmail()
                    }
                </div>
                <div class="clearfix"></div>
            </li>
            }
            @if(edit || user.hasWebsite()) {
            <li>
                <div class="label">HJEMMESIDE</div>
                <div class="info">
                    @if(edit) {
                        <input type="text" name="website_url" value="@user.getWebsite()">
                    }else {
                        @user.getWebsite()
                    }
                </div>
                <div class="clearfix"></div>
            </li>
            }
            @if(edit || user.hasPhone()) {
            <li>
                <div class="label">TELEFON</div>
                <div class="info">
                    @if(edit) {
                        <input type="text" name="phone" value="@user.getPhone()">
                    }else {
                        @user.getPhone()
                    }
                </div>
                <div class="clearfix"></div>
            </li>
            }
        </ul>
    </div>
    <div class="info-block">
        <ul>
            @if(edit || "mf".contains(user.getGender())) {
            <li>
                <div class="label">KJØNN</div>
                <div class="info">
                    @if(edit) {
                        <input type="radio" name="sex" value="m" @(if(user.getGender() == 'm') "CHECKED")> <label for="sex">Mann</label> |
                        <input type="radio" name="sex" value="f" @(if(user.getGender() == 'f') "CHECKED")> <label for="sex">Kvinne</label>
                    }else {
                        @(if(user.getGender() == 'm') "Mann" else "Kvinne")
                    }
                </div>
                <div class="clearfix"></div>
            </li>
            }
            @if(edit) {
                <li>
                    <div class="label">PROFILBILDE</div>
                    <div class="info">
                        <input type="text" name="profile_image_file_name" value="@user.getProfileImageFileName()">
                    </div>
                    <div class="clearfix"></div>
                </li>
            }
        </ul>
    </div>
</div>