@(username: String)
@indexHead()
<script type="text/javascript">

    function uploadImage(filesParent){
        $(".picFrame .link, .picFrame .drop, .pic").addClass("hidden");
        uploadFile(filesParent.files[0], function(url) {
            var filename = url.substring(url.lastIndexOf("/")+1);
            $(".profile-image-file-name").val(filename);
            $(".pic").attr("src", url);
            $(".picFrame").removeClass("hidden");
            $(".picFrame .link, .pic").removeClass("hidden");
            $(".picFrame").addClass("poof");
        }, "@username");
    }

    $(document).ready(function(){


        $(".edit .picFrame .ajaxUpload").click(function(){$(".profile-image-file-input").click()});
        $(".edit .picFrame .remove").click(function(){
            $(".pic").attr("src", "@routes.Assets.at("images/placeholder-profile.jpg")");
            $(".profile-image-file-name").val("");
            $(".picFrame .remove").addClass("hidden");
        });
        $(".edit .picFrame").on("dragover", function(jqe) {
                var e = jqe.originalEvent;
                e.stopPropagation();
                e.preventDefault();
                e.dataTransfer.dropEffect = 'copy';
            }).on("dragenter", function(jqe) {
                var e = jqe.originalEvent;
                e.stopPropagation();
                e.preventDefault();
                $(".picFrame").removeClass(".poof");
            }).on("dragleave", function(jqe) {
                var e = jqe.originalEvent;
                e.stopPropagation();
                e.preventDefault();
                $(".picFrame").addClass(".poof");
            }).on("drop", function(jqe) {
                var e = jqe.originalEvent;
                e.stopPropagation();
                e.preventDefault();
                uploadImage(e.dataTransfer);
            });
        $(".profile-image-file-input").change(function(){uploadImage(this);});


        $(".error :input").focus(function(){
            var thiz = $(this);
            $("." + thiz.attr("name")+ ".error").removeClass("error");
            $("." + thiz.attr("name")+ " .message").addClass("active-message");
        });
        $(".error :input").blur(function(){
            $("." + $(this).attr("name")+ " .message").removeClass("active-message");
        });
        $(".message").click(function(){
            $(this).toggleClass("active-message");
            $
        });
    });
</script>