@import profile.models.ImmutableUser
@(username: String, name: String, imageFilePath: String, user: ImmutableUser, canEdit: Boolean, subTitle: String)

@infoItem(label:String, value:String, valueIsHtml:Boolean = false) = {
    <li>
        <div class="label">@label</div>
        <div class="info">@if(valueIsHtml){ @Html(value) }else{ @value }</div>
        <div class="clearfix"></div>
    </li>
}

<div class="container-fluid center-container nedit space-above">
    <div class="row space-below">
        <div class="col-xs-12">
            <div class="page-box">
                <div class="row">
                    <div class="col-xs-12">
                        @if(canEdit) {
                            <div class="buttons">
                                <a class="pull-right btn btn-primary" href="@profile.routes.Profile.edit(username)">Rediger</a>
                            </div>
                        }
                        <h5 class="top-text">@name</h5>
                    </div>
                    <div class="col-xl-6 pull-right space-above">
                        <div class="picFrame poof">
                            <img class="pic super-center" src="@imageFilePath">
                        </div>
                    </div>
                    <div class="col-xl-6 pull-left space-above">
                        <h1 class="big-title">@name</h1>
                        @if(subTitle != null && !subTitle.equals("")) {
                            <h3 class="big-sub-title">@subTitle</h3>
                        }

                        <div class="info-block-container">
                            <div class="info-block">
                                <ul>
                                    @infoItem("NTNU-E-POST", username+"@stud.ntnu.no")
                                    @if(user.hasEmail){ @infoItem("ALTERNATIV E-POST", user.getEmail)}
                                    @if(user.hasWebsiteUrl){ @infoItem("HJEMMESIDE", "<a href='" +
                                            (if(user.getWebsiteUrl.substring(0, 4) != "http") "http://" else "")
                                            + user.getWebsiteUrl + "' alt='" + user.getFirstName + "s hjemmeside'>"
                                            + user.getWebsiteUrl + "</a>", true)}
                                    @if(user.hasPhone){ @infoItem("TELEFON", user.getPhone)}
                                </ul>
                            </div>
                            <div class="info-block">
                                <ul>
                                    @if(user.hasTitle){ @infoItem("TITTEL", user.getTitle)}
                                    @if(!user.getMemberships.isEmpty){ @infoItem("MEDLEM AV", util.TextUtil.capitalized(util.ArrayUtil.prettyJoin(user.getMemberships)))}
                                    @if(user.hasGraduationYear){ @infoItem("AVGANGSÅR", user.getGraduationYear.toString)}
                                    @if(user.hasSpecialization){ @infoItem("SPESIALISERING", user.getSpecialization.toString)}
                                    @if(user.hasCardCode){ @infoItem("KORTKODE", user.getCardCode)}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>