@(username: String, name: String, imageFilePath: String, user: ImmutableUser, canEdit: Boolean, subTitle: String)

@infoItem(label:String, value:String, valueIsHtml:Boolean = false) = {
    <li>
        <div class="label">@label</div>
        <div class="info">@if(valueIsHtml){ @Html(value) }else{ @value }</div>
        <div class="clearfix"></div>
    </li>
}

@layoutBoxPage("Hybrida - " + name) {
        @if(canEdit) {
        <div class="buttons">
            <a class="float-right btn btn-primary" href="@profile.routes.Profile.edit(username)">Rediger</a>
        </div>
    }
    <h5 class="smallTitle">@name</h5>
    <div class="pageInner nedit">
        <div class="pageItem">
            <div class="picFrame poof">
                <img class="pic super-center" src="@(if(imageFilePath != null && !imageFilePath.equals("")) {
                    routes.Assets.at(imageFilePath)
                } else {
                    routes.Assets.at("images/placeholder-profile.jpg")
                })" @if(user.hasProfileImagePos){style="transform: translateY(@(user.getProfileImagePos)%)"}>
            </div>
        </div>
        <h1 class="pageItem bigTitle">@name</h1>
        @if(subTitle != null && !subTitle.equals("")) {
            <h3 class="pageItem bigSubTitle">@subTitle</h3>
        }

        <div class="pageItem info-block-container">
            <div class="info-block">
                <ul>
                    @infoItem("NTNU-E-POST", username+"@stud.ntnu.no")
                    @if(user.hasEmail){ @infoItem("ALTERNATIV E-POST", user.getEmail)}
                    @if(user.hasWebsiteUrl){ @infoItem("HJEMMESIDE", "<a href='" +
                            (if(user.getWebsiteUrl.substring(0, 4) != "http") "http://" else "")
                            + user.getWebsiteUrl + "' alt='" + user.getFirstName + "s hjemmeside'>"
                            + user.getWebsiteUrl + "</a>", true)}
                    @if(user.hasPhone){ @infoItem("TELEFON", user.getPhone)}
                </ul>
            </div>
            <div class="info-block">
                <ul>
                    @if(user.hasTitle){ @infoItem("TITTEL", user.getTitle)}
                    @if(!user.getMemberships.isEmpty){ @infoItem("MEDLEM AV", util.TextUtil.capitalized(util.ArrayUtil.prettyJoin(user.getMemberships)))}
                    @if(user.hasGraduationYear){ @infoItem("AVGANGSÅR", user.getGraduationYear.toString)}
                    @if(user.hasSpecialization){ @infoItem("SPESIALISERING", user.getSpecialization.toString)}
                </ul>
            </div>
        </div>

        <div class="clearfix">
        </div>
    </div>
} {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/profile.css")" />
    <script type="text/javascript">
//        function calculatePicTop(){
//            var pic = $(".nedit .pic");
//            var picFrame = $(".picFrame");
//            pic.css("width", "auto");
//            pic.css("height", "auto");
//            if (pic.height() < parseFloat(picFrame.css("max-height"))) {
//                pic.css("top", pic.height()/2 + "px");
//            } else if($(window).width() < 1300) {
//                pic.css("top", picFrame.height()/2);
//            } else {
//                pic.css("top", "50%");
//            }
//            pic.css("width", "");
//            pic.css("height", "");
//        }
//
//        $(document).ready(function(){
//            calculatePicTop();
//            $(window).resize(function(){
//                calculatePicTop();
//            })
//        });
    </script>
}