<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/timeline.css")">

<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
        <section id="cd-timeline" class="cd-container">
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-griff">
                    <img src="/assets/images/Griff, drop shadow.png">
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                    <h2>Hybrida blir stiftet</h2>
                    <p>Hybrida Linjeforening ble stiftet i 2003.</p>
                    <span class="cd-date">Jan 14</span>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-year">
                    <p class="cd-timeline-year">2003</p>
                </div>
                <div class="cd-timeline-content">
                    <h2>HEIHEIHEI</h2>
                </div>
            </div>

            <div>

            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-griff">
                    <img src="/assets/images/Griff, drop shadow.png">
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                    <h2>Hybrida Vevkom opprettet</h2>
                    <p>Hybridas Vevkomité ble opprettet, og Hyrbidas første nettside ble lansert 4.november.</p>
                    <span class="cd-date">Jan 18</span>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-griff">
                    <img src="/assets/images/Griff, drop shadow.png">
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                    <h2>Kia begynte i Hybrida</h2>
                    <p>Alle hjerter gledet seg da Kia begynte på I&IKT</p>
                    <span class="cd-date">11.august 2014</span>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-griff">
                    <img src="/assets/images/Griff, drop shadow.png">
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                    <h2>Endelig et kvinnelig medlem i Vevkom!</h2>
                    <p>Endelig ble et dugelige kvinnelig medlem tatt opp i vevkom</p>
                    <span class="cd-date">29. August 2014</span>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-griff">
                    <img src="/assets/images/Griff, drop shadow.png">
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                    <h2>Title of section 5</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum.</p>
                    <span class="cd-date">Feb 18</span>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-griff">
                    <img src="/assets/images/Griff, drop shadow.png">
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                    <h2>Final Section</h2>
                    <p>This is the content of the last section</p>
                    <span class="cd-date">Feb 26</span>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->
        </section> <!-- cd-timeline -->

</body>
</html>