<div class="column1" style="right: 0;">
        <!--Nav Bar -->

    <nav class="bs-docs-sidebar">
        <ul id="sidebar" class="nav nav-stacked" style="position: absolute; top: 64px">
            <li>
                <a href="#Hybrida">Hybrida</a>
                <ul class="nav nav-stacked">
                </ul>
            </li>
            <li>
                <a href="#Styret">Styret</a>
                <ul class="nav nav-stacked">
                </ul>
            </li>
            <li>
                <a href="#Update">Update</a>
                <ul class="nav nav-stacked">
                    <li><a href="#GroupCSub1">Sub-Group 1</a></li>
                    <li><a href="#GroupCSub2">Sub-Group 2</a></li>
                </ul>
            </li>
            <li>
                <a href="#Student">Informasjon til nye studenter</a>
            </li>
            <li>
                <a href="#GriffensOrden">Griffens Orden</a>
            </li>
            <li>
                <a href="#Kontaktinfo">Kontaktinformasjon</a>
                <ul class="nav nav-stacked">
                    <li><a href="adresse">Adresse</a></li>
                </ul>
            </li>
        </ul>
    </nav>

<!--
<nav class="bs-docs-sidebar ">
    <ul class="nav nav-stacked bs-docs-sidenav">
        <li class=""> <a href="#Hybrida">Linjeforeningen Hybrida</a> </li>
        <li class=""> <a href="#Styret">Styret i Hybrida</a> </li>
        <li class=""> <a href="#Update">Update</a> </li>
        <li class=""> <a href="#Student">Ny Student</a> </li>
        <li class=""> <a href="#griffensOrden">Griffens Orden</a> </li>
        <li class=""> <a href="#Kontaktinfo">KontaktInformasjon</a> </li>
    </ul>
</nav>
 -->


</div> <!-- column1 -->

<div class="column2">
    <section id="Hybrida">
    <a href="#" name="Hybrida"></a>
    <div id="hybb">

        <div id="grifflogo">
            <section id="transition">
                <img src="/assets/images/logo_big_transparent.png" />
            </section>
        </div>
        <p id="hybrida">
            <b>Hybrida</b> er linjeforeningen for studieprogrammet <b>Ingeniørvitenskap og IKT</b> ved NTNU i Trondheim.
            Foreningens formål er å fremme samhold og kameratskap innad på studieprogrammet ved blant annet å
            avholde arrangementer av både sosial og faglig karakter.
        </p>

    </div>
    </section>
    <section id="Styret">
        <div id="styret">
            <a href="#" name="Styret"></a>
            <a class="link" href="@hybridaleaders.routes.HybridaLeaders.index()">
                <div class="bildetekst" >Styret i Hybrida</div>

            </a>

        </div>
    </section>
    <section id="Update">
        <div id="update">
            <a href="#" name="Update"></a>
            <a class="link" href="controllers.routes.Update.index()">
            <div style="font-size: 90px; text-align: center; padding-top: 40%">
               Update<sup>k</sup></div>
            </a>
        </div>
    </section>
    <section id="Student">
    <div id="student">
        <a href="#" name="Student"></a>
        <a class="link" href="@newstudent.routes.NewStudent.index()">

        <div class="bildetekst">
            <div>
                    Ny Student?
            </div>
        </div>
        </a>
    </div>
    </section>
    <section id="GriffensOrden">
    <div id="griff">
        <a href="#" name="GriffensOrden"></a>
        <a class="link" href="@riddere.routes.Riddere.index().absoluteURL()">
        <div class="bildetekst">
            <div>Griffens Orden</div>
        </div>
        </a>
    </div>
    </section>
    <section id="Kontaktinfo">
    <div id="kontakinfo">
        <a href="#" name="Kontaktinfo"></a>
        <div class="bildetekst">
            <div style="color: #212121;">Kontakinformasjon</div>
        </div>
    </div>
    </section>

</div> <!-- column2 -->

<script type="text/javascript">
    $('body').scrollspy({
    target: '.bs-docs-sidebar',
    offset: 40
    });
    $("#sidebar").affix({
    offset: {
    top: 60
    }
    });
</script>

<style type="text/css">
/* all links */
.bs-docs-sidebar .nav>li>a {
/*add trasnparent border */
border-left: 2px solid transparent;
}
/* active & hover links */
.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>li>a:hover,
.bs-docs-sidebar .nav>li>a:focus {
color: #563d7c;
text-decoration: none;
background-color: transparent;
border-left: 2px solid #563d7c;
}
/* all active links */
.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
font-weight: 700;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a,
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
font-weight: 500;
}
/* hide all (inactive) nested list */
.bs-docs-sidebar .nav ul.nav {
display: none;
}
/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav {
display: block;
}

.bs-docs-sidebar .nav>.active>a {
color: #563d7c;
}
.link {
height: 100%;
}

.link:link {
background-color:transparent;
text-decoration:none;
}
.link:visited {
background-color:transparent;
}
.bildetekst {
color:#212121;
padding-top: 8em;
vertical-align: bottom;
margin: 0 auto;
height: 100%;
font-size:60px;
text-align:center;
opacity: 1;


}.bildetekst:link {
text-decoration: none;
}

.bildetekst:visited {
color:#212121;
background-color:transparent;
text-decoration: none;

}
.column1 {
border-style: solid;
border: 10px;
border-color: #000000;
width: 20%;
height:100%;
position: fixed;
}
.column2 {
overflow: auto;
width: 80%;
float: left;
height:100%;
right: 80%;
background-color: #ffffff;
}

#styret {
overflow: auto;
margin: 0 auto;
width: 100%;
height: 100vh;
background-image:url(../assets/images/styret2.jpg);
background-repeat:no-repeat;
background-size:cover;
background-position:center;
}
#update {
width:100%;
height:100vh;
}

#kontakinfo {
width: 100%;
height: 100vh;
}

#hybb {
width:100%;
height:100vh;
background-color: transparent;
}

#hybrida {
color:#212121;
padding: 5em 2.5em 1em 2.5em;
text-align: center;
font-size: 22px;
line-height: 1.5;
}

#griff {
height:100vh;
width:100%;
background-image:url(../assets/images/griffens_orden.jpg);
background-size: cover;
background-position: center;
}

#student {
height:100vh;
width:100%;
background-image:url(../assets/images/ny_student.jpg);
background-size: cover;
background-position: center;
}

#grifflogo {
padding-top: 5em;
height: 240px;
width: 100%;
text-align: center;
background-color: #ffffff;
}

#transition img {
height:240px;
width:240px;
background-size: 200% 100%;
background-color: blue;
background-image: -webkit-linear-gradient(left, dodgerblue, blue, darkblue, darkblue, mediumblue, dodgerblue);
background-image:    -moz-linear-gradient(left, dodgerblue, blue, darkblue, darkblue, mediumblue, dodgerblue);
background-image:     -ms-linear-gradient(left, dodgerblue, blue, darkblue, darkblue, mediumblue, dodgerblue);
background-image:      -o-linear-gradient(left, dodgerblue, blue, darkblue, darkblue, mediumblue, dodgerblue);
background-image:         linear-gradient(left, dodgerblue, blue, darkblue, darkblue, mediumblue, dodgerblue);
-moz-transition: all 0.3s ease-out;  /* FF4+ */
-o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
-webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
-ms-transition: all 0.3s ease-out;  /* IE10? */
transition: all 0.3s ease-out;
}

#transition img:hover {
background-position: -100% 100%;
}


#sidebar.affix {
top: 20px;
}
/* sidebar */
.bs-docs-sidebar {
padding-left: 20px;
margin-top: 20px;
margin-bottom: 20px;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
color: #999;
border-left: 2px solid transparent;
padding: 4px 20px;
font-size: 13px;
font-weight: 400;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
padding-top: 1px;
padding-bottom: 1px;
padding-left: 30px;
font-size: 12px;
}

/* active & hover links */
.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>li>a:hover,
.bs-docs-sidebar .nav>li>a:focus {
color: darkblue;
text-decoration: none;
background-color: transparent;
border-left-color: darkblue;
}
/* all active links */
.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
font-weight: 700;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a,
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
font-weight: 500;
}

/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
display: none;
}
/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav {
display: block;
}

</style>
