<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/abouthybrida.css")">
<div class="column1" style="right: 0;">
        <!--Nav Bar -->

        <nav class="bs-docs-sidebar">
            <ul id="sidebar" class="nav nav-stacked" style="position: absolute; top: 64px">
                <li>
                    <a href="#Hybrida">Hybrida</a>
                    <ul class="nav nav-stacked">
                    </ul>
                </li>
                <li>
                    <a href="#Styret">Styret</a>
                    <ul class="nav nav-stacked">
                    </ul>
                </li>
                <li>
                    <a href="#Komitéer">Hybridas Komitéer</a>
                    <ul class="nav nav-stacked">
                        <li><a href="#vevkom">VevKom</a></li>
                        <li><a href="#bedkom">BedKom</a></li>
                        <li><a href="#arrkom">ArrKom</a></li>
                        <li><a href="#jentekom">JenteKom</a></li>
                        <li><a href="#Redaksjonen">Redaksjonen</a></li>
                        <li><a href="#exsuskom">eXsusKom</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#Update">Update</a>
                </li>
                <li>
                    <a href="#Student">Informasjon til nye studenter</a>
                </li>
                <li>
                    <a href="#GriffensOrden">Griffens Orden</a>
                </li>
                <li>
                    <a href="#Kontaktinfo">Kontaktinformasjon</a>
                    <ul class="nav nav-stacked">
                        <li><a href="#adresse">Adresse</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
<!--
<nav class="bs-docs-sidebar ">
    <ul class="nav nav-stacked bs-docs-sidenav">
        <li class=""> <a href="#Hybrida">Linjeforeningen Hybrida</a> </li>
        <li class=""> <a href="#Styret">Styret i Hybrida</a> </li>
        <li class=""> <a href="#Update">Update</a> </li>
        <li class=""> <a href="#Student">Ny Student</a> </li>
        <li class=""> <a href="#GriffensOrden">Griffens Orden</a> </li>
        <li class=""> <a href="#Kontaktinfo">KontaktInformasjon</a> </li>
    </ul>
</nav>
 -->


</div> <!-- column1 -->

<div class="column2">
    <section id="Hybrida">
    <a href="#" name="Hybrida"></a>
    <div id="hybb">

        <div id="grifflogo">
            <section id="transition">
                <img src="/assets/images/logo_big_transparent.png" />
            </section>
        </div>
        <p id="hybrida">
            <b>Hybrida</b> er linjeforeningen for studieprogrammet <b>Ingeniørvitenskap og IKT</b> ved NTNU i Trondheim.
            Foreningens formål er å fremme samhold og kameratskap innad på studieprogrammet ved blant annet å
            avholde arrangementer av både sosial og faglig karakter.
        </p>

    </div>
    </section>
    <section id="Styret">
        <div id="styret">
            <a href="#" name="Styret"></a>
            <a class="link" href="@hybridaleaders.routes.HybridaLeaders.index()">
                <div class="bildetekst" >Styret i Hybrida</div>

            </a>

        </div>
    </section>
    <section id="Komitéer">
        <div id="Komitéer">
            <a href="#" name="Komitéer"></a>
            <a class="link" href="@hybridaleaders.routes.HybridaLeaders.index()">
                <h2 class="bildetekst"> Hybridas Komitéer </h2>
                    <p>Vevkom <br>BedKom <br>ArrKom<br>Jentekom<br>Redaksjonen</p>


            </a>

        </div>
    </section>
    <section id="Update">
        <div id="update">
            <a href="#" name="Update"></a>
            <a class="link" href="controllers.routes.Update.index()">
            <div class="bildetekst">Update<sup>k</sup></div>
            </a>
        </div>
    </section>
    <section id="Student">
    <div id="student">
        <a href="#" name="Student"></a>
        <a class="link" href="@newstudent.routes.NewStudent.index()">

        <div class="bildetekst">
            <div>
                    Ny Student?
            </div>
        </div>
        </a>
    </div>
    </section>
    <section id="GriffensOrden">
    <div id="griff">
        <a href="#" name="GriffensOrden"></a>
        <a class="link" href="@riddere.routes.Riddere.index().absoluteURL()">
        <div class="bildetekst">
            <div>Griffens Orden</div>
        </div>
        </a>
    </div>
    </section>
    <section id="Kontaktinfo">
    <div id="kontakinfo">
        <a href="#" name="Kontaktinfo"></a>
        <div class="bildetekst">
            <div style="color: #212121;">Kontakinformasjon</div>
        </div>
    </div>
    </section>

</div> <!-- column2 -->

<script type="text/javascript">
    $('body').scrollspy({
    target: '.bs-docs-sidebar',
    offset: 40
    });
    $("#sidebar").affix({
    offset: {
    top: 60
    }
    });
</script>

<style type="text/css">


</style>
