<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/jentekom.css")">
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='http://fonts.googleapis.com/css?family=Raleway+Dots' rel='stylesheet' type='text/css'>
<meta charset="UTF-8">
<script type="text/javascript" href="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script type="text/javascript" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
<script href="/js/jquery.slides.min.js"></script>
<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-27346572-1']);
	_gaq.push(['_setDomainName', 'hybrida.no']);
	_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>
<script href="/js/dev/underscore-min.js"></script>
<script href="/js/require.js"></script>

<!------------------------------------------------------------------------------------------>

<div class="helesiden">
	<div class="container">
		<div class="row blank"></div>
		<div class="row">
			<!-- <p><img src="/assets/images/jentekom_bilde.jpg"></p> -->
			<div class="col-md-6 col-md-offset-5 whitebox topright topleft">
				<div class="text-center" id='article-title'>
					<h1 style="border-bottom: black solid 1px; display: inline-block; width: 350pt;">
						JenteKom
					</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-5 whitebox line">
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 col-md-offset-5 whitebox paragraph bottomleft bottomright hiddentopleft hiddentopright">
				<div>
					<h2 style="border-bottom: black dotted 1px; display: inline-block">
						Hybrida Jentekomité
					</h2>
					<p>
						<strong>Hybrida Jentekomité er en av komitéene til linjeforeningen Hybrida, og er ansvarlig for organisering, planlegging og gjennomføring av sosiale og faglige arrangementer for jentene på I&IKT.</strong></p>
					<p>
						Jentekomitéen ble opprettet fordi det var et stort mindretall av jenter på linja vår. Formålet var å skape et samhold mellom alle jentene på linja, på tvers av alle trinnene, og for å utveksle erfaringer. Dette har ført til et bra jentemiljø. Etter at jentekom ble opprettet har færre sluttet og det er blitt flere kvinnelige søkere. Dette har resultert i at vi nå er 58 jenter på linja, noe som tilsvarer 26 % totalt (høsten 2015). Vi er fortsatt i mindretall, men ser veldig positivt på andelen og fremgangen.
					</p> <p>
						Jentekom består av 8 medlemmer, hvorav leder sitter i hovedstyret til Hybrida. Jentekom arrangerer forskjellige aktiviteter for jentene på I&IKT. Det er noen tradisjonsrike aktiviteter som avholdes hvert år. Blant disse arrangeres reke- og vinkveld i fadderperioden, tapaskveld med ingeniørspillet, cocktailaften og kafékvelder. Målet er å arrangere minst et faglig og et sosialt arrangement per semester.
					</p>
					<br>
					<p>Har du noe på hjertet, ikke nøl med å ta kontakt!
					<p>
						<strong>Jentekomitésjef</strong> Tonje Roås Mikalsen, tonjerm@@stud.ntnu.no (2.kl.)</p>
					<p>
						<strong>Øvrige medlemmer;</strong> Tora S. Gunstad (1.kl.), Amalia Sambanis (1.kl.)
						Marianne Kalberg Wiggen (2.kl.), Synne Hinna (2.kl.)
						Helene Dypbukt (3.kl.), Marit Rakvåg (3.kl.)
						Karoline Louise Rykkelid (5.kl.)</p>
				</div>
				<div>
				</div>
			</div>
		</div>
	</div>
</div>
