@(bedpresses: List[Renders], chosenEventId: Long)
<div style="display: table-cell">
Du velger først bedpressen, og så hvilken person du ønsker å markere. Denne personen
vil ikke kunne delta i de fire neste bedpressene. Personen vil havne bakerst på ventelista.
En liten markering (&#9888;) vil dukke opp foran navnet. For å fjerne markeringen,
venligst velg det samme navnet igjen. Hugs at en person blir bare markert på én
bedpress. Selv om markeringen ikke står foran navnet på neste bedpresser, er denne
personen fremdeles blokkert. (databasen bruker den ene bedpressen til å telle
frem til hvilke bedpresser er ulovlig å delta i).
</div>
<hr>
<form action="@bedpressblock.routes.BedPresBlock.pickUsers" method="post">
	<select class="form-control" name="eventId" onchange="this.form.submit()">
		<option value="0">Velg Bedpres</option>
		@for(i<-bedpresses){
			<option value="@i.eventReference.getId" @if(chosenEventId == i.eventReference.getId){selected}>@i.eventReference.getArticle.getTitle</option>
		}
	</select>
</form>
