@(event: Event)
<div style="display: table; border-spacing: 1vw;">
	<div style="display: table-cell">
		@pickbedpres(Event.find.setMaxRows(10).where().eq("bedpres", true).findList(), event.getId)
		<form action="@bedpressblock.routes.BedPresBlock.blockUser()" method="post">
			<input type="hidden" name="eventId" value="@event.getId">
			<select name="userId" onchange="this.form.submit()">
				<option value="0" selected disabled>Velg Person</option>
				@for(i<-event.getJoinedUsers){
					<option value="@i.getId">@if(i.isBlockedFrom(event)){&#9888;} @(i.getFirstName + " " + i.getLastName)</option>
				}
			</select>
		</form>
	</div>
	<div style="display: table-cell">
		Du velger først bedpressen, og så hvilken person du ønsker å markere. Denne personen
		vil ikke kunne delta i de fire neste bedpressene.
		En liten markering (&#9888;) vil dukke opp foran navnet. For å fjerne markeringen,
		venligst velg det samme navnet igjen. Hugs at en person blir bare markert på en
		bedpress. Selv om markeringen ikke står foran navnet på neste bedpresser, er denne
		personen fremdeles blokkert. (databasen bruker den ene bedpressen til å telle
		frem til hvilke bedpresser er ulovlig å delta i).
	</div>
</div>
