<div class="helesiden" style="background-image: url(../assets/images/ivar.jpg)">
    <div class="container">
        <div class="row blank"></div>
        <div class="row">
            <!-- <p><img src="/assets/images/jentekom_bilde.jpg"></p> -->
            <div class="col-md-6 col-md-offset-5 whitebox topright topleft">
                <div class="text-center" id='article-title'>
                    <h1 style="border-bottom: black solid 1px; display: inline-block; width: 350pt;">
                        VevKom
                    </h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-5 whitebox line">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-5 whitebox paragraph bottomleft bottomright hiddentopleft hiddentopright">
                <div>
                    <h2 style="border-bottom: black dotted 1px; display: inline-block">
                        Hybrida VevKommitée
                    </h2>
                    <p>
                        <strong>Vevkom er en av komitéene til linjeforeningen Hybrida, og er ansvarlig for utvikling, vedlikehold og kontroll av nettsiden til Hybrida. </strong></p>
                     <p>
                         Vevkom er linjeforeningens teknosentriske komité. Dette er komitéen for hybrider som er glad i teknologi og programmering, og ønsker å kombinere denne interessen med sin kjærlighet til linjeforeningen. Vi har som hovedoppgave å sørge for at Hybrida har en pen og velfungerende hjemmeside. I tillegg arrangerer vi HybridLAN hvert semester, der vi tilbyr konkurranser, pizza, en chill-lounge (aka Oda-rommet) for de som får 1337-overdose, og selvfølgelig gaming til langt ut i morgentimene. Komiteén har i mer enn ett år nå holdt på med utviklingen av Hybridas nye nettside, med nytt og bedre design, samt bedre… vel, alt, egentlig! Lanseringen skal skje til høsten, og for å nå det målet holder vi ukentlige arbeidsmøter hvor agendaen består av kakespising, diskusjon, programmering og mer kakespising.  </p>
                    <br>
                    <p>Har du noe på hjertet, ikke nøl med å ta kontakt!
                    <p>
                        <strong>Vevkomitésjef</strong> Ivar Haga Kråbøl ivarhk@@stud.ntnu.no</p>
                </div>
                <div>
                </div>
            </div>
        </div>
    </div>
</div>
