<nav class="transparent-box" id="sidebar">
    <ul class="nav nav-pills nav-stacked">
        <li><a class="page-link" href="#1">IKT-Ringen</a></li>
        <li><a class="page-link" href="#2">Hva er I&IKT Ringen?:</a></li>
        <li>
            <a class="page-link" href="#3">Medlemmer</a>
            <ul class="nav nav-pills nav-stacked sub-nav">
                <li><a href="http://www.kbedesign.com/" target="_blank">Aker Solutions KBe Design</a></li>
                <li><a href="http://www.focus.no/" target="_blank"> Focus Software AS </a></li>
                <li><a href="http://www.nkgs.no/" target="_blank"> Norkart AS </a></li>
                <li><a href="http://www.anko.no/" target="_blank"> Anko AS </a></li>
            </ul>
        </li>
        <li><a class="page-link" href="#4">Promotering</a></li>
        <li>
            <a class="page-link" href="#5">I&IKT Studentene</a>
            <ul class="nav nav-pills nav-stacked sub-nav">
                <li><a href="https://www.ntnu.no/studier/mting/oppbygning/geomatikk" target="_blank">Geomatikk</a></li>
                <li><a href="https://www.ntnu.no/studier/mting/oppbygning/konstruksjonsteknikk" target="_blank">IKT og konstruksjonsteknikk</a></li>
                <li><a href="https://www.ntnu.no/studier/mting/oppbygning/marinteknikk" target="_blank">IKT og Marin teknikk</a></li>
                <li><a href="https://www.ntnu.no/studier/mting/oppbygning/petroleumsfag" target="_blank">IKT og Petroleumsfag</a></li>
                <li><a href="https://www.ntnu.no/studier/mting/oppbygning/produktprosess" target="_blank">IKT, produktutvikling og materialer</a></li>
                <li><a href="http://www.ntnu.no/studier/mting/ikt-produksjonsledelse" target="_blank">IKT og produksjonsledelse</a></li>
            </ul>
        </li>
        <li><a class="page-link" href="#6">Bedriftens bidrag</a></li>
        <li>
            <a class="page-link" href="#7">Kontaktinformasjon</a>
            <ul class="nav nav-pills nav-stacked sub-nav">
                <li><a href="#adresse">Adresse</a></li>
            </ul>
        </li>
    </ul>
</nav>

<div class="pages">
    <section id="Hybrida">
        <a href="#" name="Hybrida"></a>
        <div id="hybb">

            <div id="IKT-Banner" >
                <img src="@controllers.routes.Assets.at("/images/IKT_ringen_banner.png")" /
            </div>

            <p id="hybrida">
                <b>I&IKT-ringen</b> skal gjøre studiet I&IKT bedre og sørge for en fremdeles sterk rekruttering av høy kvalitet til studiet og næringslivet.
                Dette gjøres ved å hindre frafall og ved å holde karaktersnittet for opptaksstudenter på et høyt nivå.
                Med bakgrunn i finansiering fra I&IKT-ringen og målrettede handlinger fra styret i samarbeidet med
                innspill fra medlemmene skal dette bli en realitet.
                Medlemsbedriftene får en eksklusiv mulighet til å promotere seg ovenfor,
                og rekruttere studenter med bakgrunn fra tradisjonell ingeniørvitenskap med kunnskaper innenfor IKT.

            </p>

        </div>
    </section>
    <section id="Styret">
        <div id="omikt">
            <a href="#" name="Styret"></a>
            <a class="link" href="@omiktringen.routes.omIKTRingen.index()">
                <div class="bildetekst" >Om IKT-Ringen</div>

            </a>

        </div>
    </section>
    <section id="Komitéer">
        <div id="Komitéer">
            <a href="#" name="Komitéer"></a>
            <a class="link" href="@styret.routes.Styret.index()">
                <h2 class="bildetekst"> Hybridas Komitéer </h2>
                <p>Vevkom <br>BedKom <br>ArrKom<br>Jentekom<br>Redaksjonen</p>


            </a>

        </div>
    </section>
    <section id="Update">
        <div id="update">
            <a href="#" name="Update"></a>
            <a class="link" href="@update.routes.Update.index()">
                <div class="bildetekst">Update<sup>k</sup></div>
            </a>
        </div>
    </section>
    <section id="Student">
        <div id="student">
            <a href="#" name="Student"></a>
            <a class="link" href="@newstudent.routes.NewStudent.index()">

                <div class="bildetekst">
                    <div>
                    Ny Student?
                    </div>
                </div>
            </a>
        </div>
    </section>
    <section id="GriffensOrden">
        <div id="griff">
            <a href="#" name="GriffensOrden"></a>
            <a class="link" href="@griffensorden.routes.GriffensOrden.index()">
                <div class="bildetekst">
                    <div>Griffens Orden</div>
                </div>
            </a>
        </div>
    </section>
    <section id="Kontaktinfo">
        <div id="kontakinfo">
            <a href="#" name="Kontaktinfo"></a>
            <div class="bildetekst">
                <div style="color: #212121;">Kontakinformasjon</div>
            </div>
        </div>
    </section>

</div>

