<div class="column1" style="right: 0;">
        <!--Nav Bar -->

    <nav class="bs-docs-sidebar">
        <ul id="sidebar" class="nav nav-stacked" style="position: absolute; top: 64px">
            <li>
                <a href="#1">IKT Ringens Visjon</a>
                <ul class="nav nav-stacked">
                    </ul>
            </li>
            <li>
                <a href="#2">Hva er IKT-Ringen?</a>
                <ul class="nav nav-stacked">
                    </ul>
            </li>
            <li>
                <a href="#3">Medlemmer</a>
                <ul class="nav nav-stacked">
                    <li><a href="#vevkom">VevKom</a></li>
                    <li><a href="#bedkom">BedKom</a></li>
                    <li><a class="link" href="@arrkom.routes.ArrKom.index()">ArrKom</a></li>
                    <li><a class="link" href="@jentekom.routes.JenteKom.index()">JenteKom</a></li>
                    <li><a href="#Redaksjonen">Redaksjonen</a></li>
                </ul>
            </li>
            <li>
                <a href="#4">Promotering</a>
            </li>
            <li>
                <a href="#5">I&IKT Studentene</a>
            </li>
            <li>
                <a href="#6">Bedriftens bidrag</a>
            </li>
            <li>
                <a href="#7">Kontaktinformasjon</a>
                <ul class="nav nav-stacked">
                    <li><a href="#adresse">Adresse</a></li>
                </ul>
            </li>
        </ul>
    </nav>

</div> <!-- right-thix  g -->

<div class="pages">
    <section id="IKT_Ringens_visjon">
        <a href="#" name="IKT_Ringens_visjon"></a>
        <div id="hybb">

            <div id="Ringen Header" >
                <section id="ringenlogo">
                    <img src="../assets/images/IKT_ringen_banner.png"/>
                    <h2><b>"Vi sikrer kvaliteten for næringslivet"</b></h2>

                    <p>I&IKT-ringen skal gjøre studiet I&IKT bedre og sørge for en fremdeles sterk rekruttering av høy kvalitet til studiet og næringslivet. Dette gjøres ved å hindre frafall og ved å holde karaktersnittet for opptaksstudenter på et høyt nivå.
                        Med bakgrunn i finansiering fra I&IKT-ringen og målrettede handlinger fra styret i samarbeidet med innspill fra medlemmene skal dette bli en realitet.
                        Medlemsbedriftene får en eksklusiv mulighet til å promotere seg ovenfor, og rekruttere studenter med bakgrunn fra tradisjonell ingeniørvitenskap med kunnskaper innenfor IKT.
                    </p>
                </section>
            </div>


        </div>
    </section>
    <section id="omIKTRingen">
        <div id="omIKTRingen">
            <a href="#" name="omIKTRingen"></a>
            <a class="link" href="@omiktringen.routes.omIKTRingen.index()">
                <div class="bildetekst" >Hva er IKT-ringen?</div>

            </a>

        </div>
    </section>
    <section id="Medlemmer">
        <div id="Medlemmer">
            <a href="#" name="Medlemmer"></a>
                <h2 class="bildetekst"> Medlemmer i IKT-Ringen </h2>
                <p>Vevkom <br>BedKom <br>ArrKom<br>Jentekom<br>Redaksjonen</p>


            </a>

        </div>
    </section>
    <section id="Promotering">
        <div id="promotering">
            <a href="#" name="promotering"></a>
            <a class="link" href="@update.routes.Update.index()">
                <div class="bildetekst">Update<sup>k</sup></div>
            </a>
        </div>
    </section>
    <section id="I&IKT-studenter">
        <div id="iktstudenter">
            <a href="#" name="iktstudenter"></a>
            <a class="link" href="@newstudent.routes.NewStudent.index()">

                <div class="bildetekst">
                    <div>
                    Ny Student?
                    </div>
                </div>
            </a>
        </div>
    </section>
    <section id="GriffensOrden">
        <div id="griff">
            <a href="#" name="GriffensOrden"></a>
            <a class="link" href="@griffensorden.routes.GriffensOrden.index()">
                <div class="bildetekst">
                    <div>Griffens Orden</div>
                </div>
            </a>
        </div>
    </section>
    <section id="Kontaktinfo">
        <div id="kontakinfo">
            <a href="#" name="Kontaktinfo"></a>
            <div class="bildetekst">
                <div style="color: #212121;">Kontakinformasjon</div>
            </div>
        </div>
    </section>

</div>

