<div class="column1" style="right: 0;">
        <!--Nav Bar -->

    <nav class="bs-docs-sidebar">
        <ul id="sidebar" class="nav nav-stacked" style="position: absolute; top: 64px">
            <li>
                <a href="#IKT-Ringen">IKT-Ringen</a>
                <ul class="nav nav-stacked">
			</ul>
            </li>
            <li>
                <a href="#Visjon">Visjon</a>
                <ul class="nav nav-stacked">
			</ul>
            </li>
            <li>
                <a href="#Promotering">Promotering</a>
                <ul class="nav nav-stacked">
                    <li><a href=#GroupCSub1">Sub-Group 1</a></li>
                    <li><a href="GroupCSub2">Sub-Group 2</a></li>
                </ul>
            </li>
            <li>
                <a href="#I&IKT-Studender">I&IKT-studenter</a>
            </li>
            <li>
                <a href="#Bedriftens bidrag">Bedriftens bidrag</a>
            </li>
            <li>
                <a href="#Kontaktinfo">Kontaktinformasjon</a>
                <ul class="nav nav-stacked">
                <li><a href="adresse">Adresse</a></li>
                </ul>
            </li>
        </ul>
    </nav>


        <!--
<nav class="bs-docs-sidebar ">
	<ul class="nav nav-stacked bs-docs-sidenav">
			<li class=""> <a href="#Hybrida">Linjeforeningen Hybrida</a> </li>
			<li class=""> <a href="#Styret">Styret i Hybrida</a> </li>
			<li class=""> <a href="#Update">Update</a> </li>
			<li class=""> <a href="#Student">Ny Student</a> </li>
			<li class=""> <a href="#griffensOrden">Griffens Orden</a> </li>
			<li class=""> <a href="#Kontaktinfo">KontaktInformasjon</a> </li>
	</ul>
</nav>
-->


</div> <!-- column1 -->

<div class="column2">
    <section id="IKT-Ringen">
        <a href="#" name="IKT-Ringen"></a>
        <div id="hybb">

            <div id="IKT_banner">
                <section id="IKT_Banner_Dimentions">
                    <img src="/assets/images/IKT_ringen_banner.png" />
                </section>
            </div>
            <h1 id="header"> Hva er IKT-ringen?</h1>
            <p id="hybrida">
                <b>I&IKT-ringen</b> er et samarbeid mellom næringslivet og sivilingeniørstudiet <b>Ingeniørvitenskap og IKT
                (I&IKT)</b> ved NTNU. Samarbeidet skal gjøre studiet bedre og sørge for en fremdeles sterk rekruttering av høy kvalitet
                til næringslivet.
            </p>
        </div>
    </section>
    <section id="Visjon">

        <div id="styret">
            <h1 id="overskrift"<b>Visjon</b></h1>
            <h1 id="header"> "Vi sikrer kvaliteten for næringslivet"
            </h1>
            <p id="hybrida">
                I&IKT-ringen skal gjøre studiet I&IKT bedre og sørge for en fremdeles sterk rekruttering av høy kvalitet
                til studiet og næringslivet. Dette gjøres ved å hindre frafall og ved å holde karaktersnittet for
                opptaksstudenter på et høyt nivå. Med bakgrunn i finansiering fra I&IKT-ringen og målrettede handlinger
                fra styret i samarbeidet med innspill fra medlemmene skal dette bli en realitet.Medlemsbedriftene får en
                eksklusiv mulighet til å promotere seg ovenfor, og rekruttere studenter med bakgrunn fra tradisjonell
                ingeniørvitenskap med kunnskaper innenfor IKT.
            </p>
        </div>
    </section>
    <section id="Promotering">
        <div id="Promotering">
            <a href="#Pormotering" name="Promotering"></a>
            </a>
        </div>
    </section>
    <section id="Student">
        <div id="student">
            <a href="#" name="Student"></a>
            <a class="link" href="@newstudent.routes.NewStudent.index()">
                <div class="bildetekst">
                    <div>
					Ny Student?
                    </div>
                </div>
            </a>
        </div>
    </section>
    <section id="Bedriftens bidrag">
        <div id="griff">
            <a href="#" name="Bedriftens bidrag"></a>
            <a class="link" href="/Bedriftens_bidrag">
                <div class="bildetekst">
                    <div>Bedriftens bidrag</div>
                </div>
            </a>
        </div>
    </section>
    <section id="Kontaktinfo">
        <div id="kontakinfo">
            <a href="#" name="Kontaktinfo"></a>
            <div class="bildetekst">
                <div style="color: #212121;">Kontakinformasjon</div>
            </div>
        </div>
    </section>

</div> <!-- column2 -->

<script type="text/javascript">
	$('body').scrollspy({
	target: '.bs-docs-sidebar',
	offset: 40
	});
	$("#sidebar").affix({
	offset: {
	top: 60
	}
	});
</script>

<style type="text/css">
/* all links */
.bs-docs-sidebar .nav>li>a {
/*add trasnparent border */
border-left: 2px solid transparent;
}
/* active & hover links */
.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>li>a:hover,
.bs-docs-sidebar .nav>li>a:focus {
color: #563d7c;
text-decoration: none;
background-color: transparent;
border-left: 2px solid #563d7c;
}
/* all active links */
.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
font-weight: 700;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a,
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
font-weight: 500;
}
/* hide all (inactive) nested list */
.bs-docs-sidebar .nav ul.nav {
display: none;
}
/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav {
display: block;
}

.bs-docs-sidebar .nav>.active>a {
color: #563d7c;
}
.link {
height: 100%;
}

.link:link {
background-color:transparent;
text-decoration:none;
}
.link:visited {
background-color:transparent;
}
.bildetekst {
color:#212121;
padding-top: 8em;
vertical-align: bottom;
margin: 0 auto;
height: 100%;
font-size:60px;
text-align:center;
opacity: 1;
}
.bildetekst:link {
text-decoration: none;
}

.bildetekst:visited {
color:#212121;
background-color:transparent;
text-decoration: none;
}
.column1 {
border-style: solid;
border: 10px;
border-color: #000000;
width: 20%;
height:100%;
position: fixed;
}
.column2 {
overflow: auto;
width: 80%;
float: left;
height:100%;
right: 80%;
background-color: #ffffff;
}

#styret {
overflow: auto;
margin: 0 auto;
width: 100%;
height: 100vh;
bgcolor="#E6E6FA">

}
#update {
width:100%;
height:100vh;
}

#kontakinfo {
width: 100%;
height: 100vh;
}

#hybb {
width:100%;
height:100vh;
background-color: transparent;
}

#header {
font-size: 35px;
}

#overskrift {
color:#212121;
padding: 5em 2.5em 1em 2.5em;
text-align: center;
font-size: 40px;
line-height: 1.5;
}


#hybrida {
color:#212121;
padding: 1em 2.5em 1em 2.5em;
text-align: center;
font-size: 22px;
line-height: 1.5;
}

#griff {
height:100vh;
width:100%;
bgcolor="#E6E6FA">
;
}


#IKT_banner {
padding-top: 3em;
height: 240px;
width: 100%;
text-align: center;
background-color: #ffffff;
}

#IKT_Banner_Dimentions img {
height : 14 px ;0px;
width:1080px;
}


#sidebar.affix {
top: 20px;
}
/* sidebar */
.bs-docs-sidebar {
padding-left: 20px;
margin-top: 20px;
margin-bottom: 20px;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
color: #999;
border-left: 2px solid transparent;
padding: 4px 20px;
font-size: 13px;
font-weight: 400;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
padding-top: 1px;
padding-bottom: 1px;
padding-left: 30px;
font-size: 12px;
}

/* active & hover links */
.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>li>a:hover,
.bs-docs-sidebar .nav>li>a:focus {
color: darkblue;
text-decoration: none;
background-color: transparent;
border-left-color: darkblue;
}
/* all active links */
.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
font-weight: 700;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a,
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
font-weight: 500;
}

/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
display: none;
}
/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav {
display: block;
}

</style>
