@import bedkomdatabase.models.Bedrift
@(content: java.util.List[bedkomdatabase.models.Bedrift])
@import java.util.Collections

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2" style="margin-top: 1%">
            <div class="white-boxer">
                <div class="row">
                    <h1>Bedriftsdatabase:</h1>
                </div>
                <div class="row undershiit">
                    <div class="col-md-8 whitebox undershit col-md-offset-2">
                        <p class="text-center">
                            _________________________________________________________________________________
                        </p>
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="row">
                        <div class="sleek-box-bg well" style="border-radius: 0px">
                            <div class="col-md-5">
                                <p>Bedrift:</p>
                            </div>
                            <div class="col-md-3">
                                <p>Ansvarlig for kontakt:</p>
                            </div>
                            <div class="col-md-2">
                                <p>Prioritet:</p>
                            </div>
                            <div class="col-md-2">
                                <p>Status:</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="sleek-box-bg">
                            <div class="col-md-12">
                                    <!-- Button trigger modal, triggers bedrift creator -->
                                <button type="button" class="btn btn-primary btn-md center-block" data-toggle="modal" data-target="#myModal">
                                    Legg til bedrift i databasen
                                </button>

                                    <!-- Modal, Bedrift creator modal -->
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">Opprett bedrift</h4>
                                            </div>
                                            <form name="Bedrift" action="@bedkomdatabase.routes.Bedkomdatabase.saveBedrift()" method="POST" enctype="multipart/form-data">
                                                <div class="modal-body">

                                                    <div class="form-group">
                                                        <label for="bedriftsName">Bedriftsnavn</label>
                                                        <input type="text" class="form-control" name="bedriftsName" id="bedriftsName" placeholder="Navn på Bedriften">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="webpage">Bedriftsnavn</label>
                                                        <input type="text" class="form-control" name="webpage" id="webpage" placeholder="Nettside">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="priority">Prioritet</label>
                                                        <input type="number" class="form-control" name="priority" id="priority" placeholder="Prioritet" max="10" min="1">
                                                    </div>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    <input class="btn btn-primary" type="submit" value="Lagre bedrift">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @for(i <- content){
                        <div class="row">
                                <!-- Button trigger modal, triggers bedrift info popup -->
                            <div class="sleek-box-bg div_pointer" data-toggle="modal" data-target="#@i.getBedriftId">
                                <div class="col-md-5">
                                    <p>@i.getBedriftName</p>
                                </div>
                                <div class="col-md-3">
                                    <p>@i.getResponsible().getFullName()</p>
                                </div>
                                <div class="col-md-2">
                                    <p>@i.getPriority</p>
                                </div>
                                <div class="col-md-2">
                                    @if(i.isActive){
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                                <span class="sr-only">100% Complete (success)</span>
                                            </div>
                                        </div>}
                                    @if(!i.isActive){
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                                <span class="sr-only">0% Complete (success)</span>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>


                                <!-- Modal for presenting Bedrift Data -->
                            <div class="modal fade" id="@i.getBedriftId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header div_pointer" data-toggle="collapse" data-parent="#accordion" href="#collapseEdit@i.getBedriftId" aria-expanded="true" aria-controls="collapseEdit@i.getBedriftId" id="headingEdit@i.getBedriftId">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">@i.getBedriftName</h4>
                                        </div>
                                        <div id="collapseEdit@i.getBedriftId" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEdit@i.getBedriftId">
                                                <!--- Form for editing Bedrift -->
                                            <div class="panel panel-heading">
                                                <form name="editBedrift" action="@bedkomdatabase.routes.Bedkomdatabase.updateBedrift(i.getBedriftId.toString)" method="POST" enctype="multipart/form-data">
                                                    <div class="modal-body">

                                                        <div class="form-group">
                                                            <label for="bedriftsName">Bedriftsnavn</label>
                                                            <input type="text" class="form-control" name="bedriftsName" id="bedriftsName" placeholder="Navn på Bedriften" value="@i.getBedriftName">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="priority">Prioritet</label>
                                                            <input type="number" class="form-control" name="priority" id="priority" placeholder="Prioritet" max="10" min="1" value="@i.getPriority">
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="webpage">Nettside</label>
                                                            <input type="text" class="form-control" name="webpage" id="webpage placeholder="Bedriftens nettside" value="@i.getWebpage">
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="radio">
                                                                <label>
                                                                    <input type="radio" name="active" id="active1" value="true" @if(i.isActive){checked}>
                                                                    Aktiv
                                                                </label>
                                                            </div>
                                                            <div class="radio">
                                                                <label>
                                                                    <input type="radio" name="active" id="active2" value="false" @if(!i.isActive){checked}>
                                                                    Inaktiv
                                                                </label>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="userSelect">Ansvarlig bruker</label>
                                                            <select class="form-control" name="userId" id="userId">
                                                                <option value="@LoginState.getUser.getId">Meg</option>
                                                                @for(user <- User.find.where().eq("bedkom", true).findList()){
                                                                    <option value="@user.getId"> @user.getFullName</option>
                                                                }
                                                            </select>
                                                        </div>

                                                        <button type="submit" class="btn btn-primary form-control">Lagre</button>

                                                    </div>
                                                </form>
                                                <div class="modal-body">
                                                    <div class="btn btn-danger form-control" data-toggle="collapse" data-parent="#accordion" href="#collapseDanger@i.getBedriftId" aria-expanded="true" aria-controls="collapseDanger@i.getBedriftId" id="headingDanger@i.getBedriftId">
                                                    Slett
                                                    </div>

                                                    <div id="collapseDanger@i.getBedriftId" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingDanger@i.getBedriftId">
                                                        <form action="@bedkomdatabase.routes.Bedkomdatabase.deleteBedrift(i.getBedriftId.toString)" method="POST">
                                                            <button type="submit" class="btn btn-danger form-control">
                                                            Er du sikker?
                                                            </button>
                                                        </form>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-body">
                                            <!--- Bedriftsinfo -->
                                            <p class="text-center">Nettside: <a href="@i.getWebpage" target="_blank">@i.getWebpage</a></p>
                                            <p class="text-center">Bedrift opprettet: @i.getDateMade</p>
                                            <p class="text-center">Sist oppdatert: @i.getWhenUpdated</p>
                                        </div>
                                            <!--- Kontaktpersoner -->
                                        <div class="modal-body">
                                            <div class="center-block">
                                                <p class="text-center">Kontakpersoner:</p></div>
                                            @for(p <- i.getContacts) {
                                                <div class="row">
                                                    <div class="col-md-10 col-md-offset-1">
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading div_pointer" data-toggle="collapse" data-parent="#accordion" href="#collapseCEdit@p.getContactId" aria-expanded="true" aria-controls="collapseEdit@p.getContactId" id="headingEdit@p.getContactId">
                                                            @p.getContact
                                                            </div>
                                                            <div id="collapseCEdit@p.getContactId" class="panel-body panel-collapse collapse" role="tabpanel" aria-labelledby="headingCEdit@p.getContactId">
                                                                    <!--- FORM FOR EDITING CONTACT GOES HERE!!! -->
                                                                <form action="@bedkomdatabase.routes.Bedkomdatabase.updateKontaktPerson(p.getContactId.toString)" method="POST" enctype="multipart/form-data">
                                                                    <div class="form-group">
                                                                        <label for="kontaktName">Navn på kontakt</label>
                                                                        <input type="text" class="form-control" name="contact" id="kontaktName" placeholder="Navn på kontakten" value="@p.getContact">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="telephone">Telefonnummer</label>
                                                                        <input type="text" class="form-control" name="telephone" id="telephone" placeholder="Telefonnummer" value="@p.getTelephone">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="email">email</label>
                                                                        <input type="email" class="form-control" name="email" id="email" placeholder="Email(at)bedrift.no" value="@p.getEmail">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="other">Annen info</label>
                                                                        <input type="text" class="form-control" name="other" id="other" placeholder="Annen info" value="@p.getOther">
                                                                    </div>
                                                                    <button type="submit" class="btn btn-primary form-control">Oppdater kontaktperson</button>
                                                                </form>
                                                                <div class="btn btn-danger form-control" data-toggle="collapse" data-parent="#accordion" href="#collapseKDanger@p.getContactId" aria-expanded="true" aria-controls="collapseKDanger@p.getContactId" id="headingKDanger@p.getContactId">
                                                    Slett
                                                                </div>

                                                                <div id="collapseKDanger@p.getContactId" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingKDanger@p.getContactId">
                                                                    <form action="@bedkomdatabase.routes.Bedkomdatabase.deleteKontaktPerson(p.getContactId.toString)" method="POST">
                                                                        <button type="submit" class="btn btn-danger form-control">
                                                            Er du sikker?
                                                                        </button>
                                                                    </form>

                                                                </div>
                                                            </div>
                                                            <div class="panel-body">
                                                            Telefon: @p.getTelephone <br>
                                                                Email: @p.getEmail <br>
                                                                Annet: @p.getOther <br>
                                                        </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            <div class="row">
                                                <div class="col-md-10 col-md-offset-1">
                                                    <div class="panel panel-primary">
                                                        <div class="panel-heading" role="tab" id="heading@i.getBedriftId">
                                                            <h4 class="panel-title">
                                                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse@i.getBedriftId" aria-expanded="true" aria-controls="collapse@i.getBedriftId">
                                                        Opprett ny kontaktperson:
                                                                </a>
                                                            </h4>
                                                        </div>
                                                        <div id="collapse@i.getBedriftId" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading@i.getBedriftId">
                                                            <div class="panel-body">
                                                                <form action="@bedkomdatabase.routes.Bedkomdatabase.saveKontaktPerson(i.getBedriftId.toString)" method="POST" enctype="multipart/form-data">
                                                                    <div class="form-group">
                                                                        <label for="kontaktName">Navn på kontakt</label>
                                                                        <input type="text" class="form-control" name="contact" id="kontaktName" placeholder="Navn på kontakten">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="telephone">Telefonnummer</label>
                                                                        <input type="text" class="form-control" name="telephone" id="telephone" placeholder="Telefonnummer">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="email">email</label>
                                                                        <input type="email" class="form-control" name="email" id="email" placeholder="Email(at)bedrift.no">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="other">Annen info</label>
                                                                        <input type="text" class="form-control" name="other" id="other" placeholder="Annen info">
                                                                    </div>
                                                                    <button type="submit" class="btn btn-primary form-control">Legg til kontaktperson</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div></div>
                                            </div>
                                            <div class="row">
                                                <div class="center-block">
                                                    <p class="text-center">Notater:</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                    <!-- LIST NOTATER-->
                                                <div class="col-md-10 col-md-offset-1">
                                                    @for(k <- i.getNotes){
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading div_pointer" data-toggle="collapse" data-parent="#accordion" href="#collapseNEdit@k.getNoteId" aria-expanded="true" aria-controls="collapseNEdit@k.getNoteId" id="headingNEdit@k.getNoteId">
                                                                <h4 class="panel-title">
                                                                @k.getDateMade()
                                                                </h4>
                                                            </div>
                                                            <div id="collapseNEdit@k.getNoteId" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNEdit@k.getNoteId">
                                                                <div class="panel-body">
                                                                    <form action="@bedkomdatabase.routes.Bedkomdatabase.updateNote(k.getNoteId.toString)" method="POST" enctype="multipart/form-data">
                                                                        <div class="form-group">
                                                                            <label for="note">Notat</label>
                                                                            <textarea type="text" class="form-control" name="note" id="note" placeholder="Ditt notat her" >@k.getNote</textarea>
                                                                        </div>
                                                                        <button type="submit" class="btn btn-primary form-control" > Lagre notat </button>
                                                                    </form>
                                                                    <div class="btn btn-danger form-control" data-toggle="collapse" data-parent="#accordion" href="#collapseNDanger@k.getNoteId" aria-expanded="true" aria-controls="collapseNDanger@k.getNoteId" id="headingNDanger@k.getNoteId">
                                                    Slett
                                                                    </div>

                                                                    <div id="collapseNDanger@k.getNoteId" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNDanger@k.getNoteId">
                                                                        <form action="@bedkomdatabase.routes.Bedkomdatabase.deleteNote(k.getNoteId.toString)" method="POST">
                                                                            <button type="submit" class="btn btn-danger form-control">
                                                            Er du sikker?
                                                                            </button>
                                                                        </form>

                                                                    </div>


                                                                </div>
                                                            </div>
                                                            <div class="panel-body">
                                                            @k.getNote
                                                            </div>
                                                        </div>

                                                    }
                                                <div class="panel panel-primary">
                                                    <div class="panel-heading" role="tab" id="headingNotes@i.getBedriftId">
                                                        <h4 class="panel-title">
                                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNotes@i.getBedriftId" aria-expanded="true" aria-controls="collapseNotes@i.getBedriftId">
                                                        Opprett nytt notat:
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapseNotes@i.getBedriftId" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNotes@i.getBedriftId">
                                                        <div class="panel-body">
                                                            <form action="@bedkomdatabase.routes.Bedkomdatabase.saveNote(i.getBedriftId.toString)" method="POST" enctype="multipart/form-data">
                                                                <div class="form-group">
                                                                    <label for="note">Notat</label>
                                                                    <textarea type="text" class="form-control" name="note" id="note" placeholder="Ditt notat her"></textarea>
                                                                </div>
                                                                <button type="submit" class="btn btn-primary form-control">Lagre notat</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>

                                                </div>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

