

<div class="helesiden">
    <div class="container">
        <div class="row blank"></div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1 whitebox topright topleft">
                <div class="text-center" id='article-title'>
                    <h1 style="border-bottom: black solid 1px; display: inline-block; width: 350pt;">
                        Hva er I&IKT-Ringen?
                    </h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1 whitebox paragraph bottomleft bottomright hiddentopleft hiddentopright">
                <div>

                    <h2 style="border-bottom: black dotted 1px; display: inline-block">
                        I&IKT-ringen og partene i samarbeidet
                    </h2>
                    <p>
                        I&IKT-ringen er et samarbeidsforum med partene: linjeforeningen Hybrida ved Hybrida Bedriftskomité, fakultet for Ingeniørvitenskap og Teknologi og bedriftene som er medlemmer i samarbeidet. Formålet med samarbeidet er å tilby bedrifter helhetlig kontakt med studenter fra sivilingeniørstudiet Ingeniørvitenskap og IKT (I&IKT) ved NTNU og dets tilhørende fakultet.
                    </p>
                    <p>
                        <img align="right" alt="Det skal egentlig være et bilde her...lover....helt sant!" hspace="15" vspace="15" width="300" src="@controllers.routes.Assets.at("/images/IKT-ringen.jpg")">
                    </p>
                    <p>
                        Medlemskap i I&IKT-ringen gir bedriften mulighet til å komme med innspill til faktultetet om studieformen ved I&IKT, samtidig som bedriften oppnår fordeler med et slikt samarbeid med Hybrida Bedriftskomité. Blant disse fordelene er muligheten til å promotere seg særskilt ovenfor studenter på I&IKT.
                    </p>
                    <p>
                        Hybrida Bedriftskomité er en underkomité av linjeforeningen Hybrida. Komiteen har ansvaret for kontakten med bedrifter for I&IKT. Komiteen ble etablert for å opprette kontakt mellom studentene og bedrifter og gi bedrifter informasjon om hvilken kompetanse våre studenter innehar.
                    </p>
                    <p>
                        Hovedmålet til komiteen er å hjelpe studentene på linjen til prosjektoppgaver, hovedoppgaver, sommerjobber og fast ansettelse i samarbeid med bedrifter. I tillegg kan bedriftsbesøk, ekskursjoner og lignende arrangert i samarbeid med komiteen gi bedrifter og studenter mulighet til å snakke sammen.
                    </p>

                    <h2 style="border-bottom: black dotted 1px; display: inline-block">
                        Om sivilingeniørstudiet Ingeniørvitenskap og IKT
                    </h2>
                    <p>
                        <img align="right" alt="Det skal egentlig være et bilde her...lover....helt sant!" hspace="15" vspace="15" width="300" src="@controllers.routes.Assets.at("/images/IKT-ringen-3.jpg")">
                    </p>
                    <p>
                        Hvor ofte har ikke et systemutviklingsprosjekt gått i vasken, fordi utviklerne ikke kjente behovene til fagspesialistene som skulle bruke systemet? Hvem har ikke latt seg fascinere av hvordan gode IKT-verktøy effektiviserer, visualiserer og videreutvikler tradisjonelle ingeniørmetoder?
                    </p>

                    <p>
                        I&IKT har som mål å utdanne sivilingeniører med en tverrfaglig kompetanse. Utvikling av fremtidens teknologi vil være avhengig av at vi samtidig kan utvikle nye IKT-løsninger. Dette krever at man kan bygge bro mellom datatekniske og ingeniørfaglige utfordringer, og for å oppnå dette må man klare å ha oversikt over hele bildet.
                    </p>
                    <p>
                        Sivilingeniører fra Ingeniørvitenskap og IKT har den kunnskapen som kreves for å møte disse utfordringene, med solid kompetanse innen både den ingeniørfaglige og den datatekniske siden av sitt fagfelt. Studentene skal både kunne fylle rollen som fagspesialist og systemutvikler innen sitt fagområde.
                    </p>

                    <h2 style="border-bottom: black dotted 1px; display: inline-block">
                        Oppbygningen av studiet
                    </h2>
                    <p>
                        Studieløpet ved I&IKT skiller seg fra andre sivilingeniørlinjer ved at den har et stort fokus på tverrfaglighet. I løpet av programmets to første år blir studentene introdusert for grunnleggende programmering og systemutvikling på lik linje med studenter fra rene IKT-rettede studieprogram. Samtidig blir studentene introdusert til ingeniørfag som mekanikk, fysikk og matematikk. Dette skal gi studentene en grundig innføring i fagområder knyttet til programmering, men samtidig et grunnlag til å bygge ut i fra når de velger spesialisering videre.
                    </p>
                    <p>
                        Etter fjerde semester velger studentene spesialisering blant Produkt og prosess, Marin teknikk, Konstruksjonsteknikk, Geomatikk og Petroleumsfag. Dette betyr i praksis at studenten følger det faglige løpet ved den respektive fordypningen, samtidig som man beholder en rekke IKT-fag ut studieløpet. Målet er at en student fra I&IKT skal gå ut med samme dybde i faget som studenter fra samme fagfelt og kunnskap tilsvarende en IKT-utdanning på universitetsnivå.
                    </p>

                </div>
                <div>
            </div>
            </div>
        </div>

    </div>
</div>
