@(event: Event, edarticle: Article)
<div>
	<div class="container-fluid">
		<script src="/assets/ckeditor/ckeditor.js"></script>
		<link href="sample.css" rel="stylesheet">
		<style>

		/* Style the CKEditor element to look like a textfield */
		.cke_textarea_inline {
		padding : 10px ;
		height : 200px ;
		overflow : auto ;
		background-color : #ffffff ;
		border : 1px solid gray ;
		-webkit-appearance : textfield ;
		}
		</style>
		<div class="row">
			<div class="col-md-6 col-md-offset-1 transparent-box">
				<div>
					<h3><p class="text-center">
						Endre Arrangement
					</p></h3>
					<form name="Article" action="@article.routes.Event.saveEdit(event.getId.toString)" method="POST" enctype="multipart/form-data">
                        @dependencies.articleInputs(edarticle)
						@dependencies.eventInputs(event)
                    <div class="form-group">
                        <input class="btn btn-primary form-control" type="submit" value="Post">
                    </div>
                    <div class="form-group">
                        <input class="btn btn-danger form-control" name="delete" type="submit" value="delete">
                    </div>
					</form>
				</div>
			</div>

		<div class="col-md-3 col-md-offset-1">
			<div class="transparent-box" data-spy="affix" style="margin-right:8.3%">
				<h5><p>Her skal det stå en del innformasjon om denne formen:</p></h5>
				<hr>
				<p>
					Det skal stå litt om hva de forskjellige feltene betyr, samt litt om hvordan vi liker å ha det her på hybridasiden!
					<br>
					Før du oppretter ett nytt event eller en artikkel, ser vi gjerne at du leser igjennom disse retningslinjene
					slik at vi får en kul side, med kule bilder, og kul formatering, som ser sinnsykt kul ut hele tiden, alltid!
					<br>
				</p>
				<strong><p>
					Grensen står for klassetrinnet som har lov til å melde seg opp. Tallet står for avslutningsår.
				</p></strong>
				<br>
			</div>
		</div></div>
	</div>
</div>
