@(inarticle: models.Article)
@( /*This is for rendering a single article.*/ )

<div class="article-bg">
	<div class="container-fluid center-container">
		<div class="row space-below">
			<div class="col-xs-12 @if(models.LoginState.isValidlyLoggedIn){col-xl-7 }space-above">
				<div class="white-box">
                    @dependencies.articleSection(inarticle, inarticle)
                </div>
            </div>
		    @if(models.LoginState.isValidlyLoggedIn){
				<div class="col-xs-12 col-xl-5 space-above">
                    @dependencies.commentSection(inarticle)
                </div>
            }
        </div>
    </div>
</div>
