<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/staticinfo.css")">
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='http://fonts.googleapis.com/css?family=Raleway+Dots' rel='stylesheet' type='text/css'>
<meta charset="UTF-8">
<script type="text/javascript" href="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script type="text/javascript" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
<script href="/js/jquery.slides.min.js"></script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-27346572-1']);
_gaq.push(['_setDomainName', 'hybrida.no']);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
<script href="/js/dev/underscore-min.js"></script>
<script href="/js/require.js"></script>


<div class="helesiden">
    <div class="container">
        <div class="row blank"></div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1 whitebox topright topleft">
                <div class="text-center" id='article-title'>
                    <h1 style="border-bottom: black solid 1px; display: inline-block; width: 350pt;">
                        Arrangement Komite
                    </h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1 whitebox line"></div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1 whitebox paragraph bottomleft bottomright hiddentopleft hiddentopright">

                <h2 style="border-bottom: black dotted 1px; display: inline-block">
                    Arrkom
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut nisi in lacus facilisis vehicula quis nec mauris. Quisque facilisis blandit molestie. Mauris at ultricies eros. Nulla maximus magna vitae nulla venenatis, et luctus quam porta. Ut vel consectetur odio. Proin turpis tortor, ornare et urna vel, tempus blandit nunc. Nunc non scelerisque quam. Cras rutrum risus varius, dapibus dolor id, laoreet sem. Cras eros ex, viverra vehicula libero a, mattis tempor velit. Etiam ac velit ut mauris venenatis elementum eu id dolor. Aliquam ante elit, aliquet ut commodo dapibus, sodales egestas ex. Vestibulum vestibulum tincidunt neque sit amet rutrum. Vestibulum vel posuere eros. Morbi porta, turpis sed mollis bibendum, velit mi sollicitudin urna, sit amet interdum ipsum elit in ante. Praesent pulvinar interdum mi, vehicula luctus libero luctus pharetra. Nullam eget quam ac lectus hendrerit vestibulum.</p>
                <p>
                    Curabitur vitae posuere nisi. Ut felis erat, dignissim id neque vitae, consectetur fringilla ex. Morbi in elit sed dolor pharetra semper. Nunc quam lectus, luctus eu risus nec, dapibus dapibus diam. Morbi placerat sem quis velit porta blandit. Quisque vel felis porttitor ligula convallis pellentesque eget rutrum tellus. Sed sodales nisl ut metus eleifend porttitor. In blandit orci quam, ut pellentesque lectus volutpat lobortis. Phasellus id rhoncus nibh, ut pulvinar arcu. Pellentesque suscipit aliquet massa eget imperdiet. Suspendisse vitae odio lectus. Nulla accumsan leo a luctus tincidunt. Morbi at eros dictum, iaculis massa quis, fermentum nibh. Quisque id elit facilisis, bibendum metus sit amet, ornare risus. Donec at felis sit amet purus varius commodo sed tincidunt justo. Morbi vestibulum, arcu sed pellentesque pellentesque, nunc ligula scelerisque erat, ac lobortis justo purus ut mauris.</p>
                <p>
                    Suspendisse luctus a sapien in tincidunt. Ut ac velit gravida, convallis ex sit amet, congue enim. Maecenas at turpis in orci pulvinar eleifend non ut leo. Suspendisse sagittis vestibulum mauris non placerat. Fusce faucibus vestibulum risus quis tempor. Nullam elit est, imperdiet at scelerisque ac, luctus id libero. Cras varius sapien ac imperdiet tincidunt. Phasellus id ligula quis libero blandit mattis. In hac habitasse platea dictumst. Vivamus et consectetur sem.</p>

                <p><img class="center-block" src="/assets/images/arrkom_eksempel_bilde.jpeg"></p>

            </div>
        </div>
    </div>
</div>
