<script src="/assets/ckeditor/ckeditor.js"></script>
<link href="sample.css" rel="stylesheet">
<style>

/* Style the CKEditor element to look like a textfield */
.cke_textarea_inline
{
padding: 10px;
height: 200px;
overflow: auto;

border: 1px solid gray;
-webkit-appearance: textfield;
}

</style>

<div style="padding: 10%">
<div style="padding: 2em 4%; background-color: #ffffff; border-radius: 5px;">


    <div class="content3">
    <form name="Article" action="/feed" method="POST" enctype="multipart/form-data">
        <input type="text" value="Title" name="title" size="56" >
        <input type="file" name="picture">
        <input type="submit" value="Submit">
        <br>
        Ingress: <br>
        <textarea rows="10" cols="50" name="ingress" value="Skriv en kort oppsummering her"></textarea><br>
        Artikkel: <br>
        <div style = "background-color: #ffffff">
        <textarea rows="10" cols="100" name="article" value="Skriv ditt innlegg her"></textarea>
        </div>
    </form>
        <script>
        CKEDITOR.inline( 'article' );
        </script>
    <form name="clear" action="/feedClear" method="POST">
        <input type="submit" value="Clear Feed">
    </form></div><br>
    </div>
</div>

