
<div class="helesiden">
    <div class="container">
        <div class="row blank"></div>
        <div class="row">
            <div class="col-md-6 col-md-offset-5 whitebox topright topleft GO">
                <img src="/assets/images/GO.png" align="middle">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-5 whitebox line">
                ________________________________________________________
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-5 whitebox paragraph bottomleft bottomright hiddentopleft hiddentopright">
                <p>
                    <b>Griffens Orden</b> er en orden bestående av Hybrida-medlemmer
                    som er tildelt en utmerkelse for deres arbeid for
                    Hybrida eller studieprogrammet Ingeniørvitenskap og IKT.
                    Alle medlemmene av denne ordenen har tittelen ”Ridder
                    av Griffens Orden”, og for tildelelse må medlemmet ha
                    vist ekstraordniært engasjement og initiativ, og vist stor
                    glede av å ytre Hybridas formål og verdier.
                </p>
                <p>
                    Utnevnelsen bestemmes av Vokterne av Griffens Orden.
                    Dette er en komité på 8 Hybrida-medlemmer, bestående
                    av minimum ett medlem fra hvert årskull. Vokterne er
                    uavhengig av Hybridas styre, og står fritt til å tildele maks
                    3 utnevnelser hvert år. Ingen styremedlemmer fra Hybridas
                    hovedstyre kan sitte i komitéen. Vokterne tar selv inn
                    nye medlemmer når dette er nødvendig
                </p>
                <p>
                    Alle medlemmer av Hybrida kan være med å påvirke valgene
                    gjort av vokterne. Medlemmer kan når som helst
                    nominere andre medlemmer de mener fortjener utnevnelsen,
                    basert på kriteriene beskrevet ovenfor. Nominasjoner
                    gjøres her. <a href="/go_nominasjon">(Anonym nominasjon)</a>
                </p>
            </div>
        </div>

    </div>
</div>
