<!-- Need Fix:
    height 100% av skjerm
    styret-bildet bedre midtstilling
    innhold    -->

<div class="innhold">
    <div class="column1">
        <div id="styret">
            <a class="link" href="/styret">
               <div class="bildetekst">
                    <div style="padding-top: 3em; ">Styret</div>

               </div>
            </a>
        </div>
        <div id="update"><div style="font-size: 90px; text-align: center;">
            <a class="link" href="/update">Update<sup>k</sup></a></div></div>
       <!-- <div id="student">
            <p class="bildetekst">
                <br>Er du ny student?
            </p>
        </div> -->
        <div class="flip-container">
            <div class="flipper">
                <div class="front" style="background-image:url(../assets/images/høst_kontrast2014.jpg)">
                    <div style="background-color: rgba(255,255,255,0.6);">
                        <p style="font-size: 28px; padding:2em; margin-top: 2em; color:#212121; ">
                            Her kan du finne noen nyttige lenker</p>
                    </div>
                </div>
                <div class="back">
                    <table class="tekst">
                        <tr>
                            <td style="width: 35%; padding-right: 0.4em;"><strong>I & IKT<br>Timeplaner <br>Studentservice<br>
                                ITEAs infoweb<br>Orakeltjenesten
                                <br>Studentersamfundet
                                i Trondhjem<br>Universitesavisa<br>Under Dusken<br>Studentrådene<br></strong>

                            </td>
                            <td style="width: 65%;">
                                 	Rekrutterings- og infosider.<br>
                                Timeplanene til alle klassetrinn.<br>
                                Svarer på alle spørsmål du måtte ha<br>
                                Informasjonsbase for IT-systemet <br>
                                Support for IT-systemer under NTNU <br>
                                Norges største studentersamfunn. <br><br>
                                Nyheter fra campus. <br>
                                Trondheims studentavis <br>
                                Studentrådene ved NTNU
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <div class="column2">
        <div id="hybb">
            <div id="grifflogo">
                <section id="transition">
                    <img src="/assets/images/logo_big_transparent.png" />
                </section>
            </div>
                <p id="hybrida">
                    <b>Hybrida</b> er linjeforeningen for studieprogrammet <b>Ingeniørvitenskap og IKT</b> ved NTNU i Trondheim.
                        Foreningens formål er å fremme samhold og kameratskap innad på studieprogrammet ved bla.a. å
                    avholde arrangementer av både sosial og faglig karakter.
                </p>
        </div>
        <div id="student">
            <div class="bildetekst">
                <div style="padding-top: 3em;">
                    Ny Student?
                </div>

            </div>
        </div>
    </div>
    <div class="column3">
        <div class="flip-container2">
            <div class="flipper">
                <div class="front2" style="background-color: cadetblue;">
                    <img src="../assets/images/information.svg" style="height: 150px; width: 150px;
                    padding-top: 25px; float: left;"/>
                    <p style="float: left; padding-top: 50px; padding-left: 30px; font-size: 30px;">Kontaktinfo</p>
                </div>
                <div class="back2" style="background-color: cornflowerblue;">
                    <div style="float:left; width: 43%; margin: 1em;">
                        <h3> Kontor</h3>

                        Kjelleren i Gamle Kjemi,<br> rom 19<br>
                        Kolbjørn Hejes vei 4<br>
                        Tlf: 73 55 05 41
                    </div>
                    <div style="float:left; width: 43%; margin:1em;">
                        <h3> Postadresse</h3>

                        Linjeforeningen Hybrida<br>
                        Alfred Getz' vei 3<br>
                        SB 1<br>
                        7034 Trondheim<br>
                    </div>
                </div>
            </div>
        </div>
        <div id="griff">
            <div class="bildetekst">
                <div style="padding-top: 3em;">Griffens Orden</div>
            </div>
        </div>
        <div id="sanger">
        <div class="flip-container">
            <div class="flipper">
                <div class="front" style="background-color: lightblue;">
                    <div style="text-align: center; font-size: 24px; padding-top: 2em;">
                        Andre ting du kanskje leter etter ... ?</div>
                    <img src="../assets/images/monkey.png" style="height: 200px; width: 150px; padding:1.5em 50px 0 150px;"/>
                </div>
                <div class="back">
                    <div style="font-size: 30px; text-align:center; padding-top: 2em;">
                        <a>Tillitsvalgte</a><br><br>
                        <a>Sanger</a><br><br>
                        <a>Statutter</a>
                    </div>


                </div>
            </div>
        </div>

        </div>
    </div>
</div>

<style type="text/css">
    .tekst {
        font-size: 16px;
        padding-top: 1em;
        padding-left:1em;
        line-height: 1.6em;
    }
    .innhold {
        background: transparent;
        min-width:929px;
        width: 100%;
        overflow: auto;
        height: 850px;
    }
    .link {
        height: 100%;
    }
    .link:link {
        color:#212121;
        background-color:transparent;
        text-decoration:none;
    }
    .link:visited {
        color:#212121;
        background-color:transparent;
    }
    .bildetekst {
        margin: 0 auto;
        height: 100%;
        background-size: cover;
        background-color: lightblue;
        font-size:50px;
        text-align:center;
        opacity: 0;
        vertical-align: text-bottom;
    }
    .bildetekst:hover {
        opacity: 0.6;
        text-decoration-color: #212121;
    }
    .column1 {
        margin: 0 0 ;
        width: 32.5%;
        float: left;
        height:100%;
    }
    .column2 {
        width: 35%;
        float: left;
        height:100%;
        background-color: #ffffff;
    }
    .column3 {
        width: 32.5%;
        float: left;
        height: 100%;
    }
    #styret {
        margin: 0 auto;
        width: 100%;
        height:400px;
        background-image:url(../assets/images/styret.jpg);
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center;
    }
    #update {
        width:100%;
        height: 150px;
    }

    #kontaktinfo {
        float: left;
        width:100%;
        height:300px;
        background-color: steelblue;
    }
    #hybb {
        width:100%;
        height:65%;
        background-color: transparent;
    }
    #hybrida {
        color:#212121;
        padding: 1em 2.5em 1em 2.5em;
        text-align: center;
        font-size: 22px;
        line-height: 1.5;
    }
    #griff {
        height:350px;
        width:100%;
        background-image:url(../assets/images/griffens_orden.jpg);
        background-size: cover;
        background-position: center;
    }
    #student {
        float: left;
        height:35%;
        width:100%;
        background-image:url(../assets/images/ny_student.jpg);
        background-size: cover;
        background-position: center;
    }
    #tillitsvalgte {
        width:100%;
        height:35%;
        background-color: darkseagreen;
    }
    #lenker {
        margin: 0 auto;
        height: 40%;
        width:100%;
        background-color:cornflowerblue;
    }

    #grifflogo {
        padding-top: 2em;
        height: 140px;
        width: 100%;
        text-align: center;
        background-color: #ffffff;
    }
    #transition img {
        height:140px;
        width:140px;
        background-size: 200% 100%;
        background-color: blue;
        background-image: -webkit-linear-gradient(left, dodgerblue, blue, darkblue, darkblue, mediumblue, dodgerblue);
        background-image:    -moz-linear-gradient(left, dodgerblue, blue, darkblue, darkblue, mediumblue, dodgerblue);
        background-image:     -ms-linear-gradient(left, dodgerblue, blue, darkblue, darkblue, mediumblue, dodgerblue);
        background-image:      -o-linear-gradient(left, dodgerblue, blue, darkblue, darkblue, mediumblue, dodgerblue);
        background-image:         linear-gradient(left, dodgerblue, blue, darkblue, darkblue, mediumblue, dodgerblue);
        -moz-transition: all 0.3s ease-out;  /* FF4+ */
        -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
        -webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
        -ms-transition: all 0.3s ease-out;  /* IE10? */
        transition: all 0.3s ease-out;
    }

    #transition img:hover {
        background-position: -100% 100%;
    }
    #sanger {
        width: 100%;
        height:300px;

    }


                                        /* all css til flipper */

    .flip-container {
        -webkit-perspective: 1000;
        -moz-perspective: 1000;
        -o-perspective: 1000;
        perspective: 1000;
    }
    .flip-container2 {
        -webkit-perspective: 1000;
        -moz-perspective: 1000;
        -o-perspective: 1000;
        perspective: 1000;
    }
    .flip-container:hover .flipper,
    .flip-container.hover .flipper {
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
    .flip-container2:hover .flipper {
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
    .flip-container, .front, .back {
        width: 100%;
        height: 300px;
    }
    .flip-container2, .front2, .back2 {
        width: 100%;
        height: 200px;
    }
    .flipper {
        -webkit-transition: 0.6s;
        -webkit-transform-style: preserve-3d;
        -moz-transition: 0.6s;
        -moz-transform-style: preserve-3d;
        -o-transition: 0.6s;
        -o-transform-style: preserve-3d;
        transition: 0.6s;
        transform-style: preserve-3d;
        position: relative;
    }
    .front, .back, .front2, .back2 {
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
    }
    .front, .back2 {
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 2;
    }
    .back, .back2 {
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
        background: #ffffff;
    }
</style>