@(title: String, content: List[String])

@main(title) {

	<div class="wrap">
		<div class="head">
			<div class="banner">
				<a href="/">
					<img
						src="/assets/images/logo_head.png"
						alt=""
					/>
				</a>
				<div class="search">
					<input type="text" id="searchField" placeholder="Søk"/>
				</div>
			</div>
			<div style="clear:both"></div>
			<div class="navigation_pane">
				<ul>
					<li class="g-button"><a class="firstNavigationLink" href="/">Hjem</a></li>
					<li class="g-button"><a href="/kalender">Kalender</a></li>
					<li class="g-button"><a href="/artikler/Bedrift">Bedrift</a></li>
					<li class="g-button"><a href="/artikler/IKT-ringen">I&IKT-ringen</a></li>
					<li class="g-button"><a href="/artikler/Om+Hybrida">Om Hybrida</a></li>
					<li id="logx-button" class="g-button"><a href="/site/login?page=%2F">Logg inn</a></li>
				</ul>
			</div>
			<div style="clear:both"></div>
		</div>
		<div class="content">
			@for(c <- content) {
				<li>@c</li>
			}
		</div>
		<div id="footer">
		</div>
	</div>
}