@(pageTitle: String, pageContent: Html, headContent: Html = null, subTitle: String = null, imageFile: String = null, subNavButtons: Html = null, formAction: String = null)

@layoutWithHead("Hybrida - "+pageTitle) {
    <div class="page">
    @if(formAction != null) {
        <form method="POST" action="@formAction">
    }
    <h5 class="smallTitle">@pageTitle@if(subTitle != null && !subTitle.equals("")) { - @subTitle }</h5>
    <div class="buttons">
        @(if(subNavButtons != null) subNavButtons)
    </div>
    <div class="pageInner">
    @if(imageFile != null && !imageFile.equals("")) {
        <div class="pageItem picFrame"><img class="pic" src="@routes.Assets.at(imageFile)"></div>
    }
    <h1 class="pageItem bigTitle">@pageTitle</h1>
    @if(subTitle != null && !subTitle.equals("")) {
        <h3 class="pageItem bigSubTitle">@subTitle</h3>
    }
    @pageContent
    <div class="clearfix"></div>
    </div>
    @if(formAction != null) {
        </form>
    }
    </div>
} {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("/stylesheets/page.css")">
    @headContent
}