<div class="wrap">
		<div class="head">
			<div class="banner">
				<a href="/">
					<img
						src="/assets/images/logo_head_2.png"
						alt=""
					/>
				</a>
				<div class="search">
					<form action="/search" method="GET">
						<input type="text" name="term" id="searchField" placeholder="Søk"/>
					</form>
				</div>
			</div>
			<div style="clear:both"></div>
			<div class="navigation_pane">
				<ul>
					<li class="g-button"><a class="firstNavigationLink" href="/">Hjem</a></li>
					<li class="g-button"><a href="/kalender">Kalender</a></li>
					<li class="g-button"><a href="/Bedrift">Bedrift</a></li>
					<li class="g-button"><a href="/IKT-ringen">I&IKT-ringen</a></li>
					<li class="g-button"><a href="/gitgud">Om Hybrida</a></li>
					<li id="logx-button" class="g-button"><a href="/site/login?page=%2F">Logg inn</a></li>
				</ul>
			</div>
			<div style="clear:both"></div>
		</div>
		<div class="content">