
@(content: Html)

<img src="/assets/images/mlg.jpg" alt="rect"/>
    <p><h1><b>Hybrida professional MLG diamond league Lol team:</b></h1></p>
    <h2>
        <p><a href="http://euw.leagueoflegends.com/en " target="_blank"> Visit LoL </a></p>
        <form name="input" action="/lol" method="POST" style="display: inline">
            <input type="text" name="gamertag">
            <input type="submit" value="Submit">
        </form>
        <form name="clear" action="/lol/clear" method="POST" style="display: inline">
            <input type="submit" value="Clear">
        </form><br>

        <p><h1>Dj Syndeflood</h1></p>
        @content
    </h2>


