<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    $("document").ready(function($) {
        var nav = $('#navigation_menu');
        var lastScrollTop = 0;
        $(window).scroll(function () {
            var scrolltop = $(this).scrollTop();
            if (scrolltop >= lastScrollTop && scrolltop > 64) {
                nav.addClass("scroll_change");
            } else {
                nav.removeClass("scroll_change");
            }
            lastScrollTop = scrolltop;
        });
    });
</script>
<div id="navigation_menu">

    <ul>
        <li id="logo_image"><a href="/"><img src="/assets/images/griff_head.svg" alt="SUPERLOGO"/></a></li>
        <input type="checkbox" name="burger" id="burger" />
        <label for="burger" id="burger_label"><div id="burger_image"></div></label>
        @if(models.LoginState.getUser().canCreateNewArticle()) {
            <li class="navigation_element"><a class="navigation_menu_link" href="/feed">Announce</a></li>
        }
        @if(models.LoginState.isValidlyLoggedIn()) {<li class="navigation_element"><a class="navigation_menu_link" href="/Chat">Chat</a></li>}
        <li class="navigation_element"><a class="navigation_menu_link" href="/hybrida">Om Hybrida</a></li>
        @if(models.LoginState.isValidlyLoggedIn()) {
            <li style="float: right" class="navigation_element">
                <a class="navigation_menu_link" href=@("/profil/" + models.LoginState.getUser().getUsername())>@(models.LoginState.getUser().getName())</a>
            </li>
        }
        <li style="float: right" class="navigation_element">
            <!-- @(play.mvc.Http.Context.current().request().path()) -->
            @if(models.LoginState.isValidlyLoggedIn()) {
                <a class="navigation_menu_link" href="/logout">Logg ut</a>
            } else {
                <a class="navigation_menu_link" href="/login(play.mvc.Http.Context.current().request().path())">Logg inn</a>
            }
        </li>
        <li style="float: right;" class="navigation_element">
            <!--<a class="navigation_menu_link" href=>Søk</a> -->
            <div id="search_bar">
                <form action="/search" method="GET">
                    <input type="text" name="term" id="search_field" placeholder="Søk"/>
                </form>
            </div>
        </li>
    </ul>
</div>
<div id="navigation_ghost">

</div>
