@(user: User)

<h5 class="title">Din profil</h5>
@if(models.LoginState.getUser().getUsername == user.getUsername()) {
    <a class="float-right button" href="user.getUsername()/rediger">Rediger</a>
}
<div class="profile">
    @if(user.hasProfileImage()) {
        <img class="pic" src="/assets/images/profiles/@user.getUsername()/@user.getProfileImageFileName()">
    }
    <h1 class="name">@user.getName()</h1>
    @if(user.hasMiddleName()) {
        <h3 class="name-with-mName">@user.getName(true)</h3>
    }
    <div class="info-block">
        <ul>
            <li>
                <div class="label">BRUKERNAVN</div>
                <div class="info">@(user.getUsername())</div>
            </li>
            <li>
                <div class="label">NTNU-E-POST</div>
                <div class="info">@(user.getUsername())@@stud.ntnu.no</div>
            </li>
            @if(user.hasAltEmail()) {
                <li>
                    <div class="label">ALTERNATIV E-POST</div>
                    <div class="info">@user.getAltEmail()</div>
                </li>
            }
            @if(user.hasWebsite()) {
                <li>
                    <div class="label">HJEMMESIDE</div>
                    <div class="info">@user.getWebsite()</div>
                </li>
            }
            @if(user.hasPhone()) {
                <li>
                    <div class="label">TELEFON</div>
                    <div class="info">@user.getPhone()</div>
                </li>
            }
        </ul>
    </div>
    <div class="info-block">
        <ul>
            @if("mf".contains(user.getGender())) {
                <li>
                    <div class="label">KJØNN</div>
                    <div class="info">@(if (user.getGender() == 'm') "Mann" else "Kvinne")</div>
                </li>
            }
        </ul>
    </div>
</div>
