@(content: Html)

@main("Hybrida") {
    @navmenu_proto()
    <div>
        <div class="split_div">
            <div style="padding: 2em 4%; background-color: #ffffff;">
                <div style="border-bottom: 2px solid  #9e9d98 ">
                    <p>NEWSFEED</p>
                </div>
                @content
            </div>
        </div>
        <div class="split_div">
            <div style="padding: 2em 4%; background-color: #ffffff;">
                <div style="border-bottom: 2px solid  #9e9d98 ">
                    <p>NEWSFEED</p>
                </div>
                    @content
            </div>
        </div>
    </div>
}