@(title: String, content: String)

@main(title) {
    @navmenu()
    <div style="min-width: 929px">
        <img src="/assets/images/hybirda.png" alt="HYBIRDA!!!!!" width="100%" />
        <div style="padding: 2em 4%; background-color: #ffffff; margin-top: -5px;">
            <div style="border-bottom: 2px solid  #9e9d98 ">
                <p style="font-family:sans-serif;color: #9e9d98;">NEWSFEED</p>
            </div>
            <div style="background-color: #ffffff">
                <p>@Html(content)</p>
            </div>
        </div>
    </div>
}