@()
<link rel="stylesheet" media="screen" href= "@routes.Assets.at("stylesheets/update.css")">

<h1>UPDATE<sup>k</sup></h1>
<hr>
    <img id = "updatebilde" src = /assets/images/update.png alt = "rect">
<div class="articletext">
    <p>Update<sup>k</sup> (’/øpdeit ikå:té’/, red.anm.) er linjeforeningsavisen til Hybrida - en avis av og for Hybrider.
        <a href="@controllers.routes.Update.redaksjon()">Redaksjonen</a> har som mål å gi ut tre aviser på høstsemesteret og fire,
        med en sommeravis i posten til de nye studentene, på
        vårsemesteret. Avisen printes og distribueres (i all hovedsak
        på lesesalen), og er tilgjengelig på nett for hybrider."</p>
    <p>Tidligere utgaver av Update<sup>k</sup> ligger <a href=@controllers.routes.Update.utgaver()>her</a></p>
    <p>Dersom du er alumni og ønsker å abonnemere på avisen,
        kan du sende en mail til redaktøren.</p>
<div/>