@()
<link rel="stylesheet" media="screen" href= "@routes.Assets.at("stylesheets/update.css")">

<div style="padding: 10%">
    <div style="padding: 2em 4%; background-color: #ffffff; border-radius: 5px;">
        <div style="border-bottom: 2px solid  #9e9d98 ">
            <p style="font-family:sans-serif;color: #9e9d98;">UPDATE<sup>k</sup></p>
        </div>
        <div style="background-color: #ffffff">
            <br>
            <div style="margin-left: 23%">
    <img id = "updatebilde" src = /assets/images/update.png alt = "rect" ></div>
<div class="articletext">
    <p>Update<sup>k</sup> (’/øpdeit ikå:té’/, red.anm.) er linjeforeningsavisen til Hybrida - en avis av og for Hybrider.<br>
        <a href="@controllers.routes.Update.redaksjon()">Redaksjonen</a> har som mål å gi ut tre aviser på høstsemesteret og fire,
        med en sommeravis i posten til de nye studentene, på
        vårsemesteret. Avisen printes og distribueres (i all hovedsak
        på lesesalen), og er tilgjengelig på nett for hybrider."</p>
    <p>Tidligere utgaver av Update<sup>k</sup> ligger <a href=@controllers.routes.Update.utgaver()>her</a></p>
    <p>Dersom du er alumni og ønsker å abonnemere på avisen,
        kan du sende en mail til redaktøren.</p>
<div/>
    </div>
    </div>
            </div>