@(user: User)

<h5 class="title">Din profil</h5>
    <form action="lagre">
    @if(models.LoginState.getUser().getUsername == user.getUsername()) {
        <input class="float-right button" type="submit" value="Lagre">
    }

    <div class="profile">
        @if(user.hasProfileImage()) {
            <img class="pic" src="/assets/images/profiles/@user.getUsername()/@user.getProfileImageFileName()">
        }
    <h1 class="name">@user.getName()</h1>
        @if(user.hasMiddleName()) {
            <h3 class="name-with-mName">@user.getName(true)</h3>
        }
    <div class="info-block">
        <ul>
            <li>
                <div class="label">BRUKERNAVN</div>
                <input type="text" name="first_name" value="@(user.getUsername())">
            </li>
            <li>
                <div class="label">NTNU-E-POST</div>
                <input type="text" name="email" value="@(user.getUsername())@@stud.ntnu.no">
            </li>
            <li>
                <div class="label">ALTERNATIV E-POST</div>
                <input type="text" name="altemail" value="@user.getAltEmail()">
            </li>
            <li>
                <div class="label">HJEMMESIDE</div>
                <input type="text" name="homepage" value="@user.getWebsite()">
            </li>
            <li>
                <div class="label">TELEFON</div>
                <input type="text" name="phone" value="@user.getPhone()">
            </li>
        </ul>
    </div>
    <div class="info-block">
        <ul>
        @if("mf".contains(user.getGender())) {
            <li>
                <div class="label">KJØNN</div>
                <div class="info">@(if (user.getGender() == 'm') "Mann" else "Kvinne")</div>
            </li>
        }
        </ul>
    </div>
    </div>
    </form>
