@(user: User, messages: java.util.List[Html])

@profile(user, true, true, messages) {
    <div class="info-block">
        <ul>
            <li>
                <div class="label">NTNU-E-POST</div>
                <div class="info">@(user.getUsername())@@stud.ntnu.no</div>
            </li>
            <li>
                <div class="label">ALTERNATIV E-POST</div>
                <div class="info"><input type="text" name="email" value="@user.getAltEmail()"></div>
            </li>
            <li>
                <div class="label">HJEMMESIDE</div>
                <div class="info"><input type="text" name="homepage" value="@user.getWebsite()"></div>
            </li>
            <li>
                <div class="label">TELEFON</div>
                <div class="info"><input type="text" name="phone" value="@user.getPhone()"></div>
            </li>
        </ul>
    </div>
    <div class="info-block">
        <ul>
        @if("mf".contains(user.getGender())) {
            <li>
                <div class="label">KJØNN</div>
                <div class="info">
                    <input type="radio" name="sex" value="m" @(if (user.getGender() == 'm') "CHECKED")> <label for="sex">Mann</label> /
                    <input type="radio" name="sex" value="f" @(if (user.getGender() == 'f') "CHECKED")> <label for="sex">Kvinne</label>
                </div>
            </li>
        }
        </ul>
    </div>
}