@(user: User, authorized: Boolean, messages: java.util.List[Html])

@profile(user, authorized, false, messages) {
<div class="info-block">
    <ul>
        <li>
            <div class="label">NTNU-E-POST</div>
            <div class="info">@(user.getUsername())@@stud.ntnu.no</div>
        </li>
        @if(user.hasAltEmail()) {
            <li>
                <div class="label">ALTERNATIV E-POST</div>
                <div class="info">@user.getAltEmail()</div>
            </li>
        }
        @if(user.hasWebsite()) {
            <li>
                <div class="label">HJEMMESIDE</div>
                <div class="info">@user.getWebsite()</div>
            </li>
        }
        @if(user.hasPhone()) {
            <li>
                <div class="label">TELEFON</div>
                <div class="info">@user.getPhone()</div>
            </li>
        }
    </ul>
</div>
@if("mf".contains(user.getGender())) {
    <div class="info-block">
        <ul>
        @if("mf".contains(user.getGender())) {
            <li>
                <div class="label">KJØNN</div>
                <div class="info">@(if(user.getGender() == 'm') "Mann" else "Kvinne")</div>
            </li>
        }
        </ul>
    </div>
}
}