
<div class="kropp">
<div class="container">
		<div class="row blank"></div> 
		<div class="row">
			<div class="tittel center-block">
					<div class="col-md-6 whitebox topright topleft undershit col-md-offset-3">
						<h1 class="text-center"> NY STUDENT? </h1>
					</div>

			</div>
		</div>
		<div class="row undershiit">
				<div class="col-md-6 whitebox undershit col-md-offset-3">
					<p class="text-center">
					_______________________
					</p>
				</div>
		</div>

		<div class="row">
			<div class="col-md-3 whitebox blankcol col-md-offset-3"></div>
			<div class="col-md-3 whitebox blankcol"></div>
		</div> 

		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-3 paragraph whitebox bottomleft undershit">
				<p>Svein hadde kommet dit at ekteskapet ikke blomstret lenger,
				kjerringa styrer fjernkontrollen og på kjøkkenet er det ingen kjerring som henger.
				Når Svein hadde begynt å drikke, kunne Svein bli litt voldsom.
				Da hendtedet  seg at knyttnevene haglet og blåmerkene kom. </p>

				<p>Nå får du velge kjerring! Enten blir det puling eller så blir det juling?
				Svein hadde ei innrøkt bygdekjerring, selv om han drømte om en tur til Thailand for å skaffe seg en guling.
				Han hadde vært i Thailand en gang før, 
				der hadde han møtt en hyggelig person som kalte seg Cherry som hadde et trangt rør.</p>

				<p>Denne Cherry hadde ein fryktelig bollemus som syntes noe fælt gjennom trusa, men Svein fikk ikke lov til å røre.
				Der fikk hadde beskjed om at det ikke var noe bra føre. 
				Svein hadde lært hjemme at det var viktlig at når folk snakket så skulle man høre!
				Selv om Svein ikke klarte å slutte med å fantasere om denne bollemusa han så gjerne ville forføre.</p>
			</div>
			<div class="col-md-3 paragraph whitebox bottomright bottomlefthidden">
				<p>Svein hadde nesten holdt seg unna bollemusa de fjorten dagene han skulle Phuket.
				Men alle som kjenner Svein vet at når siste kvelden kom da gir Svein faen og lar det skje.
				Svein hadde drukket seg til mot, 
				han følte seg klar, han oppførte seg tross alt som en idiot!</p>

				<p>Svein tok Cherry med opp på hotellrommet, 
				han kjente punge sprenge, nå var det på tide å la saftene flomme!
				(Det var ikke naturlige safter, hvis du ikke har skjønt det til nå så er Cherry en ladyboy,
				han virkelige navn er Phan Suuk Hoi.)</p>

				<p>Svein rev trusa av Cherry, kjære lille-Jesus som kom til verden utenfor ekteskapet utrbrøt Svein, du er jo en kar!
				Han kjente alkoholen tynge, det sjokket gjorde at han følte seg svært rar.
				Plutselig stod han på alle fire, og bak stod Cherry og spyttet han brunøyet.
				Faen heller tenkte Svein, dette er siste kvelden, da er det ikke så jævla nøye.
				&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp
				</p>
				
			</div>
			<div class="col-md-3"></div>
		</div>
			<div class="row blank"></div> 
	</div>
</div>