<div>
    <div class="container">
        <div class="row space-above space-below">
            <div class="col-md-10 col-md-offset-1 transparent-box rounded">
                <div class="text-center">
                    <h1>Arrangementkomitéen</h1>
                </div>
                <div class="paragraph">
                    <p>
                        <img class="center-block" src="/assets/images/arrkom_bilde.jpg">
                    </p>
                    <p>
                        ArrKom er en av underkomiteene til Hybrida og er ansvarlig for organisering og gjennomføring av linjeforeningens tradisjonelle og sosiale arrangementer. Komiteen består av en gruppe medlemmer og ledes av festivalus.
                        Arrangementene og tilstelninger varierer fra månedlig quiz og lånepils til årlige gallaer som immatrikuleringen og nyttårsball.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
