<div class="article-bg">
    <div class="container">
        <div class="row space-above space-below">
            <div class="col-md-10 col-md-offset-1 transparent-box rounded">
                <div class="text-center">
                    <h1>Arrangement Komite</h1>
                </div>
                <div class="paragraph">
                    <h2>Arrkom</h2>
                    <p>
                        Her kommer en flott side om arrkom
                    </p>
                    <p>
                        <img class="center-block" src="/assets/images/arrkom_bilde.jpg">
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
