<div class="article-bg">
    <div class="container">
        <div class="row space-above"></div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1 transparent-box rounded">
                    <div class="text-center" id='article-title'>
                        <h1 style="border-bottom: black solid 1px; display: inline-block; width: 350pt;">
                            Ekskursjoner
                        </h1>
                    </div>
                </div>
            </div>

        <div class="row space-above space-below">
            <div class="col-md-10 col-md-offset-1 transparent-box paragraph rounded">
                <div>

                    <!--
                    <h2 style="border-bottom: black dotted 1px; display: inline-block">
                        Om
                    </h2>
                    -->
                    <p>
                        Som medlem i I&IKT-ringen kan man få muligheten til å arrangere ekskursjoner. Bedriften vil da
                        få besøk av en gruppe studenter, der de vil få muligheten til å gi en omvisning og fortelle om
                        bedriften i sitt eget miljø.
                    </p>
                    <p>
                        Annethvert år reiser studenter fra 3.- og 4.-klasse på ekskursjon til utlandet. For bedrifter
                        som også her virksomhet har vil det kunne ordnes besøk i disse lokalene. Dette er en fin mulighet
                        til å vise hvordan bedriften virker i andre deler av verden.
                    </p>


                </div>
                <div>
            </div>
            </div>
        </div>

    </div>
</div>
