<nav class="transparent-box" id="sidebar">
    <ul class="nav nav-pills nav-stacked">
        <li><a class="page-link" href="#1">Hybrida</a></li>
        <li><a class="page-link" href="#2">Styret</a></li>
        <li>
            <a class="page-link" href="#3">Hybridas Komitéer</a>
            <ul class="nav nav-pills nav-stacked sub-nav">
                <li><a href="@staticpages.routes.Info.vevkom()">VevKom</a></li>
                <li><a href="@staticpages.routes.Info.bedkom()">BedKom</a></li>
                <li><a href="@staticpages.routes.Info.arrkom()">ArrKom</a></li>
                <li><a href="@staticpages.routes.Info.jentekom()">JenteKom</a></li>
                <li><a href="@staticpages.routes.Info.redaksjonen()">Redaksjonen</a></li>
            </ul>
        </li>
        <li><a class="page-link" href="#4">Update</a></li>
        <li><a class="page-link" href="#5">Informasjon til nye studenter</a></li>
        <li><a class="page-link" href="#6">Griffens Orden</a></li>
        <li>
            <a class="page-link" href="#7">Kontaktinformasjon</a>
            <ul class="nav nav-pills nav-stacked sub-nav">
                <li><a href="#adresse">Adresse</a></li>
            </ul>
        </li>
    </ul>
</nav>

<div class="pages">
    <section id="Hybrida">
    <a href="#" name="Hybrida"></a>
    <div id="hybb">

        <div id="grifflogo" >
            <section id="transition">
                <img src="@controllers.routes.Assets.at("/images/logo_big_transparent_shadow.png")" />
            </section>
        </div>
        <p id="hybrida">
            <b>Hybrida</b> er linjeforeningen for studieprogrammet <b>Ingeniørvitenskap og IKT</b> ved NTNU i Trondheim.
            Foreningens formål er å fremme samhold og kameratskap innad på studieprogrammet ved blant annet å
            avholde arrangementer av både sosial og faglig karakter.
        </p>

    </div>
    </section>
    <section id="Styret">
        <div id="styret">
            <a href="#" name="Styret"></a>
            <a class="link" href="@staticpages.routes.Info.styret()">
                <div class="bildetekst" >Styret i Hybrida</div>

            </a>

        </div>
    </section>
    <section id="Komitéer">
        <div id="Komitéer">
            <a href="#" name="Komitéer"></a>
            <a class="link" href="@staticpages.routes.Info.styret()">
                <h2 class="bildetekst"> Hybridas Komitéer </h2>
                    <p>Vevkom <br>BedKom <br>ArrKom<br>Jentekom<br>Redaksjonen</p>


            </a>

        </div>
    </section>
    <section id="Update">
        <div id="update">
            <a href="#" name="Update"></a>
            <a class="link" href="@update.routes.Update.index()">
            <div class="bildetekst">Update<sup>k</sup></div>
            </a>
        </div>
    </section>
    <section id="Student">
    <div id="student">
        <a href="#" name="Student"></a>
        <a class="link" href="@newstudent.routes.NewStudent.index()">

        <div class="bildetekst">
            <div>
                    Ny Student?
            </div>
        </div>
        </a>
    </div>
    </section>
    <section id="GriffensOrden">
    <div id="griff">
        <a href="#" name="GriffensOrden"></a>
        <a class="link" href="@griffensorden.routes.GriffensOrden.index()">
        <div class="bildetekst">
            <div>Griffens Orden</div>
        </div>
        </a>
    </div>
    </section>
    <section id="Kontaktinfo">
    <div id="kontakinfo">
        <a href="#" name="Kontaktinfo"></a>
        <div class="bildetekst">
            <div style="color: #212121;">Kontakinformasjon</div>
        </div>
    </div>
    </section>

</div>

