
<div class="article-bg" style="background-image: url('@routes.Assets.at("images/nys.png")')">
<div class="container-fluid center-container">
		<div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
                <div class="transparent-box rounded space-above space-below">
                    <div class="row">
                            <div class="col-xs-12">
                                <h1 class="text-center"> NY STUDENT? </h1>
                            </div>

                    </div>
                    <div class="row">
                            <div class="col-xs-6 col-xs-offset-3">
                                <hr>
                            </div>
                    </div>

                    <div class="row">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>