<div class="article-bg" style="background-image: url(../assets/images/binary-code.jpg)">
	<div class="container">
		<div class="row space-above space-below">

			<div class="col-md-6 col-md-offset-5 transparent-box rounded">
				<div class="text-center">
					<h1>VevKom</h1>
				</div>
				<div class="paragraph">
					<p>
						<strong>Vevkom er en av komitéene til linjeforeningen Hybrida, og er ansvarlig for utvikling, vedlikehold og kontroll av nettsiden til Hybrida. </strong></p>
                    <p>
						 Vevkom er linjeforeningens teknosentriske komité. Dette er komitéen for hybrider som er glad i teknologi og programmering, og ønsker å kombinere denne interessen med sin kjærlighet til linjeforeningen. Vi har som hovedoppgave å sørge for at Hybrida har en pen og velfungerende hjemmeside. I tillegg arrangerer vi HybridLAN hvert semester, der vi tilbyr konkurranser, pizza, en chill-lounge (aka Oda-rommet) for de som får 1337-overdose, og selvfølgelig gaming til langt ut i morgentimene. Komiteén har i mer enn ett år nå holdt på med utviklingen av Hybridas nye nettside, med nytt og bedre design, samt bedre… vel, alt, egentlig! Lanseringen skal skje til <s>høsten</s> våren, og for å nå det målet holder vi ukentlige arbeidsmøter hvor agendaen består av kakespising, diskusjon, programmering og mer kakespising.  </p>
					<br>
					<p>
                        Har du noe på hjertet, ikke nøl med å ta kontakt!
					<p>
						<strong>Vevkomitésjef</strong> Simen Norderud Jensen simennj@@stud.ntnu.no</p>
				</div>
				<div>
				</div>
			</div>
		</div>
	</div>
</div>
